/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
}
div.hdrWrap>div.header>h1{
  width: calc(100% / 4 * 2);
}
div.hdrWrap ul.tab{
  padding: 0px 20px;
}
div.hdrWrap ul.tab h1{
  font-size: 32px;
}
div.hdrWrap ul.tab li{
  font-size: 18px;
}


/* 메인 */
div.mainWrap>div.main>div.mainGroup {
  height: 350px;
}
div.mainWrap>div.main>div.mainGroup>div.image {
  height: 350px;
}
div.mainWrap>div.main>div.mainGroup>div.image h3 {
  font-size: 27px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}
div.mainWrap>div.main>div.mainGroup>div.image h5 {
  font-size: 16px;
  line-height: 27px;
  height: 54px;
  overflow: hidden;
}
div.mainWrap>div.main>div.mainGroup>div.image div.btn{
  font-size: 17px;
  line-height: 30px;
  height: 30px;
}
div.mainWrap>div.main>div.mainGroup>div.image.i2>div.txt{
  top: 115px;
}
div.mainWrap>div.main>div.btns{
  display: none;
}
div.mainWrap>div.main>div.mainGroup>div.image.i2 div.btn{
  width: calc(100% / 12 * 4.2);
}


/* 컨텐츠 공통 */
div.cntWrap>div.content{
  width: 80%;
}
div.cntWrap>div.content>div.section{
  margin-top: 0px;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 20px;
}
div.cntWrap>div.content>div.header>h5{
  font-size: 12px;
  display: none;
}

/* 컨텐츠1 */

div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab{
  height: 30px;
  overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li{
  margin-right: 8px;
  margin-top: 0px;
  line-height: 25px;
  font-size: 12px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li.hLight{
  font-size: 14px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li.hLight::after{
  left: 0;
  width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.artView{
  height: 370px;
  margin-left: -20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article{
  width: calc(100% - 10px);
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article>div.image{
  height: 280px;
  background-size: contain;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.paging{
  bottom: -436px;
  width: 39%;
  min-width: 22%;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
  width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>div.textGroup{
  height: 423px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>ul.paging{
  width: 28%;
  left: 0;
  right: 0;
  margin: auto;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
  padding-left : 0
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft h3{
  float: left;
  line-height: 55px;
  font-size: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft h5{
  float: left;
  margin-left: 13px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft h5::after{
  width: 107%;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft p{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight{
  margin-top: 80px;
  width: 100%;
  left: -24px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns{
  width: 79%;
  margin-right: 45px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn:nth-child(1){
  color: #fff;
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn>i {
  color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup {
  width: 600%;
  margin-left: -100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article>div.image.i3{
  height: 207px;
  top: 55px;
}

/* 배너2 */

div.bnrWrap.bnrWrap02{
  margin-top: 170px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02{
  width: 80%;
  height: 119px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>h3{
  font-size: 23px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>p{
  font-size: 13px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.btn{
  width: calc(100% / 4 * 2);
  margin-top: 18px;
}


/* 컨텐츠3 */


div.cntWrap>div.content.cnt03>div.section{
  margin-top: 40px;
}

div.cntWrap>div.content.cnt03>div.header>ul.tab{
  padding: 0;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li{
  width: calc(100% / 5 - 12px);
  margin: 0 6px;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image{
  height: 50px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image{
  height: 200px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts{
  padding: 0px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h5{
  font-size: 11px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h4{
  display: none;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h3{
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}
div.cntWrap>div.content.cnt03>div.section>ul.paging{
  min-width: calc(100% / 4 * 0.9);
  width: calc(100% / 4);
}

/* 배너3 */
div.bnrWrap.bnrWrap03>div.banner.bnr03{
  width: 90%;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.image{
  width: 60%;
  height: 200px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts{
  width: 40%;
  height: 200px;
  padding: 40px 20px 20px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>p:nth-child(2){
  margin-top: 0px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5{
  margin-top: 10px;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5>i{
  font-size: 18px;
}

/* 푸터 */
div.ftrWrap>div.footer{
  width: 90%;
  padding-bottom: 60px;
  padding-top: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
  display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
  margin: 0px;
  font-size: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  margin-top: 30px;
  height: 20px;
  overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrRight{
  margin-top: -50px;
}
div.ftrWrap>div.footer>div.ftrRight>i{
  font-size: 20px;
}
