@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lora&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Oooh+Baby&family=Work+Sans:wght@300&display=swap');


body{
    overflow-x: hidden;
    position: relative;
}

/* 헤더 */
div.hdrWrap{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  color: #4f4e4c;
}
div.hdrWrap.fix{
  position: fixed;
  background-color: #fff;
  background: linear-gradient(180deg,white 31%, rgba(255, 255, 255, 0) 155%)
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0 10px;
  line-height: 50px;
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}

/* 헤더 사이드슬라이드 */
div.hdrWrap ul.tab{
  display: block;
  position: absolute;
  top: 0;
  width: calc(100% / 8 * 7.5);
  height: 100vh;
  z-index: 5;
  padding: 0px calc(100% / 8);
  right: -100%;
  background-color: rgb(255, 255, 255);
  line-height: 80px;
  box-shadow: 7px 0 30px #666;
}
ul.tab li a{
  padding-right: 20px;
}
div.hdrWrap ul.tab h1{
  width: calc(100% / 7 * 3);
  font-size: 38px;
  font-weight: 700;
  font-family: 'Lora';
  float: left;
  text-align: left;
}
div.hdrWrap .btns{
  width: calc(100% / 7 * 4);
  float: left;
  font-size: 40px;
  height: 50px;
}
div.hdrWrap .btn{
  float: right;
  margin-left: 15px;
}
div.hdrWrap ul.tab li:nth-child(2){
  margin-top: 50px;
}
div.hdrWrap ul.tab li:nth-child(3){
  height: 0;
  overflow: hidden;
  transition: all 0.5s ;
}
div.hdrWrap ul.tab li:nth-child(4){
border-top: 2px solid rgb(199, 199, 199);
}
div.hdrWrap ul.tab li:nth-child(5){
border-top: 2px solid rgb(199, 199, 199);
}
div.hdrWrap ul.tab li.on{
  background-color: #ffe373;
}
div.hdrWrap ul.tab li.on+li{
  height: 160px;
  background-color: #fffaf0;
}
div.hdrWrap ul.tab li.on+li>h5{
  border-top: 2px solid rgb(231, 231, 231);
}
div.hdrWrap ul.tab li:nth-last-child(1){
  margin-top: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
}
div.hdrWrap ul.tab span{
  font-size: 38px;
  height: 50px;
  float: left;
}
div.hdrWrap ul.tab li{
  text-align: right;
  width: 100%;
  font-size: 23px;
  line-height: 80px;
  height: 80px;
}
div.hdrWrap ul.tab h5{
  padding-right: 50px;
}
div.hdrWrap ul.tab h4:nth-child(2){
  border-left: 1px solid #ccc;
}
div.hdrWrap ul.tab h4{
  width: 50%;
  float: left;
  text-align: center;
  background-color: rgb(56 77 59);
  color: #fff;
}
div.hdrWrap>div.header>ul.nav{
  width: calc(100% / 12 * 4.5);
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  font-size: 19px;
  margin-right: 15px;
  height: 50px;
  overflow: hidden;
}
div.hdrWrap>div.header>ul.nav>li:hover::after{
  content: '';
  height: 5px;
  background-color: #fc0;
  display: block;
  width: 100%;
  animation-name: move;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: unset;
  margin: 0 auto;
  margin-top: -10px;
}
@keyframes move{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
div.hdrWrap>div.header>h1>img{
  display: block;
  width: 50px;
  height: 50px;
}
div.hdrWrap>div.header>h1>a{
  width: 65%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
div.hdrWrap>div.header>h1{
  width: calc(100% / 12 * 3.5);
  font-size: 41px;
  float: left;
  text-transform: uppercase;
  font-family: 'Lora';
  text-align: center;
  background-image: url('../images/logo.png');
  background-size: contain;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
div.hdrWrap>div.header>ul.menu{
  width: calc(100% / 12 * 4);
  margin-left: auto;
  text-align: right;
}
div.hdrWrap>div.header>ul.menu>li{
  display: inline-block;
  font-size: 28px;
  margin-left: 3px;
  cursor: pointer;
  position: relative;
}
div.hdrWrap>div.header>ul.menu>li>div.box{
  width: 500%;
  height: 0px;
  top: 50px;
  left: -35px;
  overflow: hidden;
  position: absolute;
  padding: 10px 20px;
  opacity: 0;
}
div.hdrWrap>div.header>ul.menu>li>div.box>h4{
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.menu>li>div.box>h4:hover{
  font-weight: 700;
  color: rgb(48, 70, 50);
}
div.hdrWrap>div.header>ul.menu>li:nth-child(2):hover>div.box{
  background-color: #fff;
  height: 115px;
  border: 1px solid #999;
  opacity: 1;
}
div.hdrWrap>div.header>div.btn{
  display: none;
}

/* 컨텐츠 */
.icon{
  text-indent: -999px;
  color: transparent;
}
.images{
  text-indent: -999px;
  color: transparent;
}

div.art.New{
  display: none;
}
div.cntWrap{
  margin-top: 100px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

div.cntWrap>div.content>div.header>div.btns{
  width: calc(100% / 12 * 2);
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.header>div.btns>div{
  width: 50%;
  height: 40px;
  line-height: 40px;
  border: 2px solid #f8b551;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  float: left;
  text-align: center;
  font-family: 'Work Sans';
  cursor: pointer;
}
div.cntWrap>div.content>div.header>div.btns>div.btn{
  background-color: #f8b551;
  transition: ackground-color 0.5s;
}
div.cntWrap>div.content>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content div.article:nth-child(1)~.article{
  margin-top: 80px;
  opacity: 0;
  transition: all 0.8s;
}

/* 홀수번 아티클 */

div.cntWrap>div.content div.article:nth-child(odd)::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content div.article:nth-child(odd)>div.texts{
  float: left;
}
div.cntWrap>div.content div.article:nth-child(odd)>div.images{
  float: left;
}
div.cntWrap>div.content div.article:nth-child(odd)>div.images>div.bgSml{
  top: 180px;
  left: 0;
  
}
div.cntWrap>div.content div.article:nth-child(odd)>div.images>div.image{
  top: 20px;
  left: calc(100% / 9 * 0.5);
}
div.cntWrap>div.content div.article:nth-child(odd)>div.images>div.bgBig{
  right: 0;
}
 
/* 짝수번 아티클 */

div.cntWrap>div.content div.article:nth-child(even)::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content div.article:nth-child(even)>div.texts{
  float: right;
}
div.cntWrap>div.content div.article:nth-child(even)>div.images{
  float: right;
}
div.cntWrap>div.content div.article:nth-child(even)>div.images>div.bgSml{
  top: 180px;
  right: 0;
}
div.cntWrap>div.content div.article:nth-child(even)>div.images>div.image{
  top: 20px;
  right: calc(100% / 9 * 0.5);
}
div.cntWrap>div.content div.article:nth-child(even)>div.images>div.bgBig{
  right: calc(100% / 9 * 5.6);
}
div.cntWrap>div.content div.article>div.texts{
  width: calc(100% / 12 * 3);
  text-align: center;
  margin-right: 40px;
  padding-bottom: 80px
}
div.cntWrap>div.content div.article>div.texts>h2{
  font-size: 65px;
  line-height: 80px;
  font-weight: 700;
  font-style: italic;
  font-family: 'Lora';
      
}
div.cntWrap>div.content div.article>div.texts>h2::after{
  width: 1px;
  height: 30px;
  background-color: #999;
  content: '';
  display: block;
  margin: 0 auto;
}

div.cntWrap>div.content div.article>div.texts>h4{
  width: calc(100% / 3);
  outline: 1px solid #777;
  font-style: italic;
  color: #333;
  font-size: 14px;
  line-height: 20px; 
  float: left;
  margin-top: 10px;
  font-family: 'Gowun Dodum';
  height: 20px;
  overflow: hidden;
  
  
}
div.cntWrap>div.content div.article>div.texts>h4:nth-child(2){
  margin-left: calc(100% / 3 * 0.45);
}
div.cntWrap>div.content div.article>div.texts>h4:nth-child(3){
  margin-left: 10px;
}
div.cntWrap>div.content div.article>div.texts>h3{
  margin-top: 50px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Nanum Gothic Coding';
}
div.cntWrap>div.content div.article>div.texts>h5{
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
div.cntWrap>div.content div.article>div.texts>p{
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin-top: 20px;
  font-family: 'Gowun Dodum';
  padding: 0px 5px;
}
div.cntWrap>div.content div.article:nth-child(2)~div.article>div.texts>div.icons>div.icon{
  width: calc(100% / 2 - 8px);
}
div.cntWrap>div.content div.article:nth-child(2)~div.article>div.texts>div.icons{
  padding: 0px 20px;
}
div.cntWrap>div.content div.article>div.texts>div.icons{
  width: calc(100% / 3 * 2);
  margin: 0 auto;
  margin-top: 20px;
}
div.cntWrap>div.content div.article>div.texts>div.icons::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon{
  width: calc(100% / 3 - 8px);
  margin: 0 4px;
  background-color: #fff;
  height: 55px;
  float: left;
}
/* 아이콘 */
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i1{
  background-image: url('../images/sub2_icon1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i2{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i3{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i4{
  background-image: url('../images/sub2_icon4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i5{
  background-image: url('../images/sub2_icon5.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i6{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i7{
  background-image: url('../images/sub2_icon4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i8{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i9{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i10{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i11{
  background-image: url('../images/sub2_icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content div.article>div.texts>div.icons>div.icon.i12{
  background-image: url('../images/sub2_icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.cntWrap>div.content div.article>div.texts>div.btn{
  margin-top: 20px;
  cursor: pointer;
}
div.cntWrap>div.content div.article>div.texts>div.btn>span{
  font-size: 14px;
  color: #777;
  line-height: 20px;
  font-weight: 700;
}
div.cntWrap>div.content div.article>div.texts>div.btn>i{
  line-height: 30px;
  color: #777;
  font-weight: 700;
}

div.cntWrap>div.content div.article>div.images{
  width: calc(100% / 12 * 9 - 40px);
  position: relative;
}
div.cntWrap>div.content div.art.New>div.article>div.images>div.bgSml{
  background-color: #b8becc;
}
div.cntWrap>div.content div.article>div.images>div.bgSml{
  width: calc(100% / 9 * 6);
  height: 280px;
  background-color: #ddd8d6;
  position: absolute;
  z-index: 3;
}
div.cntWrap>div.content div.article>div.images>div.image{
  width: calc(100% / 9 * 6.5);
  height: 400px;
  position: absolute;
  z-index: 3;
}
div.cntWrap>div.content div.article>div.images>div.bgBig{
  width: calc(100% / 9 * 3.5);
  position: absolute;
  z-index: 2;
}
div.cntWrap>div.content div.art.New>div.article>div.images>div.bgBig>div.ovrGrid{
  background-color: #d7ebf7;
}
div.cntWrap>div.content div.article>div.images>div.bgBig>div.ovrGrid{
  width: calc((100vw - 1080px) / 2 + 100%);
  min-width: calc((100vw - 80vw) / 2 + 100%);
  background-color: #fce6de;
  height: 480px;
}
div.cntWrap>div.content div.article:nth-child(even)>div.images>div.bgBig>div.ovrGrid{
  margin-left: min(calc((100vw - 1080px) / -2 ), calc((100vw - 80vw) / -2)) ;
}
 .image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .image.i1{
  background-image: url('../images/sub2_cntbg1.jpg');
}
 .image::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
 .image.i1::after{
  background-image: url('../images/sub2_pd1.png');
  background-size: contain;
}
 .image.i2{
  background-image: url('../images/sub2_cntbg2.jpg');
}
 .image.i2::after{
  background-image: url('../images/sub2_pd2.png');
  background-size: contain;
}
 .image.i3{
  background-image: url('../images/sub2_cntbg3.jpg');
}
 .image.i3::after{
  background-image: url('../images/sub2_pd3.png');
  background-size: contain;
}
 .image.i4{
  background-image: url('../images/sub2_cntbg4.jpg');
}
 .image.i4::after{
  background-image: url('../images/sub2_pd4.png');
  background-size: contain;
}
 .image.i5{
  background-image: url('../images/sub2_cntbg5.jpg');
}
.image.i5::after{
  background-image: url('../images/sub2_pd5.png');
  background-size: contain;
}

.New .image.i1{
  background-image: url('../images/sub2_cntbg3.jpg');
}
.New .image.i1::after{
  background-image: url('../images/sub2_pd3.png');
}
.New .image.i2{
  background-image: url('../images/sub2_cntbg4.jpg');
}
 .New .image.i2::after{
  background-image: url('../images/sub2_pd4.png');
}
 .New .image.i3{
  background-image: url('../images/sub2_cntbg5.jpg');
}
 .New .image.i3::after{
  background-image: url('../images/sub2_pd5.png');
}
.New .image.i4{
  background-image: url('../images/sub2_cntbg1.jpg');
}
 .New .image.i4::after{
  background-image: url('../images/sub2_pd1.png');
}
 .New .image.i5{
  background-image: url('../images/sub2_cntbg2.jpg');
}
 .New .image.i5::after{
  background-image: url('../images/sub2_pd2.png');
}


/* 푸터 */
div.ftrWrap{
  margin-top: 80px;
  background-color: #f4f4f4;
  color: #666;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0px;
}
div.ftrWrap>div.footer::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
  width: calc(100% / 12 * 8);
  float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
  float: left;
  margin-right: 15px;
  font-size: 14px;
  line-height: 20px;
  padding-right: 15px;
  border-right: 1px solid #666;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-last-child(1){
  border: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
  line-height: 40px;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Lora';
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  line-height: 20px;
  margin-top: 5px;
  font-size: 14px;
}
div.ftrWrap>div.footer>div.ftrLeft>h4:nth-last-child(2){
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
  width: calc(100% / 12 * 2.5);
  float: right;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
  text-align: center;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{
  font-size: 30px;
  margin-left: 5px;
}
div.ftrWrap>div.footer>div.ftrRight>select{
  width: 100%;
  margin-top: 20px;
  height: 40px;
  background-color: #f4f4f4;
  color: #666;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

/* 탑버튼 */
div.toTop{
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 70px;
  height: 70px;
  background-color: rgb(255 204 0);
  z-index: 6;
  line-height: 70px;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  display: none;
}
div.toTop.pop{
  animation-name: pop;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pop{
  0%{
    bottom : 40px
  }
  50%{
    bottom : 70px
  }
  100%{
    bottom : 40px
  }
}