@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lora&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Oooh+Baby&family=Work+Sans:wght@300&display=swap');


body{
    overflow-x: hidden;
    position: relative;
}

/* 헤더 */
div.hdrWrap{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  color: #4f4e4c;
}
div.hdrWrap:hover{
  background-color: #fff;
  transition: background-color 0.5s;
  
}

div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0 10px;
  line-height: 50px;
}

div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>ul.nav{
  width: calc(100% / 12 * 4);
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  font-size: 19px;
  margin-right: 15px;
}

div.hdrWrap>div.header>ul.nav>li:hover::after{
  content: '';
  height: 5px;
  background-color: #fc0;
  display: block;
  width: 100%;
  animation-name: move;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: unset;
  margin: 0 auto;
  margin-top: -10px;
}
@keyframes move{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
div.hdrWrap>div.header>h1{
  width: calc(100% / 12 * 4);
  font-size: 41px;
  float: left;
  text-transform: uppercase;
  font-family: 'Lora';
  text-align: center;
  background-image: url('../images/logo.png');
  background-size: contain;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
div.hdrWrap>div.header>ul.menu{
  width: calc(100% / 12 * 4);
  margin-left: auto;
  text-align: right;
}
div.hdrWrap>div.header>ul.menu>li{
  display: inline-block;
  font-size: 28px;
  margin-left: 3px;
  cursor: pointer;
  position: relative;

}
div.hdrWrap>div.header>ul.menu>li>div.box{
  width: 500%;
  height: 0px;
  top: 66px;
  left: -35px;
  overflow: hidden;
  position: absolute;
  padding: 10px 20px;
}
div.hdrWrap>div.header>ul.menu>li>div.box>h4{
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.menu>li>div.box>h4:hover{
  font-weight: 700;
  color: rgb(48, 70, 50);
}
div.hdrWrap>div.header>ul.menu>li:nth-child(2):hover>div.box{
  background-color: #fff;
  height: 115px;
  border: 1px solid #999;
}
div.hdrWrap>div.header>div.btn{
  display: none;
}

/* 메인 */
div.mainWrap{
  width: 100vw;
}
div.mainWrap>div.main{
  position: relative;
}
div.mainWrap>div.main>div.mainGroup{
  width: 200%;
  height: 750px;
  transition: margin-left 0.8s;
}

div.mainWrap>div.main>div.mainGroup>div.image{
  height: 750px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  position: relative;
}
div.mainWrap>div.main>div.mainGroup>div.image.i2>div.txt{
  position: absolute;
  left: calc(100% / 12 * 1.5 );
  top: 199px;
}
div.mainWrap>div.main>div.mainGroup>div.image.i2 h5{
  text-align: left;
}
div.mainWrap>div.main>div.mainGroup>div.image>div.txt{
  position: absolute;
  right: calc(100% / 12 * 2 );
  bottom: 150px;
  color: #554c54;
}
div.mainWrap>div.main>div.mainGroup>div.image h3{
  font-size: 53px;
  line-height: 66px;
  font-weight: 700;
}
div.mainWrap>div.main>div.mainGroup>div.image h5{
  font-size: 22px;
  line-height: 40px;
  text-align: right;
  margin-top: 20px;
  font-family: 'Nanum Gothic';
}
div.mainWrap>div.main>div.mainGroup>div.image:nth-child(2)>div.btn{
  margin-right: auto;
}
div.mainWrap>div.main>div.mainGroup>div.image.i1 div.btn{
  margin-left: auto;
}
div.mainWrap>div.main>div.mainGroup>div.image.i2 div.btn{
  margin-right: auto;
  width: calc(100% / 12 * 2.2);
}
div.mainWrap>div.main>div.mainGroup>div.image div.btn{
  border-radius: 25px;
  width: calc(100% / 12 * 5);
  font-size: 21px;
  line-height: 43px;
  text-align: center;
  margin-top: 30px;
  outline: 1px solid #ada3ac;
  cursor: pointer;
}
div.mainWrap>div.main>div.mainGroup>div.image div.btn:hover{
  background-color: #554c54;;
  transition: background-color 0.5s;
  color: #fff;
}
div.mainWrap>div.main>div.mainGroup>div.image.i1{
  background-image: url('../images/1.jpg');
}
div.mainWrap>div.main>div.mainGroup>div.image.i2{
  background-image: url('../images/2.jpg');
}
div.mainWrap>div.main>div.btns{
  width: 80%;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
div.mainWrap>div.main>div.btns>div.btn{
  font-size: 60px;
  color: #fff;
  cursor: pointer;
}
div.mainWrap>div.main>div.btns>div.btn:nth-child(1){
  float: left;
}
div.mainWrap>div.main>div.btns>div.btn:nth-child(2){
  float: right;
}

div.mainWrap>div.main>ul.paging{
  position: absolute;
  width: calc(100% /12 * 3);
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 56px;
  font-size: 20px;
  box-shadow: 2px 2px 5px #999;
}
div.mainWrap>div.main>ul.paging>li{
  width: 50%;
  opacity: 40%;
  height: 5px;
  background-color: #555;
  float: left;
}
div.mainWrap>div.main>ul.paging>li.on{
  opacity: 100%;
  background-color: #fff;
}
div.mainWrap>div.main>div.stop{
  position: absolute;
  z-index: 4;
  right: 36%;
  margin: auto;
  bottom: 32px;
  width: 1%;
  height: 40px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #777;
  
}


/* 배너공통 */
div.bnrWrap>div.banner{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}


/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;

}

div.cntWrap>div.content>div.header>h2{
  line-height: 45px;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Work Sans';
}
div.cntWrap>div.content>div.header>h5{
  line-height: 20px;
  font-size: 20px;

}

div.cntWrap>div.content>div.section{
  margin-top: 40px;
}


/* 컨텐츠1 */



div.cntWrap>div.content.cnt01>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
  width: calc(100% / 12 * 2.5);
  float: left;
  margin-top: 77px;
  padding-left: calc(100% / 12 * 0.3);

}

div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li{
  line-height: 30px;
  margin-top: 20px;
  font-style: italic;
  position: relative;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Gowun Dodum';
  color: #999;
  
  
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li.hLight{
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li.hLight::after{
  content: '';
  display: block;
  width: 68% ;
  height: 30px;
  background-color: #ffd1a8;
  top: 0;
  left: -10px;
  position: absolute;
  z-index: -1;
  
}
/* 호버 수정 */
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li:hover{
  font-size: 18px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.tab>li:hover::after{
  content: '';
  display: block;
  width: 68% ;
  height: 30px;
  background-color: #ffd1a8;
  top: 0;
  left: -10px;
  position: absolute;
  z-index: -1;
  
} 
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.paging{
  width: 100%;
  height: 8px;
  margin-top: 140px;

}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.paging>li{
  width: 8px;
  height: 8px;
  border: 1px solid #000 ;
  float: left;
  margin-right: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>ul.paging>li.on{
  width: 16px;
  background-color: #000;

}

div.cntWrap>div.content.cnt01>div.section>div.artRight{
  width: calc(100% / 12 * 9.5);
  float: right;

}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.artView{
   width: calc((100vw - 1080px) / 2 + 100%);
   min-width: calc((100vw - 80vw) / 2 + 100%);
   overflow: hidden;
}

div.cntWrap>div.content.cnt01>div.section>div.artRight div.artGroup{
  width: 400%;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles{
  width: calc(100% / 4);
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article{
  width: calc(100% / 4 - 10px);
  margin: 0px 5px;
  float: left;
}

div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article>div.image{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i1>div.article>div.image.i1{
  background-image: url('../images/pd1.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i1>div.article>div.image.i2{
  background-image: url('../images/pd2.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i1>div.article>div.image.i3{
  background-image: url('../images/pd3.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i1>div.article>div.image.i4{
  background-image: url('../images/pd4.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i2>div.article>div.image.i1{
  background-image: url('../images/pd12.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i2>div.article>div.image.i2{
  background-image: url('../images/pd13.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i2>div.article>div.image.i3{
  background-image: url('../images/pd14.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i2>div.article>div.image.i4{
  background-image: url('../images/pd15.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i3>div.article>div.image.i1{
  background-image: url('../images/pd16.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i3>div.article>div.image.i2{
  background-image: url('../images/pd17.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i3>div.article>div.image.i3{
  background-image: url('../images/pd18.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i3>div.article>div.image.i4{
  background-image: url('../images/pd19.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i4>div.article>div.image.i1{
  background-image: url('../images/pd20.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i4>div.article>div.image.i2{
  background-image: url('../images/pd21.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i4>div.article>div.image.i3{
  background-image: url('../images/pd22.png');
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles.i4>div.article>div.image.i4{
  background-image: url('../images/pd23.png');
}


div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article>div.texts>h3{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Nanum Gothic Coding';
  height: 20px;
  overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.articles>div.article>div.texts>h5{
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  margin-top: 10px;
  font-family: 'Nanum Gothic';
  overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.btns{
  float: left;
  width: 100%;
  font-size: 30px;
  margin-top: -290px;
  position: relative;
  padding: 0px 10px;
  
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.btns>div.btn{
  line-height: 40px;
  font-size: 30px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.btns>div.btn:nth-child(1){
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight div.btns>div.btn:nth-child(2){
  float: right;
}

/* 컨텐츠2 */


div.cntWrap>div.content.cnt02>div.section{
  position: relative;
  height: 510px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 0;
  top: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight{
  position: absolute;
  z-index: 1;
  margin: auto;
  left: -12%;
  top: 0;
}

div.cntWrap>div.content.cnt02>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
  width: calc(100% / 12 * 3);
  padding-left: calc(100% / 12 * 0.3);
  margin-top: 40px;
  font-family: 'Gowun Dodum';
  overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>div.textGroup{
  width: 300%;
  height: 445px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>div.textGroup>div.text{
  width: calc(100% / 3);
  height: 300px;
  float: left;
  padding-top: 87px;
 
}

div.cntWrap>div.content.cnt02>div.section>div.artLeft h3{
  line-height: 60px;
  font-style: italic;
  color: #fc9d9d;
  font-size: 53px;
  font-weight: 700;
  
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft h5{
  line-height: 40px;
  font-style: italic;
  font-size: 23px;
  margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft h5::after{
  content: '';
  display: block;
  width: 89%;
  height: 1px;
  background-color: #000;
  margin-top: 3px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft p:nth-child(3){
  margin-top: 12px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft p{
  line-height: 28px;
  font-size: 15px;
  font-family: 'Nanum Gothic';
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>ul.paging{
  width: 100%;
  height: 8px;
  margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>ul.paging>li{
  width: 8px;
  height: 8px;
  float: left;
  border-radius: 4px;
  margin-right: 6px;
  border: 1px solid #000 ;
  transition: all 0.5s;

}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.textView>ul.paging>li.on{
  width: 16px;
  background-color: #000;
}

div.cntWrap>div.content.cnt02>div.section>div.artRight{
  width: 113%;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.artView{
  width: calc((100vw - 1080px) / 2 + 100%);
  min-width: calc((100vw - 80vw) / 2 + 100%);
  overflow: hidden;
  
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup{
  width: 197%;
}

div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article{
  width: calc(100% / 6 - 10px);
  position: relative;
  margin: 0 5px;
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article>div.image.i1{
  height: 510px;
  background-image: url('../images/pic5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article>div.image.i2{
  width: calc(100% / 4 * 3) ;
  height: 314px;
  background-position: center;
  background-size: cover;
  opacity: 100%;
  position: absolute;
  margin: auto;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article>div.image.i3{
  width: calc(100% / 4 * 3) ;
  height: 270px;
  position: absolute;
  margin: auto;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  background-clip: unset;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Left>div.image.i1{
  background-image: url('../images/pic7.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Left>div.image.i2{
  background-image: url('../images/pic8.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Left>div.image.i3{
  background-image: url('../images/pd11.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Left>div.texts{
  color: rgb(254 255 179);
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Mid>div.image.i1{
  background-image: url('../images/pic2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Mid>div.image.i2{  
  background-image: url('../images/pic6.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Mid>div.image.i3{
  background-image: url('../images/sub2_pd5.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Mid>div.texts{
  color: rgb(255 85 107);
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Right>div.image.i1{
  background-image: url('../images/pic1.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Right>div.image.i2{
  background-image: url('../images/33.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article.Right>div.image.i3{
  background-image: url('../images/pd6.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.artRightGroup>div.article>div.texts{
  width: 88%;
  font-size: 65px;
  font-style: italic;
  position: absolute;
  top: 43px;
  line-height: 66px;
  left: 0px; 
  right: 0px;
  margin: auto;
  z-index: 5;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Oooh Baby';
  text-align: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns{
  width: 66%;
  margin-right: 20px;
  font-size: 60px;
  line-height: 80px;
  margin-top: -260px;
  float: right;
  position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn{
  width: calc(100% / 12 * 0.7);
  background-color: #fff;
  cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn:nth-child(1){
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn:nth-child(2){
  float: right;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight div.btns>div.btn>i{

  color: #999;
}


/* 배너2 */
div.bnrWrap.bnrWrap02{
  background-color: rgb(56 77 59);
  height: 240px;
  margin-top: 80px;
  text-align: center;
  color: #fff;
  padding: 40px 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>h3{
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>p{
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.btn{
  width: calc(100% / 12 * 1.5);
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  outline: 2px solid white;
  padding: 0px 2px;
  margin-top: 30px;
  font-weight: 700;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.btn:hover{
  background-color: #fff;
  color: rgb(56 77 59);
  transition: all 0.5s;
}


/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.header>h2{
  text-align: center;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab{
  padding: 0px calc(100% / 12);
  margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li{
  width: calc(100% / 9 - 25px);
  margin: 0 10px;
  float: left;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li.show>div.image{
  background-color: #ffc592;
  background-size: cover;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li.show>div.image.i{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image{
  border-radius: 50%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
} 
div.cntWrap>div.content.cnt03>div.header>ul.tab>li:nth-child(4)~li>div.image{
  cursor: not-allowed;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image:hover{
  background-color: #ffc592;
  background-size: cover;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i1{
  background-image: url('../images/icon1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i1:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i2{
  background-image: url('../images/icon2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i2:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i3{
  background-image: url('../images/icon3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i3:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i4{
  background-image: url('../images/icon4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i4:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i5{
  background-image: url('../images/icon5.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i5:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i6{
  background-image: url('../images/icon6.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i6:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i7{
  background-image: url('../images/icon7.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i7:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i8{
  background-image: url('../images/icon8.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i8:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i9{
  background-image: url('../images/icon9.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>div.image.i9:hover{
  background-size: cover; 
}
div.cntWrap>div.content.cnt03>div.header>ul.tab>li>h5{
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-family: 'Nanum Gothic Coding';
}
div.cntWrap>div.content.cnt03>div.section{
  position: relative;
  overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.artGroup{
  width: 400%;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt03>div.section div.article{
  width: calc(100% / 16 - 20px);
  margin: 0px 10px;
  float: left;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image{
  height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i1{
  background-image: url('../images/pd7.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i2{
  background-image: url('../images/pd8.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i3{
  background-image: url('../images/pd9.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i4{
  background-image: url('../images/pd10.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i5{
  background-image: url('../images/pd20.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i6{
  background-image: url('../images/pd21.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i7{
  background-image: url('../images/pd22.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i8{
  background-image: url('../images/pd23.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i9{
  background-image: url('../images/pd24.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i10{
  background-image: url('../images/pd25.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i11{
  background-image: url('../images/pd26.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i12{
  background-image: url('../images/pd27.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i13{
  background-image: url('../images/pd28.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i14{
  background-image: url('../images/pd6.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i15{
  background-image: url('../images/pd11.png');
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image.i16{
  background-image: url('../images/sub2_pd5.png');
}


div.cntWrap>div.content.cnt03>div.section div.article>div.texts{
  padding: 25px 30px 20px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h5{
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  font-family: 'Nanum Gothic Coding';
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h4{
  color: rgb(155, 155, 155);
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  font-family: 'Work Sans';
}
div.cntWrap>div.content.cnt03>div.section div.article>div.texts>h3{
  margin-top: 10px;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Work Sans';
}
div.cntWrap>div.content.cnt03>div.section>div.btns{
  width: 100%;
  position: absolute;
  height: 40px;
  top: 111px;
}
div.cntWrap>div.content.cnt03>div.section>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.btns>div.btn{
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.btns>div.btn:nth-child(1){
  float: left; 
  margin-left: -5px;
}
div.cntWrap>div.content.cnt03>div.section>div.btns>div.btn:nth-child(2){
  float: right;
  margin-left: 5px;
}

div.cntWrap>div.content.cnt03>div.section>ul.paging{
  height: 8px;
  margin: 0 auto;
  width: calc(100% / 12 * 2);
  margin-top: 30px;
  min-width: calc(100% / 12 * 0.8);
}
div.cntWrap>div.content.cnt03>div.section>ul.paging>li{
  width: 8px;
  height: 8px;
  background-color: #999;
  float: left;
  margin: 0px 3px;
  border-radius: 4px;
}
div.cntWrap>div.content.cnt03>div.section>ul.paging>li.on{
  width: 20px;
  background-color: #000;
}
/* 컨텐츠4 */
div.cntWrap>div.content.cnt04>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.header>div.hdrLeft{
  float: left;
}
div.cntWrap>div.content.cnt04>div.header>div.hdrLeft>h2{
  line-height: 45px;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Work Sans';
  margin-top: 10px;
}
div.cntWrap>div.content.cnt04>div.header>div.hdrLeft>h4{
  font-size: 14px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt04>div.header>div.hdrRight{
  float: right;
  padding-top: 40px;
}
div.cntWrap>div.content.cnt04>div.header>div.hdrRight>h4{
  font-size: 14px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.video{
  width: 50%;
  float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.video>iframe{
  border-radius: 25px;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.texts{
  width: 50%;
  float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm{
  width: 100%;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image{
  width: calc(100% / 4 - 20px);
  height: 140px;
  margin: 0px 10px;
  float: left;
  border-radius: 10px;
  position: relative;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image::after{
  content: '';
  display: block;
  width: 100%;
  height: 73px;
  background-image: url('../images/play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image:hover::after{
  opacity: 100%;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i1{
  background-image: url('../images/thumb1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i2{
  background-image: url('../images/thumb2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i3{
  background-image: url('../images/thumb3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i4{
  background-image: url('../images/thumb4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* 배너3 */

div.bnrWrap.bnrWrap03{
  margin-top: 80px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03{
  width: calc(100% / 12 * 8);
}
div.bnrWrap.bnrWrap03>div.banner.bnr03::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.image{
  width: 60%;
  background-color: rgb(155, 155, 155);
  height: 360px;
  float: left;
  background-image: url('../images/pic3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts{
  width: 40%;
  background-color: rgb(239 232 227);
  color: #000;
  float: left;
  padding: 80px calc(100% / 12 * 0.5);
  height: 360px;
  font-family: 'Gowun Dodum';
  
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>p{
  font-size: 17px;
  line-height: 23px;
  height: 46px;
  overflow: hidden;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>p:nth-child(2){
  margin-top: 40px;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5{
  font-size: 18px;
  color: #000;
  margin-top: 40px;
  cursor: pointer;
}
div.bnrWrap.bnrWrap03>div.banner.bnr03>div.texts>h5>i{
  font-size: 20px;
}

/* 푸터 */
div.ftrWrap{
  margin-top: 80px;
  background-color: #f4f4f4;
  color: #666;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px;
}
div.ftrWrap>div.footer::after{
  content: '';
  display: block;
  clear: both;
}

div.ftrWrap>div.footer>div.ftrLeft{
  width: calc(100% / 12 * 8);
  float: left;
}

div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
  float: left;
  margin-right: 15px;
  font-size: 14px;
  line-height: 20px;
  padding-right: 15px;
  border-right: 1px solid #666;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-last-child(1){
  border: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
  line-height: 40px;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Lora';
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  line-height: 20px;
  margin-top: 5px;
  font-size: 14px;
}
div.ftrWrap>div.footer>div.ftrLeft>h4:nth-last-child(2){
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
  width: calc(100% / 12 * 2);
  float: right;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
  text-align: center;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{
  font-size: 30px;
  margin-left: 5px;
}
div.ftrWrap>div.footer>div.ftrRight>select{
  width: 100%;
  margin-top: 20px;
  height: 40px;
  background-color: #f4f4f4;
  color: #666;
  text-align: center;
  text-transform: capitalize;
}
