/* 메뉴 tab */
div.menuWrap>div.menu>h1{
    font-size: 19px;
    line-height: 40px;
}
div.menuWrap>div.menu>div.btn{
    font-size: 15px;
    line-height: 40px;
}
div.menuWrap>div.menu>ul.mnTop{
    margin-top: 20px;
}
div.menuWrap>div.menu>ul.mnTop>li:nth-child(odd){
    font-size: 16px;
    line-height: 40px;
}
div.menuWrap>div.menu>ul.mnTop>li>h4{
    font-size: 12px;
    line-height: 20px;
}
div.menuWrap>div.menu>ul.mnTop>li.show+li{
    height: 80px;
}
div.menuWrap>div.menu>ul.mnBtm>li{
    font-size: 12px;
    line-height: 30px;
}

/* 헤더 */
div.hdrWrap{
    height: 40px;
}
div.hdrWrap>div.header{
    line-height: 40px;
}
div.hdrWrap>div.header>h1{
    font-size: 19px;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(4){
    font-size: 15px;
}

/* 메인 */
div.mainWrap{
    margin-top: 0px;
}
div.mainWrap>div.main{
    padding: 40px 0px 0px;
}
div.mainWrap>div.main>p{
    line-height: 20px;
    font-size: 12px;
}

/* 컨텐츠 공통 */
div.cntWrap>div.content div.section>div.artView div.article>div.texts>h3{
    font-size: 10px;
}
div.cntWrap>div.content div.section>div.artView div.article>div.texts>h5{
    font-size: 10px;
    padding-top: 0px;
}
div.cntWrap>div.content div.section>div.artView div.article>div.texts>div.swatch{
    font-size: 10px;
    padding-top: 0px;
    margin: 0 2px;
    text-align: center;
}
div.cntWrap>div.content div.section>div.artView div.article>div.texts{
    margin-top: 0;
}
div.cntWrap>div.content div.section{
    margin-top: 0;
}

/* 컨텐츠01 */
div.cntWrap>div.content div.header>h2{
    font-size: 20px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView{
    width: 100%;
    min-width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 2 - 20px);
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article:nth-child(4)~div.article{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 120px;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.btn{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.bars{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.btns>div.more{
    font-size: 10px;
    text-align: right;
}

/* 컨텐츠02 */
div.cntWrap>div.content.cnt02>div.cntLeft>div.header>h2{
    font-size: 20px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt02>div.cntLeft{
    margin-left: 0px;
    width: 100%;
    min-width: 100%;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.header{
    width: 100%;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView{
    width: 100%;
    margin-left: 0;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section{
    width: 100%;
    min-width: 100%;
    height: 440px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView>div.article{
    width: calc(100% / 2 - 20px);
    margin-top: 20px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView>div.article:nth-child(4)~div.article{
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView>div.article>div.image{
    height: 120px;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.artView>div.article:nth-child(2)>div.texts>div.swatch>span:nth-last-child(1){
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.btn{
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.bars{
    display: none;
}
div.cntWrap>div.content.cnt02>div.cntLeft>div.section>div.btns>div.more{
    font-size: 10px;
    margin-top: 400px;
}

/* 컨텐츠03 */
div.cntWrap>div.content.cnt03>div.cntRight{
    width: 100%;
    min-width: 100%;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.header>h2{
    font-size: 20px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.header{
    margin-left: 0px;
    width: 100%;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section{
    width: 100%;
    min-width: 100%;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView{
    width: 100%;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article{
    width: calc(100% / 2 - 20px);
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article:nth-child(4)~div.article{
    display: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article>div.image{
    height: 120px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.btn{
    display: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.bars{
    display: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.btns>div.more{
    text-align: right;
    font-size: 10px;
    margin-right: 20px;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article:nth-child(2)>div.texts>div.swatch>span:last-child{
    display: none;
}
div.cntWrap>div.content.cnt03>div.cntRight>div.section>div.artView>div.article:nth-child(3)>div.texts>div.swatch>span:last-child{
    display: none;
}


/* 컨텐츠04 */
div.cntWrap>div.content.cnt04>div.cntLeft>div.header>h2{
    font-size: 20px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt04>div.cntLeft{
    margin-left: 0px;
    width: 100%;
    min-width: 100%;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.header{
    width: 100%;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section{
    width: 100%;
    min-width: 100%;
    margin-left: 0;
    height: 400px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView{
    width: 100%;
    margin-left: 0;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView>div.article{
    width: calc(100% / 2 - 20px);
    margin-top: 20px;
    float: left;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView>div.article:nth-child(4)~div.article{
    display: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView>div.article>div.image{
    height: 120px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.btn{
    display: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.bars{
    display: none;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.btns>div.more{
    font-size: 10px;
    margin-top: 360px;
}
div.cntWrap>div.content.cnt04>div.cntLeft>div.section>div.artView>div.article:nth-child(1)>div.texts>div.swatch>span:last-child{
    display: none;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
}
div.ftrWrap>div.footer{
    padding: 20px 0px;
}
div.ftrWrap>div.footer>div.ftrTop{
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>h1{
    font-size: 18px;
}
div.ftrWrap>div.footer>div.ftrTop>ul.nav{
    font-size: 10px;
    width: calc(100% / 12 * 11.5);
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrTop>ul.nav>li{
    margin: 0px 5px;
}
div.ftrWrap>div.footer>div.ftrBtm{
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    font-size: 15px;
}