body{
  position: relative;
  overflow-x: hidden;
}
/* 헤더 */
div.hdrWrap{
  background-color:rgba( 000, 000, 000, 0.6 );
  position: relative;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #fff;
}
div.hdrWrap>div.header>div.hdrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>div.hdrTop{
  text-align: center;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
  float: left;
  font-size: 30px;
  line-height: 40px;
  width: calc(100% / 12);
  cursor: pointer;
}
div.hdrWrap>div.header>div.hdrTop>h1{
  text-transform: uppercase;
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  float: left;
  width: calc(100% / 12 * 10);

}
div.hdrWrap>div.header>div.hdrTop>ul.btn{
  font-size: 30px;
  line-height: 40px;
  float: right;
  width: calc(100% / 12);
}
div.hdrWrap>div.header>div.hdrTop>ul.btn>i{
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  line-height: 40px;
}
div.hdrWrap>div.header>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  width: calc(100% / 3 );
  line-height: 40px;
}

/* 메인 */
div.mnWrap{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../image/artist/main.jpg);
  margin-top: -80px;
}
div.mnWrap>div.main{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 480px;
  padding-bottom: 240px;
}

div.mnWrap>div.main>div.texts>h2{
  font-size: 60px;
  height: 120px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

}
/* 컨텐츠공통 */
div.cntWrap{
  background-color: #e1e0d8;
  overflow: hidden;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
}
div.cntWrap>div.content>div.section{
  position: relative;
}
div.cntWrap>div.content>div.section>div.artTop{
  width: 100%;
}
div.cntWrap>div.content>div.section div.design1{
  width: calc(100% / 12 );
  height: 800px;
  background-color: #b4a5a5;
  margin-left: auto;
}
div.cntWrap>div.content>div.section div.design1>div.design2::after{
  content: 'part';
  display: block;
  text-transform: uppercase;
  background-color: #3b415b;
  color: #b4a5a5;
  font-size: 50px;
  height: 140px;
  line-height: 140px;
  writing-mode: vertical-rl;
  position: absolute;
  left: -100px;
  text-align: center;
  bottom: 0;
  padding: 50px 0px;
}
div.cntWrap>div.content>div.section div.design1>div.design2{
  width: calc(100% / 10.5 * 10);
  height: 780px;
  background-color: #3b415b;
  margin-left: auto;
  position: relative;  
}
div.cntWrap>div.content>div.section div.design1>div.design2>div.ovrGrid{
  width: calc((100vw - 1080px) / 2 + 100%);
  height: 780px;
  background-color: #3b415b;
  min-width : calc((100vw - 80vw) / 2 + 100%);
  text-indent: -9999px;
}

/* 컨텐츠 1 */
div.cntWrap>div.content.cnt01>div.header{
  position: relative;
  height: 150px;
}
div.cntWrap>div.content.cnt01>div.header>div.design{
  width: calc(100% / 12 * 4);
  height: 150px;
  background-color: #b3a5a5;
  position: absolute;
  left: 0;
  top: -80px;
}
div.cntWrap>div.content.cnt01>div.header>div.design>div.ovrGrid{
  margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
  width: calc((100vw - 1080px) / 2 + 100%);
  min-width: calc((100vw - 80vw) / 2 + 100%);
  height: 150px;
  background-color: #b3a5a5;
  text-indent: -9999px;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-weight: 700;
  background-color: #301B3F;
  width: calc(100% / 12 * 5);
  height: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 30px;
  box-shadow: 5px 5px 8px rgb(126, 124, 124);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{
  position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.design1{
  transition: width 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup{
  transition: opacity 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.design1{
  transition: width 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup{
  transition: opacity 0.5s;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup{
  width: 100%;
  top: 120px;
  position: absolute;
  left: 260px;
  opacity: 0%;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article{
  width: calc(100% / 12 * 5 - 20px);
  float: left;
  margin: 0px 10px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article:nth-child(2)~div.article{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.image{
  width: calc(100% / 5 * 2.3);
  margin: 0 auto;
  height: 180px;
  text-indent: -9999px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i1{
  background-image: url(../image/artist/artist03.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i2{
  background-image: url(../image/artist/artist07.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i3{
  background-image: url(../image/artist/artist02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i4{
  background-image: url(../image/artist/artist08.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.texts{
  font-size: 30px;
  font-weight: 700;
  color: #b4a5a5;
  text-align: center;
  text-transform: uppercase;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm div.design1>div.design2::after{
  content: 'genre';
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i1{
  background-image: url(../image/artist/artist04.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i2{
  background-image: url(../image/artist/artist01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i3{
  background-image: url(../image/artist/artist05.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i4{
  background-image: url(../image/artist/artist06.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 컨텐츠 */
div.cntWrap>div.content.cnt02>div.header{
  position: relative;
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.header>div.design{
  width: calc(100% / 12 * 4);
  height: 150px;
  background-color: #b3a5a5;
  position: absolute;
  left: 0;
  top: 0px;
}
div.cntWrap>div.content.cnt02>div.header>div.design>div.ovrGrid{
  margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
  width: calc((100vw - 1080px) / 2 + 100%);
  height: 150px;
  background-color: #b3a5a5;
  color: transparent;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  font-weight: 700;
  background-color: #301B3F;
  width: calc(100% / 12 * 5);
  height: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  box-shadow: 5px 5px 8px rgb(126, 124, 124);
}
div.cntWrap>div.content.cnt02>div.section{
  position: relative;
}
div.cntWrap>div.content.cnt02>div.section div.design1{
  width: calc(100% / 12);
  height: 800px;
  background-color: #b4a5a5;
  margin-left: auto;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section div.design1>div.design2::after{
  content: 'play';
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
  position: relative;
  width: calc((100vw - 1080px) / 2 + 75%);
  height: 780px;
  min-width: calc((100vw - 80vw) / -2);
  top:  90px;
  position: absolute;
  left: 25%;
  overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
  width: 470%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
  float: left;
  opacity: 0%;
  transition: all 0.7s;
  width: calc(100% / 6 - 20px);
  margin-left: 20px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image{
  color: transparent;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(1){
  opacity: 0%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(1)>div.image{
  height: 480px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)>div.image{
  height: 570px;
  border: 10px solid #b4a5a5;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)~div.article>div.image{
  height: 480px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i1{
  background-color: #ccc;
  background-image: url(../image/artist/artist_you01.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i2{
  background-color: #ccc;
  background-image: url(../image/artist/artist_you02.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i3{
  background-color: #ccc;
  background-image: url(../image/main/artist7.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i4{
  background-color: #ccc;
  background-image: url(../image/main/artist4.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i5{
  background-color: #ccc;
  background-image: url(../image/main/artist5.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i6{
  background-color: #ccc;
  background-image: url(../image/main/artist6.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts{
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #b3a5a5;
  text-align: right;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.btn{
  font-size: 160px;
  color: #b3a5a5;
  position: absolute;
  margin: auto;
  bottom: 70%;
  right: 100px;
  height: 60px;
  text-shadow: 2px 2px 4px #222;
  cursor: pointer;
}
/* 푸터 */
div.ftrWrap{
  background-color: #000;
  color: #fff;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 120px 0px 40px;
}
div.ftrWrap>div.footer{
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
}
div.ftrWrap>div.footer>div.ftrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  float: left;
  width: calc(100% / 12 * 8);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: calc(100% / 12);
  line-height: 40px;
  height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li:hover:after{
  width: 100%;
  left: 0;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li::after{
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  transition: 0.5s;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li{
  float: left;
  margin-right: 30px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  left: 5px;
  top: 0;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country{
  margin-top: 80px;
  margin-left: calc(100% / 12);
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country>li:nth-child(1){
  color: #ccc;
  opacity: 80%;
  font-weight: normal;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country>li{
  float: left;
  font-size: 15px;
  padding-right: 20px;
  font-weight: 700;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>p{
  font-size: 12px;
  line-height: 40px;
  margin-left: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav{
  font-size: 12px;
  line-height: 40px;
  margin-left: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  margin-right: 20px;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  float: right;
  width: calc(100% / 12 * 4);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns{
  line-height: 40px;
  text-align: right;
  cursor: pointer;
  margin-right: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li:hover>h4{
  height: 40px;
  right: 50px;
  transition: 0.5s;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li{
  position: relative;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li>h4{
  font-size: 12px;
  position: absolute;
  right: 0px;
  height: 0px;
  overflow: hidden;
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li>i{
  font-size: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li:nth-child(1)~li{
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>h1{
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
/* 네비박스 */
div.navBox{
  display: none;
}
