body{

}
/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  margin: 0 auto;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
  width: calc(100% / 4);
  font-size: 25px;
  text-align-last: left;
}
div.hdrWrap>div.header>div.hdrTop>h1{
  width: calc(100% / 4 * 2);
  text-align: center;
}
div.hdrWrap>div.header>div.hdrTop>ul.btn{
  font-size: 25px;
  width: calc(100% / 4);
  text-align: right;
  padding-right: 10px;
}
/* 메인 */
div.mainWrap>div.main{
  padding-bottom: 80px;
  width: 90%;
  margin: 0 auto;
}
div.mainWrap>div.main>p{
  display: none;
}
/* 컨텐츠 1*/
div.cntWrap>div.content{
  overflow-x: hidden;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-size: 25px;
  height: 100px;
  line-height: 100px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image{
  top: -95px;
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image>div.ovrGrid{
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image::after{
  font-size: 18px;
  height: 80px;
  line-height: 80px;
}
 
/* 컨텐츠 2*/
div.cntWrap>div.content.cnt02{
  padding-top: 20px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  font-size: 25px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(1)>div.images>div.image::after{
  font-size: 20px;
  right: -30px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images{
  width: 95%;
}
div.cntWrap>div.content.cnt02>div.section>div.article:hover>div.images{
  width: 95%;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.images>div.image{
  height: 300px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
  width: 100%;
  height: 190px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
  border-radius: 20px;
    margin-top: -120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(1)>div.texts{
  margin-left: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-last-child(1)>div.images>div.image::before{
  font-size: 20px;
  left: -26px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2){
  margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2)>div.texts{
  margin-left: 0px;
  margin-top: -120px;
}
/* 컨텐츠3 */
div.cntWrap:nth-last-child(3){
  padding: 80px 0px 80px;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 25px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
  float: none;
  width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article{
  height: 140px;

}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article:nth-child(1)~div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
  float: none;
  width: 100%;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.imageDg>div.image{
  height: 100px;
}
div.cntWrap>div.content.cnt03>div.section div.article>div.imageDg>div.image>label{
  height: 80px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>p{
  font-size: 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.imageDg>div.image{
  height: 100px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article:nth-child(1)~div.article{
  margin-top: 60px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h3{
  font-size: 18px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h3{
  font-size: 18px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>p{
  font-size: 10px;
}
/* 배너*/
div.bnrWrap>div.banner{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
}
div.bnrWrap>div.banner>h2{
  font-size: 25px;
  line-height: 30px;
  left: 0px;
  height: 30px;
}
div.bnrWrap>div.banner>div.play{
  height: 300px;
  margin-top: -40px;
}
div.bnrWrap>div.banner>div.play>video{
  height: 300px;
}
div.bnrWrap>div.banner>div.play::after{
  font-size: 20px;
}
/* 푸터*/
div.ftrWrap>div.footer{
  padding-top: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  display: none;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>h1{
  font-size: 35px;
}
/* 네브박스 */
div.navBox>div.top{
  font-size: 35px;
}
div.navBox>div.bottom{
  height: 91vh;
}
div.navBox>div.bottom>ul.nav>li{
  line-height: 80px;
  font-size: 40px;
}
