@font-face {
    font-family: 'nsRegular';
    src: url('./fonts/NotoSansKR-Regular.otf');
}
  

/* 헤더 */
div.hdrWrap{
    margin-top: 0px;
}
div.hdrWrap>div.header>div.menu>label:nth-child(2){
    display: none;
}
div.hdrWrap>div.header>div.search{
    display: none;
}

/* 메뉴 네비게이션 박스 */
input#ch:checked+div.navBoxWrap{
    height: 80px;
}
div.navBoxWrap{
    width: 100%;
    top: 80px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    left: 0;
}
div.navBoxWrap>div.navBox{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}
div.navBoxWrap>div.navBox>ul.nav{
    padding: 0px 40px;
    width: 100%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.navBoxWrap>div.navBox>ul.nav>li{
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
    margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
    display: none;
}

/* 메인 */
div.mainWrap{
    height: 200px;
}
div.mainWrap>div.main>div.image{
    height: 180px;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 28px;
    line-height: 25px;
    padding-top: 100px;
}
div.mainWrap>div.main>div.texts>h2::after{
    display: none;
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 12px;
    line-height: 25px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header>h2{
    font-size: 16px;
}
div.cntWrap>div.content.cnt01>div.header>p{
    font-size: 12px;
    width: calc(100% / 4 * 3.7);
    margin-top: 10px;
    height: 60px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section{
    height: 190px;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.texts{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid{
    width: 100%;
    margin: 0 auto;
    height: 190px;
    background-size: contain;
    float: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.article>div.texts{
    display: none;
}

/* 배너1 */
div.bnrWrap.bnr01{
    height: 160px;
    background-size: 125%;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.header>h2{
    font-size: 16px;
}
div.cntWrap>div.content.cnt02>div.header>p{
    font-size: 12px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section::after{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    float: none;
    width: 100%;
    margin: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2){
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
    background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    display: block;
    font-family: 'nsRegular';
    height: 130px;
    text-align: center;
    border: 1px solid #ccc;
    color: #333;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    font-size: 14px;
    padding-top: 30px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    font-size: 12px;
    padding-top: 10px;
    line-height: 20px;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
    display: none;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt04::after{
    display: none;
}
div.cntWrap>div.content.cnt04>div.header{
    float: none;
    width: 100%;
}
div.cntWrap>div.content.cnt04>div.header>h5{
    text-align: center;
}
div.cntWrap>div.content.cnt04>div.header>h3{
    font-size: 16px;
    text-align: center;
    color: #0056a4;
}
div.cntWrap>div.content.cnt04>div.header>h3>br{
    display: none;
}
div.cntWrap>div.content.cnt04>div.header>p{
    text-align: center;
}
div.cntWrap>div.content.cnt04>div.section{
    float: none;
    width: 100%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
    width: 100%;
    min-width: 90%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
    width: 190%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6 - 24px);
    margin: 0px 12px;
    height: 170px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.texts{
    margin-top: -25px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per{
    width: 100%;
    margin-left: 0px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per::after{
    content: 'swipe';
    display: block;
    color: #333;
    font-size: 12px;
    text-align: left;
    font-family: 'nsRegular';
    margin-top: -30px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.btnLeft{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.btnRight{
    display: none;
}

/* 배너2 */
div.bnrWrap.bnr02{
    height: 160px;
}
div.bnrWrap.bnr02>div.banner.bnr02>div.frm{
    display: none;
}
div.bnrWrap.bnr02>div.banner.bnr02>h2{
    font-size: 16px;
    line-height: 40px;
}
div.bnrWrap.bnr02>div.banner.bnr02>h5{
    line-height: 20px;
    font-size: 12px;
}

/* 푸터 */
div.ftrWrap>div.footer>div.logo{
    font-size: 18px;
}
div.ftrWrap>div.footer>h3{
    font-size: 11px;
    line-height: 15px;
}
div.ftrWrap>div.footer>form{
    display: none;
}
div.ftrWrap>div.footer>h4{
    font-size: 9px;
    margin-top: 10px;
}

/* 투탑 */
div.totop{
    display: none;
}