@font-face {
  font-family: 'nsBold';
  src: url('./fonts/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: 'nsLight';
  src: url('./fonts/NotoSansKR-Light.otf');
}
@font-face {
  font-family: 'nsMdeium';
  src: url('./fonts/NotoSansKR-Medium.otf');
}
@font-face {
  font-family: 'nsRegular';
  src: url('./fonts/NotoSansKR-Regular.otf');
}
/* 바디 */
body{
  overflow-x: hidden;
  position: relative;
}

/* 헤더 */
div.hdrWrap{
  margin-top: 40px;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #0056a4;
  font-size: 18px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: 'nsMdeium';
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>div.menu{
  float: left;
  width: calc(100% / 12 * 2);
  cursor: pointer;
}
div.hdrWrap>div.header>div.menu>i{
  font-size: 20px;
}
div.hdrWrap>div.header>div.menu>span{
  margin-left: 20px;
}
div.hdrWrap>div.header>div.logo{
  float: left;
  width: calc(100% / 12 * 8);
  cursor: pointer;
}
div.hdrWrap>div.header>div.logo>div.image{
  width: calc(100% / 8 * 4 - 20px);
  margin: 0 auto;
  height: 80px;
  background-image: url('../images/logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.hdrWrap>div.header>div.logo>div.image>a{
  width: 100%;
  height: 100%;
  display: block;
}
div.hdrWrap>div.header>div.search{
  float: left;
  width: calc(100% / 12 * 2);
  text-align-last: right;
  cursor: pointer;
}
div.hdrWrap>div.header>div.search>span{
  margin-right: 20px;
}
div.hdrWrap>div.header>div.search>i{
  font-size: 20px;
}

/* 메뉴 네비게이션 박스 */
input#ch{
  display: none;
}
input#ch:checked+div.navBoxWrap{
  width: 100%;
  height: 280px;
  opacity: 1;
}
div.navBoxWrap{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
  height: 280px;
  opacity: 0;
  transition: all 0.5s;
  left: calc((100vw - 1080px) / 2.3);
}
div.navBoxWrap>div.navBox{
  width: 80%;
  max-width: 1080px;
  margin-left: 0;
}
div.navBoxWrap>div.navBox>ul.nav{
  width: calc(100% / 12 * 3.5);
  background-color: #043e73;
  padding: 40px 0px 40px 40px;
  text-transform: uppercase;
  color: #fff;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
  font-size: 30px;
  text-align: right;
  margin-right: 40px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
  margin-top: 40px;
}
div.navBoxWrap>div.navBox>ul.nav>li{
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}
div.navBoxWrap>div.navBox>ul.nav>li:hover{
  color: #6393bd;
}
div.navBoxWrap>div.navBox>ul.nav>li>i{}

/* 검색 네비게이션 박스 */
input#ch01{
  display: none;
}
input#ch01:checked+div.scBoxWrap{
  width: calc(100% / 12 * 2.3);
  height: 280px;
  opacity: 1;
}
div.scBoxWrap{
  background-color: #043e73;
  width: calc(100% / 12 * 2.3);
  height: 0px;
  float: right;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0px;
  right: calc((100vw - 1080px) / 2.1);
}
div.scBoxWrap>div.scBox{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0px 80px 0px;
  color: #fff;
}
div.scBoxWrap>div.scBox>ul.search{
  cursor: pointer;
}
div.scBoxWrap>div.scBox>ul.search>li{
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 10px;
}
div.scBoxWrap>div.scBox>ul.search>li:hover{
  color: #6393bd;
}
div.scBoxWrap>div.scBox>form>input{
  width: calc(100% / 3.5 * 3.2);
  line-height: 40px;
  height: 40px;
  margin-top: 60px;
  margin-left: 10px;
  padding-left: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 20px;
  line-height: 40px;
}
div.scBoxWrap>div.scBox>form>input::placeholder{
  color: #043e73;
}

/* 메인 */
div.mainWrap{
  margin-top: 40px;
}
div.mainWrap>div.main{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #333;
}
div.mainWrap>div.main>div.texts{
  padding: 40px 0px;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
  font-family: 'nsBold';
}
div.mainWrap>div.main>div.texts>h5{
  font-size: 14px;
  line-height: 30px;
  width: calc(100% / 12);
  border: 1px solid #333;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'nsRegular';
}
div.mainWrap>div.main>div.image{
  width: 100%;
  height: 480px;
  background-image: url('../images/main_img.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  color: #0056a4;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'nsBold';
}
div.cntWrap>div.content>div.header>p{
  font-size: 16px;
  color: #333;
  font-family: 'nsRegular';
}
div.cntWrap>div.content div.article>div.image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>h5{
  font-size: 16px;
  line-height: 40px;
  color: #333;
  text-align: center;
  font-family: 'nsRegular';
}
div.cntWrap>div.content.cnt01>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
  width: calc(100% / 12 * 3);
  margin-left: 12.5%;
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1){
  margin-left: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  width: 100%;
  height: 240px;
  box-shadow: 1px 1px 2px #666;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
  background-image: url('../images/cnt01_img01.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
  background-image: url('../images/cnt01_img02.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
  background-image: url('../images/cnt01_img03.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  text-align: center;
  margin-top: 20px;
  color: #333;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  font-size: 18px;
  line-height: 20px;
  font-family: 'nsBold';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  font-size: 16px;
  line-height: 20px;
  width: calc(100% / 3 * 2.7);
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'nsRegular';
}

/* 배너 공통 */
div.bnrWrap{
  margin-top: 80px;
}

/* 배너1 */
div.bnrWrap>div.banner.bnr01{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop{}
div.bnrWrap>div.banner.bnr01>div.bnrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts{
  width: calc(50% - 20px);
  margin: 0px 10px;
  text-align: right;
  float: left;
  font-family: 'nsRegular';
  margin-top: 40px;
  color: #333;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h5{
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h2{
  font-size: 30px;
  line-height: 40px;
  font-family: 'nsBold';
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
  font-size: 12px;
  border: 1px solid #333;
  width: calc(100% / 6 * 0.8);
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-top: 40px;
  cursor: pointer;
}
div.bnrWrap>div.banner.bnr01 div.image{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.image{
  float: right;
  width: calc(50% - 20px);
  margin-left: 10px;
  height: 320px;
  background-image: url('../images/bnr01_img.jpg');
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm{
  margin-top: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image{
  height: 340px;
  float: left;
  margin: 0px 10px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i1{
  width: calc(100% / 12 * 6.1 - 20px);
  margin: 0px 10px;
  background-image: url('../images/bnr01_img01.jpg');
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i2{
  width: calc(100% / 12 * 3 - 20px);
  margin: 0px 10px;
  background-image: url('../images/bnr01_img02.jpg');
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i3{
  width: calc(100% / 12 * 3 - 20px);
  margin-left: 10px;
  margin-right: 0px;
  background-image: url('../images/bnr01_img03.jpg');
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section{
  margin-top: 80px;
  position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
  width: 100%;
  margin: 0 10px;
  overflow: hidden;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
  width: 200%;
  overflow: hidden;
  transition: margin-left 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
  width: calc(100% / 8 - 20px);
  float: left;
  margin: 0 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 280px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i1{
  background-image: url('../images/cnt02_img01.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i2{
  background-image: url('../images/cnt02_img02.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i3{
  background-image: url('../images/cnt02_img03.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i4{
  background-image: url('../images/cnt02_img04.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i5{
  background-image: url('../images/cnt02_img05.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i6{
  background-image: url('../images/cnt02_img06.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i7{
  background-image: url('../images/cnt02_img07.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i8{
  background-image: url('../images/cnt02_img08.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.btns{
  width: 100%;
  height: 80px;
  position: absolute;
  margin: auto;
  top: 0;bottom: 0;
  font-size: 35px;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btnLeft{
  float: left;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url('../images/cnt02_btn01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>div.btns>div.btnRight{
  float: right;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url('../images/cnt02_btn02.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging{
  width: calc(100% / 12 * 1.1);
  margin: 0 auto;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging>li{
  width: 20px;
  height: 20px;
  background-color: #ccc;
  float: left;
  margin: 0px 5px;
  border-radius: 10px;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging>li.on{
  width: 40px;
  background-color: #043e73;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section div.texts{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 66px;
  font-family: 'nsRegular';
  color: #333;
  border: 1px solid #ccc;
}
div.cntWrap>div.content.cnt03>div.section div.texts>h3{
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
div.cntWrap>div.content.cnt03>div.section div.texts>h5{
  font-size: 16px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section div.texts>p{
  font-size: 12px;
  line-height: 20px;
  height: 120px;
  width: calc(100% / 4 * 2.2);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  font-family: 'nsRegular';
}
div.cntWrap>div.content.cnt03>div.section div.texts>div.btn{
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 30px;
  width: 25%;
  margin: 0 auto;
  cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
  width: calc(100% /12 * 8);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts{
  width: calc(100% / 2);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>p{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>div.btn{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.image{
  width: calc(100% / 2);
  height: 380px;
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.image.i1{
  background-image: url('../images/cnt03_img01.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.image.i2{
  background-image: url('../images/cnt03_img02.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
  width: calc(100% /12 * 4);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>p{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>div.btn{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.image{
  width: 100%;
  height: 380px;
  background-image: url('../images/cnt03_img03.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.image.i3{}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04{}
div.cntWrap>div.content.cnt04::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.header{
  float: left;
  width: calc(100% / 12 * 4);
  height: 520px;
  padding-top: 160px;
}
div.cntWrap>div.content.cnt04>div.header>h2{
  text-align: left;
  line-height: 30px;
}
div.cntWrap>div.content.cnt04>div.header>p{
  text-align: left;
  width: calc(100% / 4 * 3);
  font-size: 16px;
  margin-top: 40px;
  line-height: 20px;
  height: 80px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar{
  margin-top: 80px;
  color: #333;
}
div.cntWrap>div.content.cnt04>div.header>div.bar::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.per{
  width: 50%;
  height: 10px;
  background-color: #ccc;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.per>div.perbg{
  width: 0%;
  height: 10px;
  background-color: #0056a4;
  border-radius: 10px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnLeft{
  float: left;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-image: url('../images/cnt02_btn01.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnRight{
  float: left;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-image: url('../images/cnt02_btn02.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section{
  float: left;
  width: calc(100% / 12 * 8);
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
  width: calc((100vw - 1080px) / 2 + 100%);
  min-width: calc((100vw - 80vw) / 2 + 100%);
  overflow: hidden;
  height: 520px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
  width: 190%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
  width: calc(100% / 7 - 20px);
  margin: 0px 10px;
  float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 520px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i1{
  background-image: url('../images/cnt04_img01.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i2{
  background-image: url('../images/cnt04_img02.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i3{
  background-image: url('../images/cnt04_img03.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i4{
  background-image: url('../images/cnt04_img04.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i5{
  background-image: url('../images/cnt04_img05.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i6{
  background-image: url('../images/cnt04_img06.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i7{
  background-image: url('../images/cnt04_img07.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.texts{}

/* 배너2 */
div.bnrWrap{}
div.bnrWrap>div.banner.bnr02{
  width: 100vw;
}
div.bnrWrap>div.banner.bnr02::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns{
  width: calc(100% / 4 - 10px);
  margin: 0px 5px;
  float: left;
  height: 440px;
  cursor: pointer;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns:hover>div.dark{
  opacity: 0;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.dark{
  height: 440px;
  background-color: #000;
  opacity: 0.5;
  transition: all 0.5s;
}

div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image{
  height: 440px;
  margin-top: -440px;
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image.i1{
  background-image: url('../images/bnr02_img01.jpg');
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image.i2{
  background-image: url('../images/bnr02_img02.jpg');
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image.i3{
  background-image: url('../images/bnr02_img03.jpg');
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image.i4{
  background-image: url('../images/bnr02_img04.jpg');
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts{
  text-align: center;
  color: #fff;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns{
  margin-top: -265px;
  text-shadow: 1px 1px 2px #333;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns::after{
  content: '';
  display: block;
  background-image: url('../images/dibg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  margin-top: -150px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns>i{
  font-size: 45px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>h3{
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'nsBold';
  text-shadow: 1px 1px 5px #333, -1px -1px 5px #999;
}

/* 푸터 */
div.ftrWrap{
  margin: 80px 0px;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
div.ftrWrap>div.footer>div.logo{
  font-size: 45px;
  text-transform: uppercase;
  color: #0056a4;
  line-height: 40px;
  font-family: 'nsBold';
  cursor: pointer;
}
div.ftrWrap>div.footer>h3{
  font-size: 18px;
  color: #333;
  line-height: 40px;
  font-family: 'nsRegular';
}
div.ftrWrap>div.footer>form{}
div.ftrWrap>div.footer>form>input{
  width: calc(100% / 12 * 3.5);
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  margin: 10px 0px;
  border: 1px solid #0056a4;
}
div.ftrWrap>div.footer>form>::placeholder{
  color: #0056a4;
  font-size: 14px;
  font-family: 'nsRegular';
}
div.ftrWrap>div.footer>h4{
  font-size: 11px;
  color: #999;
  line-height: 40px;
  font-family: 'nsRegular';
}

/* 투탑 */
div.totop{
  width: 60px;
  height: 60px;
  background-color: #0056a4;
  color: #fff;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-family: 'nsLight';
  cursor: pointer;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes move{
  0%{
    opacity: 1;
    bottom: 50px;
  }
  50%{
    opacity: 0.7;
    bottom: 60px;
  }
  100%{
    opacity: 1;
    bottom: 50px;
  }
}
div.totop:hover{
  background-color: #fc0;
  color: #fff;
}

