/* 헤더 */
div.hdrWrap{
  margin-top: 0px;
}
div.hdrWrap>div.header>div.menu>label:nth-child(2){
  display: none;
}
div.hdrWrap>div.header>div.search{
  display: none;
}

/* 메뉴 네비게이션 박스 */
input#ch:checked+div.navBoxWrap{
  height: 80px;
}
div.navBoxWrap{
  width: 100%;
  top: 80px;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  left: 0;
}
div.navBoxWrap>div.navBox{
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
div.navBoxWrap>div.navBox>ul.nav{
  padding: 0px 40px;
  width: 100%;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.navBoxWrap>div.navBox>ul.nav>li{
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
  margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
  display: none;
}

/* 메인 */
div.mainWrap>div.main>div.texts>h5{
  display: none;
}
div.mainWrap>div.main>div.image{
  height: 180px;
}

/* 컨텐츠 공통 */
div.cntWrap>div.content div.header>h2{
  font-size: 16px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header>h5{
  font-size: 14px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section::after{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
  float: none;
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  height: 100px;
  width: calc(100% / 4 * 1.2);
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  width: calc(100% / 4 * 2.8);
  float: left;
  margin-top: 0px;
  text-align: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  margin-top: 10px;
  margin-left: 13px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  margin-top: 10px;
}

/* 배너1 */
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h5{
  font-size: 10px;
  line-height: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h2{
  font-size: 15px;
  line-height: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
  display: none;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.image{
  width: 50%;
  height: 120px;
  margin-left: 0px;
  background-size: 104%;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm{
  margin-top: 0px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image{
  height: 120px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i1{
  width: 50%;
  margin: 0px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i2{
  width: 25%;
  margin: 0px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i3{
  width: 25%;
  margin: 0px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.header>p{
  font-size: 14px;
}
div.cntWrap>div.content.cnt02>div.section{
  margin-top: 0;
}
div.cntWrap>div.content.cnt02>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
  width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
  width: calc(100% / 3 - 20px);
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article:nth-child(4){
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.btns{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging{
  width: calc(100% / 4 * 0.5);
  height: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging>li{
  width: 10px;
  height: 10px;
  background-color: #a3cbf1;
  float: left;
  margin: 0px 3px;
  border-radius: 5px;
}
div.cntWrap>div.content.cnt02>div.section>ul.paging>li.on{
  width: 10px;
  background-color: #0056a4;
}

/* 컨텐츠3 */
div.cntWrap:nth-last-child(5){
  margin-top: 0;
}
div.cntWrap>div.content.cnt03>div.section div.texts>p{
  margin-top: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
  width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.image{
  height: 218px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts{
  padding: 31px 0px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h5::after{
  content: '';
  display: block;
  background-color: #ccc;
  width: calc(50% * 0.4);
  height: 4px;
  margin: 20px auto 0px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
  width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts{
  width: 50%;
  float: left;
  padding: 31px 0px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h5::after{
  content: '';
  display: block;
  background-color: #ccc;
  width: calc(50% * 0.4);
  height: 4px;
  margin: 20px auto 0px;
}
div.cntWrap>div.content.cnt03>div.section div.texts>p{
  width: calc(50% * 1.7);
  font-size: 10px;
  height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.image{
  width: 50%;
  float: left;
  height: 218px;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04>div.header{
  width: 50%;
  padding: 20px 0px 0px 0px;
  margin-left: 10px;
  height: 200px;
}
div.cntWrap>div.content.cnt04>div.header>h2 {
  line-height: 25px;
}
div.cntWrap>div.content.cnt04>div.header>p{
  width: calc(50% * 1.9);
  height: 40px;
  overflow: hidden;
  font-size: 13px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.per{
  display: none;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnLeft{
  font-size: 15px;
  margin-left: 0;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnRight{
  font-size: 15px;
}
div.cntWrap>div.content.cnt04>div.section{
  width: 40%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
  width: calc((100vw - 420px) / 2 + 100%);
  min-width: calc((100vw - 90vw) / 2 + 100%);
  height: 200px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
  width: 140%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
  width: 100%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 200px;
  background-size: contain;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image.i1{
  height: 200px;
  background-image: url('../images/cnt04_img01_1.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article:nth-child(1)~div.article{
  display: none;
}

/* 배너2 */
div.bnrWrap>div.banner.bnr02>div.bnrSns{
  height: 100px;
  width: calc(100% / 4);
  margin: 0px 0px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.dark{
  height: 100px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image{
  height: 100px;
  margin-top: -100px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns{
  margin-top: -80px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>h3{
  margin-top: 7px;
  font-size: 10px;
}

/* 푸터 */
div.ftrWrap>div.footer>div.logo{
  font-size: 18px;
}
div.ftrWrap>div.footer>h3{
  font-size: 11px;
  line-height: 15px;
}
div.ftrWrap>div.footer>form{
  display: none;
}
div.ftrWrap>div.footer>h4{
  font-size: 9px;
  margin-top: 10px;
}

/* 투탑 */
div.totop{
  display: none;
}