/* 헤더 */
div.hdrWrap{
  margin-top: 0px;
}
div.hdrWrap>div.header>div.menu>label:nth-child(2){
  display: none;
}
div.hdrWrap>div.header>div.search{
  display: none;
}

/* 메뉴 네비게이션 박스 */
input#ch:checked+div.navBoxWrap{
  height: 80px;
}
div.navBoxWrap{
  width: 100%;
  top: 80px;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  left: 0;
}
div.navBoxWrap>div.navBox{
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
div.navBoxWrap>div.navBox>ul.nav{
  padding: 0px 40px;
  width: 100%;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.navBoxWrap>div.navBox>ul.nav>li{
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
  margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
  display: none;
}

/* 메인 */
div.mainWrap{
  height: 200px;
}
div.mainWrap>div.main>div.texts>h5{
  display: none;
}
div.mainWrap>div.main>div.image{
  height: 180px;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 30px;
  padding-top: 30px;
}
div.mainWrap>div.main>div.texts>h5{
  display: none;
}
div.mainWrap>div.main>div.texts>h4{
  font-size: 15px;
  line-height: 16px;
  padding-top: 24px;
}
div.mainWrap>div.main>div.texts>h4::after{
  width: 35px;
  height: 35px;
  margin-top: -27px;
}

/* 컨텐츠 공통 */
div.cntWrap>div.content div.header>h2{
  font-size: 16px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
  width: calc(100% / 3 - 20px);
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
  background-size: 70%;
}

div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article:nth-child(3)~div.article{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article:hover::after {
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  height: 220px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image{
  height: 220px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article:nth-child(3)~div.article{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt01_btm_img01_mb.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt01_btm_img02_mb.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i3{
  background-image: url('../images/sub01_cnt01_btm_img03_mb.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.texts{
    width: 100%;
    text-align: center;
    padding-left: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.texts>h3{
    padding-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.texts>h5{
    font-size: 14px;
    padding: 10px 0px 20px 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.texts>p{
    margin: 0 auto;
    font-size: 12px;
    width: calc(100% / 4 * 3.75);
    height: 60px;
    overflow: hidden;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
}

/* 컨텐츠3 */
div.cntWrap.cntWrap03{
    background-image: none;
    height: 0px;
    margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.header{
    padding-top: 0px;
}

div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts{
    margin-top: 0;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts>h3{
    font-size: 16px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts>p{
    font-size: 12px;
    line-height: 15px;
    height: 65px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm{
    margin-top: -20px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm{
    width: 100%;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article{
    width: calc(100% / 4 - 20px);
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article:nth-child(3){
    display: none;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article:nth-child(5){
    display: none;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04{
    margin-top: 210px;
}
div.cntWrap>div.content.cnt04>div.header::after{
  content: 'ABSOLUT VODKA';
  display: block;
  font-size: 16px;
  color: #0056a4;
  font-family: 'nsBold';
  text-align: center;
  line-height: 40px;
  height: 60px;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    height: 120px;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image{
    height: 120px;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid{
    margin-top: 0px;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.image{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts{
    width: 100%;
    margin: 20px auto;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts>h3{
    font-size: 16px;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts>p{
    font-size: 12px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image{
    height: 120px;
}



/* 푸터 */
div.ftrWrap>div.footer>div.logo{
    font-size: 18px;
  }
  div.ftrWrap>div.footer>h3{
    font-size: 11px;
    line-height: 15px;
  }
  div.ftrWrap>div.footer>form{
    display: none;
  }
  div.ftrWrap>div.footer>h4{
    font-size: 9px;
    margin-top: 10px;
  }

  /* 투탑 */
  div.totop{
      display: none;
  }