/* 헤더 */
div.hdrWrap{
    margin-top: 0px;
}
div.hdrWrap>div.header>div.menu>label:nth-child(2){
    display: none;
}
div.hdrWrap>div.header>div.search{
    display: none;
}

/* 메뉴 네비게이션 박스 */
input#ch:checked+div.navBoxWrap{
    height: 80px;
}
div.navBoxWrap{
    width: 100%;
    top: 80px;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    left: 0;
}
div.navBoxWrap>div.navBox{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}
div.navBoxWrap>div.navBox>ul.nav{
    padding: 0px 40px;
    width: 100%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.navBoxWrap>div.navBox>ul.nav>li{
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
    margin-top: 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
    display: none;
}

/* 메인 */
div.mainWrap{
    height: 200px;
}
div.mainWrap>div.main>div.image{
    height: 180px;
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 40px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
    flex-direction: column;
}
div.cntWrap>div.content.cnt01>div.header{
    width: 100%;
    text-align: center;
    margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.header>h3{
    font-size: 16px;
    color: #0056a4;
}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(100% / 4 * 3.5);
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.header>div.bar{
    display: none;
}
div.cntWrap>div.content.cnt01>div.header>div.btns{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section{
    width: 100%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article{
    width: 150px;
    height: 150px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 150px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.section{
    flex-direction: column;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
    width: 100%;
    margin-top: 130px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a1{
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 655px;
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a2{
    margin-top: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a2>div.texts{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a1>div.texts>h3{
    font-size: 16px;
    color: #0056a4;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a1>div.texts>p{
    width: calc(100% / 4 * 3);
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article.a1>div.texts>p>span{
    display: none;
}


/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.header{
    margin-top: 0;
}
div.cntWrap>div.content.cnt03>div.header>h2{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section{
    flex-direction: column;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
    width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.images{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts{
    text-align: center;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h3{
    margin-top: 0;
    font-size: 16px;
    color: #0056a4;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>p{
    width: calc(100% /4 * 3.4);
    margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
    width: 100%;
    padding-top: 40px; 
    height: 240px;
    overflow: hidden;
    position: relative;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a1{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a2{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3{
    display: block;
    width: 400%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>ul.paging{
    display: block;
    width: calc(100% / 4 * 0.6);
    margin: 0 auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    bottom: 204px;
    z-index: 999;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>ul.paging>li{
    width: 10px;
    height: 10px;
    background-color: #ccc;
    clip-path: circle(50% at 50% 50%);
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>ul.paging>li:nth-child(1){
    background-color: #0056a4;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3>div.image{
    width: calc(100% / 4);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3>div.image.i1{
    background-image: url('../images/sub03_cnt03_04.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3>div.image.i2{
    background-image: url('../images/sub03_cnt03_04_1.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3>div.image.i3{
    background-image: url('../images/sub03_cnt03_04_2.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article.a3>div.image.i4{
    background-image: url('../images/sub03_cnt03_04_3.jpg');
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04>div.header>h2{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section{
    flex-direction: column;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft{
    width: 100%;
    margin-left: 0;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts{
    margin-top: 0;
    text-align: center;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>h3{
    font-size: 16px;
    color: #0056a4;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>div.btns{
    width: calc(100% / 4 * 1.1);
    margin: 0 auto;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>div.btns>div.btnLeft{
    width: 30px;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>div.btns>div.btnRight{
    width: 30px;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>p{
    width: calc(100% /4 * 3.2);
    margin: 0 auto;
    margin-top: 10px;
    height: 75px;
}
div.cntWrap>div.content.cnt04>div.section>div.artLeft>div.article>div.texts>div.btns{
    width: calc(100% / 4 * 0.8);
    margin-left: auto;
    margin-right: 10px;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight{
    width: 100%;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight>div.artView1{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight>div.artView2{
    width: 100%;
    min-width: 0;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight>div.artView2>div.artGroup2{
    width: 500%;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight>div.artView2>div.artGroup2>div.article>div.image{
    height: 190px;
}
div.cntWrap>div.content.cnt04>div.section>div.artRight>div.artView2>div.artGroup2>div.article>div.image>div.videoBox{
    height: 190px;
}


/* 배너 */
div.bnrWrap{
    margin-top: 40px;
}
div.bnrWrap>div.banner{
    height: 160px;
}

/* 푸터 */
div.ftrWrap>div.footer>div.logo{
    font-size: 18px;
}
div.ftrWrap>div.footer>h3{
    font-size: 11px;
    line-height: 15px;
}
div.ftrWrap>div.footer>form{
    display: none;
}
div.ftrWrap>div.footer>h4{
    font-size: 9px;
    margin-top: 10px;
}

/* 투탑 */
div.totop{
    display: none;
}