/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  max-width: 700px;
  font-size: 16px;
}

/* 메뉴 네비게이션 박스 */
div.navBoxWrap{
  left: calc((100vw - 900px) / 0.8);
}
div.navBoxWrap>div.navBox{
  width: 90%;
  max-width: 700px;
}
div.navBoxWrap>div.navBox>ul.nav{
  width: calc(100% / 8 * 2.5);
  padding: 20px 0px 20px 30px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
  font-size: 20px;
  margin-right: 20px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
  margin-top: 20px;
}
div.navBoxWrap>div.navBox>ul.nav>li{
  font-size: 15px;
}

/* 검색 네비게이션 박스 */
input#ch01:checked+div.scBoxWrap{
  width: calc(100% / 8 * 1.8);
  height: 220px;
}
div.scBoxWrap{
  width: calc(100% / 8 * 1.8);
  right: calc((100vw - 900px) / 0.8);
}
div.scBoxWrap>div.scBox{
  width: 90%;
  max-width: 700px;
  padding: 20px 0px 20px 0px;
}
div.scBoxWrap>div.scBox>ul.search>li{
  font-size: 20px;
}
div.scBoxWrap>div.scBox>form>input{
  margin-top: 45px;
  font-size: 17px;
}

/* 메인 */
div.mainWrap{
  margin-top: 0px;
}
div.mainWrap>div.main{
  width: 90%;
  max-width: 700px;
}
div.mainWrap>div.main>div.texts{
  padding: 20px 0px;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 14px;
  line-height: 20px;
}
div.mainWrap>div.main>div.texts>h5{
  font-size: 10px;
  width: calc(100% / 12 * 1.2);
  line-height: 20px;
  text-transform: uppercase;
}
div.mainWrap>div.main>div.image{
  height: 280px;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 40px;
}
div.cntWrap div.content{
  width: 90%;
  max-width: 700px;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 20px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  height: 156px;
  background-size: 120%;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  font-size: 16px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  font-size: 14px;
}

/* 배너공통 */
div.bnrWrap{
  margin-top: 40px;
}

/* 배너 */
div.bnrWrap>div.banner.bnr01{
  width: 90%;
  max-width: 700px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts{
  margin-top: 10px;
  width: calc(50% - 20px);
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h5{
  font-size: 12px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>h2{
  font-size: 20px;
  line-height: 30px;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
  font-size: 10px;
  width: calc(100% / 4 * 0.7);
  margin-top: 20px;
}
div.bnrWrap>div.banner.bnr01 div.image{
  background-size: 100%;
}
div.bnrWrap>div.banner.bnr01>div.bnrTop>div.image{
  height: 200px;
  width: calc(50% - 20px);
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image{
  height: 200px;
  margin: 0 auto;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i1{
  width: calc(50% - 20px);
  margin-right: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i2{
  width: calc(50% / 2 - 20px);
  margin: 0px 10px;
}
div.bnrWrap>div.banner.bnr01>div.bnrBtm>div.image.i3{
  width: calc(50% / 2 - 20px);
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
  width: calc(100% / 8 * 6);
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
  width: calc(100% / 4 - 20px);
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
  height: 190px;
}
div.cntWrap>div.content.cnt02>div.section>div.btns{
  font-size: 30px;  
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
  width: calc(100% / 8 * 5.3);
}
div.cntWrap>div.content.cnt03>div.section div.article>div.image{
  background-size: 110%;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.image{
  height: 242px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
  width: calc(100% / 8 * 2.7);
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.image{
  height: 242px;
}
div.cntWrap>div.content.cnt03>div.section div.texts{
  padding: 20px 0px;
}
div.cntWrap>div.content.cnt03>div.section div.texts>h3{
  font-size: 14px;
}
div.cntWrap>div.content.cnt03>div.section div.texts>h5{
  font-size: 14px;
}
div.cntWrap>div.content.cnt03>div.section div.texts>p{
  font-size: 11px;
  width: calc(100% / 2.7 * 2.2);
}
div.cntWrap>div.content.cnt03>div.section div.texts>div.btn{
  display: none;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnLeft{
  font-size: 19px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar>div.btnRight{
  font-size: 19px;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04>div.header{
  width: calc(100% / 8 * 2.7);
  padding-top: 40px;
  height: 270px;
}
div.cntWrap>div.content.cnt04>div.header>p{
  width: calc(100% / 2.7 * 2.5);
  font-size: 13px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt04>div.header>div.bar{
  margin-top: 30px;
}
div.cntWrap>div.content.cnt04>div.section{
  width: calc(100% / 8 * 5.3);
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
  width: calc((100vw - 700px) / 2 + 100%);
  min-width: calc((100vw - 90vw) / 2 + 100%);
  height: 270px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 270px;
}

/* 배너2 */
div.bnrWrap>div.banner.bnr02>div.bnrSns{
  height: 180px;
  margin-left: 8.2px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns:nth-child(1){
  margin-left: 0px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns:nth-child(4){
  margin-right: 0px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.dark{
  height: 180px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.image{
  height: 180px;
  margin-top: -180px;
  background-size: 120%;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns{
  margin-top: -120px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns>i{
  font-size: 35px;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>div.sns::after{
  display: none;
}
div.bnrWrap>div.banner.bnr02>div.bnrSns>div.texts>h3{
  font-size: 12px;
  margin-top: 15px;
}

/* 푸터 */
div.ftrWrap{
  margin: 40px 0px;
}
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
}
div.ftrWrap>div.footer>div.logo{
  font-size: 30px;
}
div.ftrWrap>div.footer>h3{
  font-size: 14px;
}
div.ftrWrap>div.footer>form>input{
  width: calc(100% / 8 * 3.5);
}

/* 투탑 */
div.totop{
  width: 50px;
  height: 50px;
  font-size: 14px;
  bottom: 100px;
  right: 30px;
}