@font-face {
    font-family: 'ham';
    src: url('./fonts/HANBatang.ttf') format('truetype');
}

body{
    overflow-x: hidden;
    font-family: 'ham';
}

/* mntop */
div.mntopWrap{
    background-color: #aaaaaa;
    color: #fff;
}
div.mntopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mntopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntopWrap>div.menuTop>div.icon{
    float: left;
}
div.mntopWrap>div.menuTop>div.icon>i{
    line-height: 40px;
    font-size: 18px;
}
div.mntopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    float: left;
    text-transform: capitalize;
    margin-left: 30px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


/* hdr */
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    border-bottom: 4px solid #767676;
    position: relative;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.logo{
    float: left;
    width: calc(100% / 12 * 3);
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/main_img/logo-tonystreet-main-x9.png');
    margin-top: 30px;
}
div.hdrWrap>div.header>div.logo>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 45px;
    cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-weight: 700;
    font-size: 30px;
}
div.hdrWrap>div.header>div.barMenu{
    width: 20%;
    position: absolute;
    right: 0;
    top: 60px;
    opacity: 0;
    transition: all 0.5s;
}
div.hdrWrap>div.header>div.barMenu>ul.barM{
    width: 100%;
    margin-left: auto;
    background: rgba(209, 208, 208, 0.5);
    text-align: center;
    border-radius: 20px;
}
div.hdrWrap>div.header>div.barMenu>ul.barM>li:hover{
    background:#626262;;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
}
div.hdrWrap>div.header>div.barMenu>ul.barM>li{
    font-size: 17px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    transition: all 0.5s;
}


/* main */
div.mainWrap{
    margin-top: 40px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mainWrap>div.main>div.product::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.product{
    width: calc(100% / 12 * 8);
    margin: 0 auto;
}
div.mainWrap>div.main>div.product>div.image{
    width: 50%;
    height: 383px;
    background: url('../images/sub02_img/product_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
div.mainWrap>div.main>div.product>div.texts{
    width: 50%;
    float: left;
    border: 2px solid #767676;
    border-left: 0;
    padding: 40px 20px;
}
/* 타이틀 */
div.mainWrap>div.main>div.product>div.texts>h3{
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
    height: 80px;
    overflow: hidden;
}
div.mainWrap>div.main>div.product>div.texts>h3>br{
    display: none;
}
/* 별점 */
div.mainWrap>div.main>div.product>div.texts>ul.scope::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.product>div.texts>ul.scope{
    margin: 0 auto;
    width: calc(100% / 4 * 1.4);
    margin-top: -10px;
    height: 20px;
    overflow: hidden;
}
div.mainWrap>div.main>div.product>div.texts>ul.scope>li{
    float: left;
}
div.mainWrap>div.main>div.product>div.texts>ul.scope>li>i{
    color: red;
    font-size: 17px;
}
div.mainWrap>div.main>div.product>div.texts>ul.scope>span{
    margin-left: 5px;
    font-size: 17px;
}
/* 서브타이틀 */
div.mainWrap>div.main>div.product>div.texts>h5{
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}
div.mainWrap>div.main>div.product>div.texts>p{
    width: calc(100% / 4 * 2.5);
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    height: 40px;
    overflow: hidden;
}
/* 옵션선택바 */
div.mainWrap>div.main>div.product>div.texts>select{
    width: 47%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
}
div.mainWrap>div.main>div.product>div.texts>select>option{}
/* 구매버튼 */
div.mainWrap>div.main>div.product>div.texts>ul.btn::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn>li:nth-last-child(1){
    width: 60%;
    font-weight: 700;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn>li:hover{
    background-color: #767676;
    color: #000;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn>li{
    float: left;
    width: 20%;
    border: 2px solid #767676;
    background-color: #bfbfbf;
    color: #fff;
    cursor: pointer;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn>li:nth-child(2){
    border-right: 0;
    border-left: 0;
}
div.mainWrap>div.main>div.product>div.texts>ul.btn>li>i{}

/* tab,mob 구매버튼 */
div.mainWrap>div.main>ul.buyBox::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>ul.buyBox{
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
}
div.mainWrap>div.main>ul.buyBox>li{
    float: left;
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
}
div.mainWrap>div.main>ul.buyBox>li:nth-child(1){
    width: calc(100% / 12 * 1);
    font-size: 25px;
}
div.mainWrap>div.main>ul.buyBox>li:nth-child(2){
    width: calc(100% / 12 * 1);
    font-size: 25px;
}
div.mainWrap>div.main>ul.buyBox>li:nth-child(3){
    width: calc(100% / 12 * 3.1);
    font-size: 15px;
    font-weight: 700;
}
div.mainWrap>div.main>ul.buyBox>li:nth-child(4){
    width: calc(100% / 12 * 3.8);
    background-color: #de2525;
    color: #fff;
    border: 1px solid #de2525;
    font-size: 17px;
    font-weight: 700;

}
div.mainWrap>div.main>ul.buyBox>li:nth-child(5){
    width: calc(100% / 12 * 1);
    font-size: 35px;
}
div.mainWrap>div.main>ul.buyBox>li>i{}
div.mainWrap>div.main>ul.buyBox>li>span{
    margin-right: 10px;
}


/* tab */
div.mainWrap>div.main>ul.tabBox::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>ul.tabBox{
    margin-top: 40px;
    border-top: 4px solid #767676;
    position: relative;
    z-index: 2;
}
div.mainWrap>div.main>ul.tabBox>li:hover{
    color: red;
    font-size: 25px;
}
div.mainWrap>div.main>ul.tabBox>li:nth-child(3){
    display: none;
}
div.mainWrap>div.main>ul.tabBox>li{
    float: left;
    width: calc(100% / 4 - 10px);
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-weight: 700;
    color: #767676;
    cursor: pointer;
}


/* video box */
div.videoBoxWrap{
    background-color: #df9da4;
    padding: 40px 0px 120px;
}
div.videoBoxWrap>div.videoBox{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.videoBoxWrap>div.videoBox>h2{
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
div.videoBoxWrap>div.videoBox>h2>span{
    color: red;
}
div.videoBoxWrap>div.videoBox>video{
    width: 70%;
    height: 425px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 580px;
    bottom: 0;
}


/* cnt 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content>div.section>div.article{}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    font-weight: 700;
}


/* cnt01 */
div.cntWrap:nth-child(5){
    margin-top: 440px;
}
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{
    width: calc(100% / 12 * 5);
    background-color: #df9da4;
    height: 80px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: 80px;
}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article.art01{
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.image.i1{
    width: calc(100% / 12 * 4.5);
    height: 320px;
    float: left;
    background-image: url('../images/sub02_img/point_1_01.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts{
    width: calc(100% / 12 * 7);
    float: left;
    margin-left: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>h3>br{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>p:nth-child(2){
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>p:nth-child(3){
    width: calc(100% / 7 * 4);
    height: 40px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.texts>p:nth-child(4){
    width: calc(100% / 7 * 4);
    height: 80px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>div.image.i2{
    height: 180px;
    width: calc(100% / 12 * 3);
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: bottom;
    background-image: url('../images/sub02_img/point_1_02.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article.art01>p{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    float: left;
    width: 50%;
    text-align: right;
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.image{
    width: 45%;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.image.i3{
    height: 280px;
    background-image: url('../images/sub02_img/point_1_03.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.texts{
    width: 55%;
    float: right;
    text-align: right;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.texts>h3>br{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.texts>p{
    width: calc(100% / 6 * 5.7);
    margin-left: auto;
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article.art02>div.texts>p:nth-child(3){
    margin-top: 40px;
}

/* cnt02 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    width: calc(100% / 12 * 5);
    background-color: #df9da4;
    height:80px;
    border-radius: 40px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.header>h5{
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt02>div.header>p{
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: calc(100% / 2 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-image: url('../images/sub02_img/point_2_01.gif');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    background-image: url('../images/sub02_img/point_2_02.gif');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{}


/* cnt03 */
div.cntWrap>div.content.cnt03{
    padding-bottom: 120px;
    border-bottom: 4px solid #767676;
}
div.cntWrap>div.content.cnt03>div.header{
    width: calc(100% / 12 * 5);
    background-color: #df9da4;
    height: 80px;
    border-radius: 40px;
}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 2 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.image{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2)>div.texts{
    margin-top: 40px;
    text-align: right;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 320px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.img1{
    background-image: url('../images/sub02_img/point_3_01.jpg');
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/sub02_img/point_3_01.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/sub02_img/point_3_02.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    text-transform: uppercase;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: 17px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 80px;
}


/* totop */
div.toTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.toTop>i{
    font-size: 40px;
    position: absolute;
    right: -60px;
    bottom: -10px;
    cursor: pointer;
}


/* ftr */
div.ftrWrap{
    margin-top: 80px;
    background-color: #eee;
    padding: 80px 0px 40px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    font-weight: 700;
}
/* ftr top */
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop{
    width: calc(100% / 12 * 10);
}
div.ftrWrap>div.footer>div.ftrTop>div.logo{
    float: left;
    width: 50%;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/main_img/logo-tonystreet-main-x9.png');
}
div.ftrWrap>div.footer>div.ftrTop>div.info{
    float: left;
    margin-left: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>div.info>h3{
    font-size: 24px;
}
div.ftrWrap>div.footer>div.ftrTop>div.info>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin-top: 15px;
}
/* ftr btm */
div.ftrWrap>div.footer>div.ftrBtm{
    margin-top: 40px;
}
div.ftrWrap>div.footer>div.ftrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>div.info:nth-child(3){
    width: calc(100% / 12 * 3.7);
    margin-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.info{
    float: left;
    width: 25%;
}
div.ftrWrap>div.footer>div.ftrBtm>div.info>h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.info>h4{
    font-size: 12px;
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    float: right;
    width: calc(100% / 12 * 2);
    text-align: right;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>h3{
    font-size: 24px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

div.lightBox{
    position: fixed;
    width: 20vw;
    height: 20vh;
    background: rgba(0, 0, 0, 0.7);
    top: -400px; left: 0; right: 0; bottom: 0; margin: auto;
    border-radius: 20px;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;

}
  div.lightBox>div.texts{
    width: 10vw;
    height: 10vh;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    div.lightBox>div.texts{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}