/* mnt */
div.mntopWrap{
    display: none;
}

/* bdr */
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header>ul.nav>li{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-last-child(1){
    display: block;
}
div.hdrWrap>div.header>div.logo{
    width: calc(100% / 8 * 3);
    height: 28px;
}
div.hdrWrap>div.header>div.barMenu{
    width: 40%;
}

/* main */
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
}
div.mainWrap>div.main>div.mainLeft{
    float: none;
    width: calc(100% / 8 * 6);
    margin: 0 auto;
}
div.mainWrap>div.main>div.mainRight{
    float: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

/* cnt 공통 */
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}

/* cnt01 */
div.cntWrap>div.content.cnt01{
    width: 100%;
    max-width: none;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 40px;
}
div.cntWrap>div.content>div.header>p{
    width: calc(100% / 8 * 6);
}
div.cntWrap>div.content.cnt01>div.section{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: 51%;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.ovrGridTxt{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    height: 200px;
    margin-left: min(calc((100vw - 700px) / -2), calc((100vw - 90vw) / -2));
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: 49%;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image>div.ovrGridImg{
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.image>div.ovrGridImg{
    margin-left: min(calc((100vw - 700px) / -2), calc((100vw - 90vw) / -2));
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.text{
    margin-top: -200px;
    padding: 40px 20px 0px 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.text>h5{
    font-size: 16px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.text>p{
    height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts>div.text{
    padding-right: 0;
    padding-left: 20px;
}

/* cnt02 */
div.cntWrap:nth-child(5){
    margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    width: calc(100% / 8 * 3.6);
}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(100% / 8 * 6);
}
div.cntWrap>div.content.cnt02>div.section{
    width: 66%;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
    width: 400%;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.image{
    width: calc(100% / 8 - 20px);
    height: 360px;
}
div.cntWrap>div.btn{
    width: 70%;
    left: 15%;
}

/* cnt03 */
div.cntWrap>div.content.cnt03>div.header>h2{
    width: calc(100% / 8 * 4.8);
}
div.cntWrap>div.content.cnt03>div.header>p{
    width: calc(100% / 8 * 6.5);
    height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft {
    width: 100%;
    float: none;
    margin: 0;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.btn{
    display: block;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article:hover>div.texts>i{
    display: block;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.btn{
    display: block;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article:hover>div.texts>i{
    display: block;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
    width: calc(100% / 8 * 6);
    float: none;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article{
    float: left;
    width: calc(100% / 6 * 1.7);
    margin: 0px 10px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article:nth-child(1){
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h3{
    font-size: 29px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h3{
    font-size: 21px;
}

/* cnt04 */
div.cntWrap:nth-last-child(2){
    background-color: #df9da4;
    padding: 40px 0px;
}
div.cntWrap>div.content.cnt04{
    width: 90%;
    max-width: 700px;
    position: relative;
}
div.cntWrap>div.content.cnt04>div.header{
    padding: 0;
}
div.cntWrap>div.content.cnt04>div.header>h2{
    margin-left: 0;
    position: absolute;
    top: 20px;
    right: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i2{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content.cnt04>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.article{
    margin-top: 0;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i1{
    width: calc(100% / 8 * 3);
    margin-left: 0;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts{
    width: calc(100% / 8 * 3.5);
    float: left;
    margin-left: 88px;
    margin-top: 120px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>h3{
    font-size: 15px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>p{
    display: none;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>div.btn{
    margin-top: 40px;
    width: 55%;
}

/* ftr */
div.ftrWrap{
    margin-top: 0;
    padding: 40px 0px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
}
div.ftrWrap>div.footer>div.ftrTop{
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrTop>div.logo{
    float: none;
    margin: 0 auto;
    width: calc(100% / 8 * 6);
    height: 57px;
}
div.ftrWrap>div.footer>div.ftrTop>div.info{
    float: none;
    text-align: center;
    margin-top: 25px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.info{
    display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    float: none;
    width: 100%;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{
    margin-left: 0;
    margin: 0px 5px;
    text-align: center;
}