/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  max-width: 700px;
}
div.hdrWrap>div.header>ul.nav>li{
  display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-last-child(1){
  display: block;
}
div.hdrWrap>div.header{
  line-height: 40px;
  height: 40px
}
div.hdrWrap::before{
  height: 40px;
}
div.hdrWrap>div.header>div.logo{
  margin-top: 0px;
}
div.hdrWrap>div.header>ul.nav>li>i{
  line-height: 40px;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 680px) / 2 + 15px);
  margin-top: 45px;
  height: 0;
  overflow: hidden;
}
div.topBox>div.box{
  width: 145px;
  height: 250px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -50px;
  text-align: right;
  top: 0;
  right: 75px;
}
div.topBox>ul>li{
  font-size: 13px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 18px;
  opacity: 1;
  cursor: pointer;
}


/* 메인 */
div.mainWrap{
  height: 320px;
  margin-top: -40px;
}
div.mainWrap>div.main>i{
  padding-top: 220px;
}

div.mainWrap>div.main>div.videoBox{
  height: 320px;
}
div.mainWrap>div.main>div.videoBox>video{
  margin-top: -170px;
  margin-left: -100px;
}


/* 컨텐츠1 */
div.cntWrap{
  margin-top: 60px;
}
div.cntWrap>div.content{
  width: 90%;
  max-width: 700px;
  margin-top: 0px;
}
div.cntWrap>div.content>div.header{
  opacity: 1;
}
div.cntWrap>div.content>div.header>h2::before{
  width: 15px;
  height: 15px;
}
div.cntWrap>div.content>div.header>h2{
  line-height: 40px;
  font-size: 15px;
}
div.cntWrap>div.content>div.section{
  opacity: 1;
}
div.cntWrap>div.content>div.section>div.article>div.image{
  width: calc(100% / 8 * 6);
  height: 120px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>h3{
  line-height: 40px;
  font-size: 11px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.bar{
  height: 20px;
  margin: 10px 10px;
}
div.cntWrap>div.content>div.section>div.article>div.texts{
  width: calc(100% / 8 * 6);
  margin: 0 auto;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt{
  width: 100%;
  margin-left: auto;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>p{
  width: 100%;
  font-size: 10px;
  margin-top: 0px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.scrollBar{
  display: none;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns{
  width: calc(100% / 8 * 0.7);
  margin-top: 0px;
  opacity: 1;
}

div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns>div.btn{
  line-height: 40px;
  font-size: 10px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns>i{
  line-height: 40px;
  font-size: 12px;
  margin-left: 3px;
}


/* 배너 */
div.bnrWrap{
  opacity: 1;
}
div.bnrWrap>div.banner{
  width:  90%;
  max-width: 700px;
  padding-left: calc(100% / 12);
  padding-right: calc(100% / 12);
}
div.bnrWrap>div.banner>div.menu{}
div.bnrWrap>div.banner>div.menu>div.image{
  height: 200px;
  opacity: 1;
}
div.bnrWrap>div.banner>div.menu>div.texts>h4{
  font-size: 11px;
  line-height: 20px;
}
div.bnrWrap>div.banner>div.menu>div.texts>div.btn{
  line-height: 20px;
}
div.bnrWrap>div.banner>div.menu>div.texts>div.btn>i{
  font-size: 9px;
  padding: 1px 1px;
}


/* 풋터 */
div.ftrWrap{
  opacity: 1;
}
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
  margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  width: calc(100% / 8 * 6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  width: calc(100% / 8 * 2);
  float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li:nth-child(1){
  font-size: 11px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  font-size: 10px;
  line-height: 20px;
}

div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  width: calc(100% / 8 * 2 - 20px);
  line-height: 40px;
  height: 20px;
  margin-top: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  width: calc(100% / 8 * 6 - 20px);
  margin: 0 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate{
  width: calc(100% / 6 * 4 - 20px);
  padding-left: 5px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time{
  display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call{
  width: calc(100% / 6 * 2 - 20px);
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>h5{
  font-size: 11px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>h5{
  font-size: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>h5{
  font-size: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i1{
  background-position: -3px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i2{
  background-position: -9px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i3{
  background-position: -11px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i4{
  background-position: 3px 0px;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 60px;
  padding-bottom: 40px;
}
