/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  max-width: 700px;
}
div.hdrWrap>div.header>ul.nav>li{
  display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-last-child(1){
  display: block;
}
div.hdrWrap>div.header{
  line-height: 40px;
  height: 40px
}
div.hdrWrap::before{
  height: 40px;
}
div.hdrWrap>div.header>div.logo{
  margin-top: 0px;
}
div.hdrWrap>div.header>ul.nav>li>i{
  line-height: 40px;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 680px) / 2 + 15px);
  margin-top: 45px;
  height: 0;
  overflow: hidden;
}
div.topBox>div.box{
  width: 145px;
  height: 250px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -50px;
  text-align: right;
  top: 0;
  right: 75px;
}
div.topBox>ul>li{
  font-size: 13px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 18px;
  opacity: 1;
  cursor: pointer;
}


/* 메인 */
div.mainWrap{
  height: 320px;
  margin-top: -40px;
}
div.mainWrap>div.main>i{
  padding-top: 220px;
}

div.mainWrap>div.main>div.videoBox{
  height: 320px;
}
div.mainWrap>div.main>div.videoBox>video{
  margin-top: -170px;
  margin-left: -100px;
}

/* 컨텐츠1 */
div.cntWrap>div.content{
  width: 90%;
  max-width: 700px;
  margin-top: 60px;
}
div.cntWrap>div.content>div.header{
  opacity: 1;
}
div.cntWrap>div.content>div.header>h2::before{
  width: 15px;
  height: 15px;
}
div.cntWrap>div.content.cnt01>div.header{
  opacity: 1;
}
div.cntWrap>div.content>div.header>h2{
  line-height: 40px;
  font-size: 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.images{
  width: calc(100% / 8 * 4 - 20px);
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.images>div.image.i1{
  width: 100%;
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.images>div.image.i2{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
  width: calc(100% / 8 * 4 - 20px);
  padding-top: 120px;
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop:hover>div.article>div.texts>h3{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop:hover>div.article>div.texts>div.table{
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{
  font-size: 13px;
  line-height: 40px;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3::after{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table{
  margin-top: 20px;
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.title{
  font-size: 11px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.title>li:nth-last-child(1){
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.memo{
  font-size: 11px;
  line-height: 20px;
}

div.cntWrap>div.content.cnt01>div.section>div.artMid{
  margin-top: 80px;
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.image{
  width: calc(100% / 8 * 4 - 20px);
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts{
  width: calc(100% / 8 * 4 - 20px);
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  height: 280px;
}

div.cntWrap>div.content>div.section div.article>div.texts>h3{
  font-size: 13px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>h3{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table{
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.title{
  font-size: 11px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.memo{
  font-size: 11px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>h3::after{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table{
  margin-top: 20px;
}

div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  margin-top: 80px;
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
  width: calc(100% / 8 * 4);
  margin-left: calc(100% / 8);
  height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
  width: calc(100% / 8 * 3 - 50px);
  margin-left: auto;
  height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3::after{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab{
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab>li{
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab>li>span{
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab>li>i{
  margin-top: 2px;
}

/* 배너공통 */
div.bnrWrap{
  margin-top: 60px;
  opacity: 1;
}
div.bnrWrap>div.banner{
  width: 90%;
  max-width: 700px;
}
div.bnrWrap>div.banner>h2::before{
  width: 15px;
  height: 15px;
}
div.bnrWrap>div.banner>h2{
  line-height: 40px;
  font-size: 15px;
}

/* 배너1 */
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons>div.icon>div.image{
  height: 60px;
  margin: 10px auto;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons>div.icon>div.texts>h3{
  font-size: 11px;
  line-height: 40px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons>div.icon>div.texts>p{
  display: none;
}

/* 배너2 */
div.bnrWrap.bnrWrap02{
  opacity: 1;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts{
  width: calc(100% / 8 * 3);
  margin-left: calc(100% / 8 - 30px);
  padding-top: 40px;
  background-color: #e3e3e3;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.images{
  width: calc(100% / 8 * 3.7);
  margin-right: calc(100% / 8 - 30px);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.header>h3{
  font-size: 11px;
  line-height: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.header>p{
  width: 85%;
  font-size: 9.5px;
  line-height: 20px;
  margin-top: 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop{
  padding: 15px 10px 15px 10px;
  margin-top: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight>h4{
  font-size: 10px;
  line-height: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight>p{
  font-size: 9px;
  line-height: 13px;
  height: 26px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.images{
  height: 360px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtLeft{
  width: calc(100% / 6 * 0.8);
  margin: 0 auto;
  text-align: center;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtLeft>i{
  font-size: 25px;
  line-height: 50px;
  padding-left: 2px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight{
  width: calc(100% / 6 * 5.2);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight>h4{
  font-size: 10px;
  line-height: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight>p{
  font-size: 9px;
  line-height: 13px;
  height: 26px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight>h4{
  font-size: 10px;
  line-height: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight>p{
  font-size: 9px;
  line-height: 13px;
  height: 26px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid{
  padding: 15px 10px 15px 10px;
  margin-top: 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtLeft{
  width: calc(100% / 6 * 0.8)
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtLeft>i{
  font-size: 25px;
  line-height: 50px;
  padding-left: 2px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight{
  width: calc(100% / 6 * 5.2);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm{
  padding: 15px 10px 15px 10px;
  margin-top: 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtLeft{
  width: calc(100% / 6 * 0.8)
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtLeft>i{
  font-size: 25px;
  line-height: 50px;
  padding-left: 2px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight{
  width: calc(100% / 6 * 5.2);
}

/* 풋터 */
div.ftrWrap{
  opacity: 1;
}
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
  margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  width: calc(100% / 8 * 6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  width: calc(100% / 8 * 2);
  float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li:nth-child(1){
  font-size: 11px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  font-size: 10px;
  line-height: 20px;
}

div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  width: calc(100% / 8 * 2 - 20px);
  line-height: 40px;
  height: 20px;
  margin-top: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  width: calc(100% / 8 * 6 - 20px);
  margin: 0 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate{
  width: calc(100% / 6 * 4 - 20px);
  padding-left: 5px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time{
  display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call{
  width: calc(100% / 6 * 2 - 20px);
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>h5{
  font-size: 11px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>h5{
  font-size: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>h5{
  font-size: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>p{
  font-size: 10px;
  line-height: 13px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i1{
  background-position: -3px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i2{
  background-position: -9px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i3{
  background-position: -11px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i4{
  background-position: 3px 0px;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 60px;
  padding-bottom: 40px;
}
