/* 헤더 */
div.hdrWrap>div.header{
  width: 90%;
  margin: 0 auto;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
  width: calc(100% / 4);
  font-size: 25px;
  text-align-last: left;
}
div.hdrWrap>div.header>div.hdrTop>h1{
  width: calc(100% / 4 * 2);
  text-align: center;
}
div.hdrWrap>div.header>div.hdrTop>ul.btn{
  font-size: 25px;
  width: calc(100% / 4);
  text-align: right;
  padding-right: 10px;
}
/* 메인 */
div.mnWrap>div.main{
  padding-bottom: 80px;
  width: 90%;
  margin: 0 auto;
}
/* 컨텐츠 */
div.cntWrap>div.content{
  width: 90%;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.image{
  height: 85px;
}
/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header{
  height: 100px;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-size: 25px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup{
  padding: 40px 0px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article:nth-child(2)~div.article{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.texts{
  font-size: 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article:nth-child(2)>div.texts>h3{
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article:nth-child(4)>div.texts>h3{
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i2{
  width: 60%;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i3{
  width: 60%;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i4{
  background-size: contain;
  width: 60%;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i2{
  width: 40%;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i3{
  width: 58%;
}
div.cntWrap>div.content.cnt01>div.section div.artBtm>div.artGroup::before{
  bottom: 8px;
  right: 30px;
}

/* 컨텐츠 */
div.cntWrap>div.content.cnt02>div.header{
  height: 100px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  font-size: 25px;
  top: 30px;
  line-height: 40px;
  height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
  width: 540%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
  margin-left: 0;
  margin-right: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(1)>div.image{
  height: 250px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)>div.image{
  height: 300px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)~div.article>div.image{
  height: 250px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
  height: 380px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
  font-size: 15px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.btn{
  font-size: 80px;
  right: 0;
  bottom: 55%;
}
/* 푸터*/
div.ftrWrap>div.footer{
  padding-top: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  display: none;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
display: none;
}
div.ftrWrap>div.footer>div.ftrBtm>h1{
  font-size: 35px;
}
/* 네브박스 */
div.navBox>div.top{
  font-size: 35px;
}
div.navBox>div.bottom{
  height: 91vh;
}
div.navBox>div.bottom>ul.nav>li{
  line-height: 80px;
  font-size: 40px;
}

