/* 헤더 */
div.hdrWrap{
    background-color: #000712;
    color: #fff;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 80px;
}
div.hdrWrap>div.header>div.logo{
    width: 170px;
    height: 80px;
    background-image: url('./images/W-image/header/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    cursor: pointer;
}
div.hdrWrap>div.header>div.logo>h1{
    text-indent: -999px;
}
div.hdrWrap>div.header>div.logo>h1>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    line-height: 80px;
}
div.hdrWrap>div.header>ul.nav>li:hover{
    color: yellow;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(4){
    display: none;
}
div.hdrWrap>div.header>div.mbnav{
    display: none;
}

/* 컨텐츠 공통 */
div.cntWrap{
    padding: 40px 0px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 컨텐츠1 */
div.cntWrap.cntWrap01{
    width: 100%;
    background-image: url('./images/W-image/SUB1/sub1_cntWrap01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap.cntWrap01>div.content.cnt01{
    color: #fff;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.header{
    text-align: center;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.header>h2{
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.header>h5{
    font-size: 15px;
    line-height: 40px;
    margin-top: 10px;
}
/* div.cntWrap.cntWrap01>div.content.cnt01>select{
    display: none;
} */
div.cntWrap.cntWrap01>div.content.cnt01>ul.tab{
    padding: 40px 70px;
    
}
div.cntWrap.cntWrap01>div.content.cnt01>ul.tab::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap.cntWrap01>div.content.cnt01>ul.tab>li{
    width: calc(100% / 10 * 2 - 20px);
    min-width: 150px;
    line-height: 40px;
    float: left;
    margin: 0px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
div.cntWrap.cntWrap01>div.content.cnt01>ul.tab>li:hover{
    background-color: #768949;
    color: #fff;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section{
    width: 100%;
    overflow: hidden;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div::after{
    content: '';
    display: block;
    clear: both;
}

/* art 공통 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup{
    width: 500%;
    transition: margin-left 0.5s;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art{
    width: calc(100% / 5);
    float: left;
    /* margin: 0 10px; */
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art{
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop{
    width: calc(100% / 12 * 10);
    margin: 0px auto;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article{
    width: calc(50% - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.image{
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.image>span{
    display: none;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts:hover{
    opacity: 1;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts{
    margin-top: -350px;
    height: 350px;
    overflow: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.8);
    transition: opacity 0.5s;
    padding-bottom: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul.nanido{}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul.nanido:nth-child(1){
    margin-left: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul.nanido>li{
    float: left;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul.nanido>li>i{}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>ul.nanido>h5{
    float: right;
    margin-right: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>div.txtBox>h5{
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.texts>p{
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
    height: 180px;
    overflow: hidden;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.txtBtn{
    text-align: center;
    background-color: #000;
    width: calc(100% / 5) ;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    margin: 40px auto;
    margin-top: 40px;
    cursor: pointer;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artTop>div.article>div.txtBtn:hover{
    background-color: olivedrab;
    color: #333;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm{
    width: calc(100% / 12 * 10);
    margin: 40px auto;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article{
    width: calc(50% - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.image{
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.image>span{
    display: none;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts:hover{
    opacity: 1;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts{
    margin-top: -350px;
    height: 350px;
    overflow: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.8);
    transition: opacity 0.5s;
    padding-bottom: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul.nanido{}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul.nanido:nth-child(1){
    margin-left: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul.nanido>li{
    float: left;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul.nanido>li>i{}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>ul.nanido>h5{
    float: right;
    margin-right: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>div.txtBox>h5{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.texts>p{
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
    height: 180px;
    overflow: hidden;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.txtBtn{
    text-align: center;
    background-color: #000;
    width: calc(100% / 5) ;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    margin: 0px auto;
    margin-top: 40px;
    cursor: pointer;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art>div.artBtm>div.article>div.txtBtn:hover{
    background-color: olivedrab;
    color: #333;
}  

/* art a1 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a1>div.artTop>div.article>div.image.i1{
    background-image: url('./images/W-image/SUB1/cnt1-01.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a1>div.artTop>div.article>div.image.i2{
    background-image: url('./images/W-image/SUB1/cnt1-02.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a1>div.artBtm>div.article>div.image.i3{
    background-image: url('./images/W-image/SUB1/cnt1-03.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a1>div.artBtm>div.article>div.image.i4{
    background-image: url('./images/W-image/SUB1/cnt1-04.jpg');
}
/* art a2 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a2>div.artTop>div.article>div.image.i5{
    background-image: url('./images/W-image/SUB1/cnt1-05.jpg');
    background-position: top;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a2>div.artTop>div.article>div.image.i6{
    background-image: url('./images/W-image/SUB1/cnt1-06.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a2>div.artBtm>div.article>div.image.i7{
    background-image: url('./images/W-image/SUB1/cnt1-07.jpg');
    background-position: top;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a2>div.artBtm>div.article>div.image.i8{
    background-image: url('./images/W-image/SUB1/cnt1-08.jpg');
    background-position: top;
}
/* art a3 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a3>div.artTop>div.article>div.image.i9{
    background-image: url('./images/W-image/SUB1/cnt1-09.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a3>div.artTop>div.article>div.image.i10{
    background-image: url('./images/W-image/SUB1/cnt1-10.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a3>div.artBtm>div.article>div.image.i11{
    background-image: url('./images/W-image/SUB1/cnt1-11.jpg');
    background-position: top;
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a3>div.artBtm>div.article>div.image.i12{
    background-image: url('./images/W-image/SUB1/cnt1-12.jpg');
}
/* art a4 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a4>div.artTop>div.article>div.image.i13{
    background-image: url('./images/W-image/SUB1/cnt1-13.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a4>div.artTop>div.article>div.image.i14{
    background-image: url('./images/W-image/SUB1/cnt1-14.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a4>div.artBtm>div.article>div.image.i15{
    background-image: url('./images/W-image/SUB1/cnt1-15.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a4>div.artBtm>div.article>div.image.i16{
    background-image: url('./images/W-image/SUB1/cnt1-16.jpg');
    background-position: top;
}
/* art a5 */
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a5>div.artTop>div.article>div.image.i17{
    background-image: url('./images/W-image/SUB1/cnt1-17.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a5>div.artTop>div.article>div.image.i18{
    background-image: url('./images/W-image/SUB1/cnt1-18.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a5>div.artBtm>div.article>div.image.i19{
    background-image: url('./images/W-image/SUB1/cnt1-19.jpg');
}
div.cntWrap.cntWrap01>div.content.cnt01>div.section>div.artGroup>div.art.a5>div.artBtm>div.article>div.image.i20{
    background-image: url('./images/W-image/SUB1/cnt1-20.jpg');
}


/* 컨텐츠2 */
div.cntWrap.cntWrap02{
    background-color: #0d0d0d;
    color: #fff;
}
div.cntWrap.cntWrap02>div.content.cnt02{}
div.cntWrap.cntWrap02>div.content.cnt02>div.section{
  
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article{
    position: relative;
    height: 680px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.image{
    width: calc(100% / 12 * 9);
    height: 560px;
    background-image: url(./images/W-image/SUB1/sub1_cnt02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.image>span{
    display: none;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox{
    width: calc(100% / 12 * 7);
    height: 480px;
    background-color: #53595d;
    position: absolute;
    top: 200px;
    right: 15px;
    z-index: 1;
    
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts{
    width: calc(100% / 2);
    text-align: center;
    position: absolute;
    right: 0px;
    top: 40px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>h3{
    font-size: 18px;
    line-height: 40px;

}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtTop{}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtTop>h5{
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div>h5{
    width: calc(100% / 2 );
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #a72024;

}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtTop>p{
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0px;
    height: 140px;
    overflow: hidden;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtBtm{}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtBtm>h5{
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.article>div.textBox>div.texts>div.txtBtm>p{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    height: 100px;
    overflow: hidden;
}


/* 컨텐츠3 */
div.cntWrap.cntWrap03{
    width: 100%;
    background-image: url('./images/W-image/SUB1/sub1_cntWrap03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 40px 0px;
}
div.cntWrap.cntWrap03>div.content.cnt03{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.header{
    
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.header>h2{
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section{
    margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artLeft{
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artLeft>div.image{
    width: calc(100% / 12 * 5 - 20px);
    height: 520px;
    float: left;
    background-image: url('./images/W-image/SUB1/sub1_cnt03_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artLeft>div.image>span{
    display: none;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight{
    width: calc(100% / 12 * 7);
    float: right;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image{
    width: calc(50% - 20px);
    margin: 0px 10px;
    height: 240px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image>span{
    display: none;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image:nth-child(2)~div.image{
    margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image.i1{
    background-image: url('./images/W-image/SUB1/sub1_cnt03_02.jpg');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image.i2{
    background-image: url('./images/W-image/SUB1/sub1_cnt03_03.jpeg');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image.i3{
    background-image: url('./images/W-image/SUB1/sub1_cnt03_04.jpeg');
}

div.cntWrap.cntWrap03>div.content.cnt03>div.cntTop>div.section>div.article>div.artRight>div.image.i4{
    background-image: url('./images/W-image/SUB1/sub1_cnt03_05.jpeg');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm{
    margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.header{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.header>h3{
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section{
    margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.map{
    width: 100%;
    height: 400px;
    background-color: #fff;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts{
    margin-top: 40px;
    padding: 0 320px;
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div>i{
    font-size: 20px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.tel{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.tel>i{  
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.tel>span{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.map{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.map>i{
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.map>span{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.time{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.time>i{
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.time>span{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.price{}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.price>i{
}
div.cntWrap.cntWrap03>div.content.cnt03>div.cntBtm>div.section>div.article>div.texts>div.price>span{}

/* 푸터 */
div.ftrWrap{
    width: 100%;
    background-color: #898989;
    color: #fff;
}
div.ftrWrap::before{
    display: block;
    content: '';
    width: 100%;
    height: 40px;
    background-color: #545353;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrTop{
    margin-top: -40px;
}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopLeft{
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopLeft>ul.nav{
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopLeft>ul.nav>li{
    font-size: 12px;
    line-height: 40px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopLeft>ul.nav>li:hover{
    color: #000;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopRight{
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopRight>ul.nav{
    text-align: center;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopRight>ul.nav:hover{
    cursor: pointer;
    color: #fc0;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopRight>ul.nav>i{
    font-size: 20px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrTopRight>ul.nav>h6{
    font-size: 15px;
    line-height: 20px;
    margin-top: -5px;
}
div.ftrWrap>div.footer>div.ftrBtm{
    width: calc(100% / 12 * 5);
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.header{}
div.ftrWrap>div.footer>div.ftrBtm>div.header>h1{
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.header>h4{
    font-size: 15px;
    line-height: 40px;
    text-transform: capitalize;
}
div.ftrWrap>div.footer>div.ftrBtm>div.header>h5{
    font-size: 12px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i:hover{
    color: #000;
}