@font-face {
  font-family: 웰컴체 Bold;
  src: url('./fonts/웰컴체\ Bold.ttf');
}
@font-face {
  font-family: swissko;
  src: url('./fonts/swissko.ttf');
}
@font-face {
  font-family: NanumGothic;
  src: url('./fonts/NanumGothic.otf');
}
@font-face {
  font-family: tway_air;
  src: url('./fonts/tway_air.ttf');
}
@font-face {
  font-family: BRUSHSCI;
  src: url('./fonts/BRUSHSCI.TTF');
}
body{
  overflow-x: hidden;
  font-family: NanumGothic;
}

/* 헤더 선택자 */
div.hdrWrap{
  position: relative;
  z-index: 99;
}
div.hdrWrap::before{
  content: '';
  display: block;
  height: 80px;
  width: 100%;
  /* background-color: #636e7a; */
  filter: opacity(0.5);
  position: absolute;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  line-height: 80px;
  height: 80px;
  color: #fff;
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;    
}
div.hdrWrap>div.header>div.logo{
  width: calc(100% / 12 * 2);
  float: left;
  background-image: url('./images/main/main_logo.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;
  margin-top: 20px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>div.logo>a{
  display: block;
  width: 100%;
  height: 100%;
}
div.hdrWrap>div.header>ul.nav{
  float: right;
  position: relative;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  font-size: 14px;
  margin: 0px 30px;
  font-family: 웰컴체 Bold;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>ul.nav>li>i{
  font-size: 20px;
  line-height: 80px;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(7){
  display: none;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 1080px) / 2 + 15px);
  margin-top: 90px;
  height: 0px;
  overflow: hidden;
}
div.topBox>div.box{
  width: 180px;
  height: 400px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -50px;
  text-align: right;
  top: 0;
  right: 85px;
  
}
div.topBox>ul>li{
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 40px;
  opacity: 1;
  cursor: pointer;
}



/* 메인 선택자 */
div.mainWrap{
  margin-top: -80px;
  width: 100%;
  height: 800px;
}
div.mainWrap>div.main{
  position: relative;
}
div.mainWrap>div.main>div.videoBox{
  /* background-color: rgb(170, 9, 9); */
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

}
div.mainWrap>div.main>div.videoBox>video{
  width: 120%;
  margin-top: -300px;
  margin-left: -200px;
}
div.mainWrap>div.main>i{
  width: 100%;
  font-size: 40px;
  color: #fff;
  padding-top: 640px;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}


/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 120px;
  opacity: 0;
  transition: opacity 1s;
}
div.cntWrap.scroll{
  opacity: 1;
}
div.cntWrap>div.content{
  margin-top: 120px;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header{
  margin-top: -10px;
}
div.cntWrap>div.content>div.header>h2::before{
  content: '';
  display: block;
  background-image: url('./images/mark.jpg');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  line-height: 60px;
  font-size: 23px;
  font-weight: 700;
  font-family: 웰컴체 Bold;
  /* animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s; */
}

/* @keyframes opacity {
  0%{
    opacity : 0;
  }
  100%{
    opacity: 1;
  }
  
} */
div.cntWrap>div.content>div.section{
  margin-top: 40px;
}

div.cntWrap>div.content>div.section div.article>div.texts>h3{
  font-family: 웰컴체 Bold;
}


/* 컨텐츠1 선택자 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{
  text-align: center;
}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{
  float: left;
  position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image{
  position: absolute;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i1{
  width: calc(100% / 12 * 3.5);
  background-image: url('./images/main/russian\ icons.jpeg');
  height: 240px;
  margin-left: calc(100% / 12 * 1.4)
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i2{
  width: calc(100% / 12 * 9);
  background-image: url('./images/main/russian\ icons3.jpeg');
  margin-top: 60px;
  height: 520px;
  margin-left: calc(100% / 12 * 3);
  box-shadow: -3px -3px 10px #fff;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i3{
  width: calc(100% / 12 - 30px);
  background-image: url('./images/main/russian\ icons3.jpeg');
  background-position: left;
  height: 520px;
  margin-left: 0px;
  margin-top: 420px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  width: calc(100% / 12 * 9);
  padding-top: 600px;
  margin: 0 auto;
  margin-right: 0px;
  height: 940px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::before{
  content: 'Rissian Icons';
  display: inline;
  font-size: 75px;
  color: #ccc;
  top: 600px;
  left: 185px;
  position: absolute;
  font-family: BRUSHSCI;
  z-index: -5;
  opacity: 0.4;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::after{
  content: 'The Light of the North';
  display: inline;
  font-size: 55px;
  color: #ccc;
  top: 750px;
  right: -80px;
  position: absolute;
  font-family: BRUSHSCI;
  z-index: -5;
  opacity: 0.4;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  line-height: 40px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  font-size: 14px;
  line-height: 20px;
  height: 200px;
  overflow: hidden;
  color: #777;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts:hover>div.btns{
  opacity: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns{
  float: right;
  margin-top: 80px;
  font-size: 14px;
  height: 40px;
  color: #aaa;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns:hover{
  color: #666;
  font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns>div.btn{
  float: left;
  line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns>i{
  float: left;
  margin-left: 10px;
  line-height: 40px;
}


/* 컨텐츠2 선택자 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
  text-align: center;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.artTop{
  cursor: pointer;
}


div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts{
  padding-top: 280px;
  padding-bottom: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts>div.image{
  height: 40px;
  opacity: 1;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts>div.txtBtm>p{
  opacity: 1;
  height: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts:hover>div.txtBtm>div.btns{
  display: block;
  opacity: 1;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns:hover{
  color: #666;
  font-weight: 700;
}


div.cntWrap>div.content.cnt02>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
  position: relative;
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images{}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images>div.image{
  width: calc(100% / 2 - 20px);
  float: left;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images>div.image.i1{
  height: 600px;
  background-image: url('./images/main/exhibition2.jpg');
  background-position: right;
  background-size: 180%;
  background-repeat: no-repeat;
  position: absolute;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images>div.image.i2{
  width: calc(100% / 12 * 2 + 20px);
  background-image: url('./images/main/exhibition1.jpeg');
  background-position: -40px 20px;
  background-size: 200%;
  background-repeat: no-repeat;
  height: 260px;
  position: absolute;
  margin-left: calc(100% / 12 * 5);
  box-shadow: -3px -3px 10px #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts{
  width: calc(100% / 12 * 6 - 20px);
  float: right;
  height: 600px;
  margin-top: 40px;
  padding-top: 320px;
  padding-bottom: 180px;
  text-align: center;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtTop{}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtTop>h3{
  line-height: 80px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  font-family: 웰컴체 Bold;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtTop>h5{
  font-size: 13px;
  line-height: 20px;
  color: #777;
  margin-top: -20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.image{
  background-image: url('./images/main/diagonal-01-01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 0px;
  margin: 20px 0px;
  opacity: 0;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm{
  width: calc(100% / 6 * 4 - 20px);
  margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>p{
  height: 0px;
  opacity: 0;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  color: rgb(83, 83, 83);
  transition: all 0.5s;

}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns{
  float: right;
  font-size: 13px;
  height: 40px;
  color: #aaa;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns>div.btn{
  float: left;
  line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns>i{
  float: left;
  margin-left: 10px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
  margin-top: 200px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
  width: calc(50% - 50px);
  float: right;
  height: 420px;
  background-image: url('./images/main/exhibition3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts{
  width: 50%;
  float: left;
  height: 440px;
  text-align: center;
  padding-top: 120px;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtTop{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts{
  padding-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts>div.image{
  display: block;
  opacity: 1;
  height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts>div.txtBtm>p{
  height: 60px;
  opacity: 1;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts:hover>div.txtBtm>div.btns{
  display: block;
  opacity: 1;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtTop>h3{
  line-height: 80px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  font-family: 웰컴체 Bold;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtTop>h5{
  font-size: 13px;
  line-height: 20px;
  color: #777;
  margin-top: -20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.image{
  background-image: url('./images/main/diagonal-01-01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 0px;
  margin: 20px 0px;
  opacity: 0;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm{
  width: calc(100% / 6 * 4 - 20px);
  margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>p{
  height: 0px;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  color: rgb(83, 83, 83);
  opacity: 0;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns{    
  font-size: 13px;
  height: 40px;
  color: #aaa;
  margin-top: 20px;
  float: right;
  cursor: pointer;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns:hover{
  color: #666;
  font-weight: 700;
  line-height: 40px;
}    
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns>div.btn{
  float: left;
  line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns>i{
  float: left;
  margin-left: 10px;
  line-height: 40px;
}


/* 컨텐츠3 선택자 */
div.cntWrap>div.content.cnt03{
  margin-top: 120px;
}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrLeft{
  width: calc(100% / 12 * 4);
  float: left;
  text-align: center;
  margin-left: calc(100% / 12);
}

div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h2::before{
  content: '';
  display: block;
  background-image: url('./images/mark.jpg');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h2{
  line-height: 60px;
  font-size: 23px;
  font-weight: 700;
  font-family: 웰컴체 Bold;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h5{
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  margin-top: 40px;
  color: #666;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrMid{
  width: calc(100% / 12 * 2);
  float: left;
  margin: 0 auto;
  margin-top: 100px;

}
div.cntWrap>div.content.cnt03>div.header>div.hdrMid>div.image{
  background-image: url('./images/main/diagonal-01-01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight{
  width: calc(100% / 12 * 4);
  float: right;
  text-align: center;
  margin-right: calc(100% / 12);
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight>p{
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  color: #666;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight:hover>div.btns{
  opacity: 1;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight>div.btns{
  float: right;
  font-size: 14px;
  height: 40px;
  color: #aaa;
  margin-right: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight>div.btns:hover{
  color: #666;
  font-weight: 700;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight>div.btns>div.btn{
  float: left;
  line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight>div.btns>i{
  float: left;
  margin-left: 10px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section>div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  width: calc(100% / 12 * 7);
  height: 500px;
  background-image: url('./images/main/mediaart2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
  width: calc(100% / 12 * 6);
  float: right;
  color: #56b8b7;
  margin-top: -200px;
  line-height: 80px;
  font-size: 55px;
  text-align: right;
  font-weight: 700;
  margin-right: 40px;
  font-family: swissko;
  opacity: 0;
  transition: all 1.5s;
  cursor: pointer;
}
div.cntWrap:hover>div.content.cnt03>div.section>div.article>div.texts>p{
  opacity: 1;
}


/* 컨텐츠4 선택자 */
div.cntWrap>div.content.cnt04{}
div.cntWrap>div.content.cnt04>div.header{}
div.cntWrap>div.content.cnt04>div.header>h2{
  text-align: center;
}
div.cntWrap>div.content.cnt04>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.article{
  width: calc(100% / 5 - 4px);
  float: left;
  position: relative;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image{
  height: 640px;
  opacity: 0.3;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt04>div.section>div.article:hover>div.image{
  opacity: 1;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i1{
  background-image: url('./images/main/이용안내1.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i2{
  background-image: url('./images/main/이용안내2.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i3{
  background-image: url('./images/main/이용안내3.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i4{
  background-image: url('./images/main/이용안내4.png');
  background-position: -40px 0px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i5{
  background-image: url('./images/main/이용안내6.jpg');
  background-position: -230px;
}
div.cntWrap>div.content.cnt04>div.section>div.article:hover>div.texts{
  opacity: 1;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts::after{
  content: '';
  display: block;
  background-color: #fff;
  width: 30%;
  height: 3px;
  border-radius: 2px;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts{
  text-align: center;
  font-family: 웰컴체 Bold;
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
  opacity: 0;
  transition : all 0.5s;
  color: #fff;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>h3{
  line-height: 40px;
  font-size: 17px;

}


/* 컨텐츠5 선택자 */
div.cntWrap>div.content.cnt05{}
div.cntWrap>div.content.cnt05>div.header{}
div.cntWrap>div.content.cnt05>div.header>h2{
  text-align: center;
}
div.cntWrap>div.content.cnt05>div.section{}
div.cntWrap>div.content.cnt05>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt05>div.section>div.bars{
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #ccc;
}
div.cntWrap>div.content.cnt05>div.section>div.bars>div.per{
  width: calc(100% / 8);
  height: 5px;
  border-radius: 2px;
  background-color: #56b8b7;
  cursor: pointer;
  transition: all 0.5s;
}
div.cntWrap>div.content.cnt05>div.section>div.artView{
  width: 100%;
  overflow: hidden;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup{
  width: 300%;
  transition: all 0.5s;
  /* animation-name: slide2;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

/* @keyframes slide2 {
  0%{
    margin-left: 0%;
  }
  100%{
    margin-left: -200%;
  }
  
} */
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article{
  width: 8.33%;
  margin: 0 auto;
  float: left;
}

div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 340px;
  cursor: pointer;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i1{
  background-image: url('./images/main/경국대전.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i2{
  background-image: url('./images/main/경세유포.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i3{
  background-image: url('./images/main/계곡만필.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i4{
  background-image: url('./images/main/곤여전도.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i5{
  background-image: url('./images/main/경국대전.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i6{
  background-image: url('./images/main/경세유포.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i7{
  background-image: url('./images/main/계곡만필.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i8{
  background-image: url('./images/main/곤여전도.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i9{
  background-image: url('./images/main/경국대전.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i10{
  background-image: url('./images/main/경세유포.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i11{
  background-image: url('./images/main/계곡만필.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image.i12{
  background-image: url('./images/main/곤여전도.png');
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.texts{
  margin: 0 auto;
  text-align: center;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
  font-size: 17px;
  font-weight: 700;
  line-height: 80px;
  margin-top: -20px;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.texts>h5{
  font-size: 14px;
  text-transform: capitalize;
  line-height: 20px;
  margin-top: -30px;
  color: #ccc;
}
div.cntWrap>div.content.cnt05>div.section>div.btns{
  margin-top: -230px;
  float: left;
  width: 110%;
  margin-left: -5%;
}
div.cntWrap>div.content.cnt05>div.section>div.btns>i{
  font-size: 40px;
  line-height: 40px;
  color: #CCC;
  cursor: pointer;
}
div.cntWrap>div.content.cnt05>div.section>div.btns>i:hover{
  color: #666;
}
div.cntWrap>div.content.cnt05>div.section>div.btns>i:nth-child(1){
  float: left;
}
div.cntWrap>div.content.cnt05>div.section>div.btns>i:nth-child(2){
  float: right;
}



/* 배너 공통 */
div.bnrWrap{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
  opacity: 0;
  transition: opacity 1s;
}
div.bnrWrap.scroll{
  opacity: 1;
}

div.bnrWrap>div.banner>h2::before{
  content: '';
  display: block;
  background-image: url('./images/mark.jpg');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
div.bnrWrap>div.banner>h2{
  line-height: 60px;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: 웰컴체 Bold;
}

/* 배너1 선택자 */
div.bnrWrap>div.banner.bnr01{
  margin-top: 120px;
  padding-left: calc(100% / 12 * 1.5);
  padding-right: calc(100% / 12 * 1.5);
}
div.bnrWrap>div.banner.bnr01::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr01>div.icon{
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  float: left;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image{
  width: 55%;
  border-radius: 50%;
  /* background-color: rgb(221, 221, 221); */
  border: 3px solid #ccc;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
/* div.bnrWrap>div.banner.bnr01>div.icon>div.image:hover{
  width: 60%;
  height: 110px;
  margin-top: -10px;
} */

div.bnrWrap>div.banner.bnr01>div.icon>div.image.i1{
  background-image: url('./images/main/픽토\ 1.png');
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image.i2{
  background-image: url('./images/main/픽토\ 2.png');
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image.i3{
  background-image: url('./images/main/픽토\ 3.png');
  background-size: 71%;
  background-position: 13px 18px;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image.i4{
  background-image: url('./images/main/픽토\ 4.png');
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts>h3{
  font-size: 17px;
  line-height: 40px;
  margin-top: 10px;
  font-weight: 700;
  font-family: 웰컴체 Bold;
  transition: all 0.5s;
  height: 40px;
}
div.bnrWrap>div.banner.bnr01>div.icon:hover>div.texts>h3::after{
  content: '';
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 4px;
  background-color: #56b8b7;
  border-radius: 2px;
  transition: all 0.5s;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts>p{
  height: 40px;
  line-height: 18px;
  font-size: 12px;
  overflow: hidden;
  display: none;
}


/* 배너2 선택자 */
div.bnrWrap>div.banner.bnr02{}
div.bnrWrap>div.banner.bnr02>h2{}
div.bnrWrap>div.banner.bnr02>div.view{
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group{
  width: 250%;
  animation-name: slide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slide {
  0%{
    margin-left: 0%;
  }
  100%{
    margin-left: -100%;
  }
  
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images{
  cursor: pointer;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop{}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image{
  width: calc(100% / 10 - 20px);
  height: 240px;
  background-color: #ccc;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i1{
  background-image: url('./images/sns/sns-1.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i2{
  background-image: url('./images/sns/sns-2.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i3{
  background-image: url('./images/sns/sns-3.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i4{
  background-image: url('./images/sns/sns-8.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i5{
  background-image: url('./images/sns/sns-5.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i6{
  background-image: url('./images/sns/sns-4.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i7{
  background-image: url('./images/sns/sns-7.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i8{
  background-image: url('./images/sns/sns-6.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i9{
  background-image: url('./images/sns/sns-9.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image.i10{
  background-image: url('./images/sns/sns-5.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm{}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image{
  width: calc(100% / 10 - 20px);
  height: 240px;
  background-color: #ccc;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image:hover{
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i1{
  background-image: url('./images/sns/sns-5.jpg');
  margin-left: -120px;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i2{
  background-image: url('./images/sns/sns-7.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i3{
  background-image: url('./images/sns/sns-4.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i4{
  background-image: url('./images/sns/sns-9.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i5{
  background-image: url('./images/sns/sns-6.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i6{
  background-image: url('./images/sns/sns-1.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i7{
  background-image: url('./images/sns/sns-2.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i8{
  background-image: url('./images/sns/sns-1.jpeg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i9{
  background-image: url('./images/sns/sns-8.jpg');
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm>div.image.i10{
  background-image: url('./images/sns/sns-4.jpg');
}

/* 배너 화살표 넣을경우 */
/* div.bnrWrap>div.banner.bnr02>div.btns{
  margin-top: -260px;
  float: left;
  width: 110%;
  margin-left: -5%;
}
div.bnrWrap>div.banner.bnr02>div.btns>i{
  font-size: 30px;
  line-height: 40px;
  color: #CCC;
}
div.bnrWrap>div.banner.bnr02>div.btns>i:nth-child(1){
  float: left;
}
div.bnrWrap>div.banner.bnr02>div.btns>i:nth-child(2){
  float: right;
} */


/* 풋터 선택자 */
div.ftrWrap{
  opacity: 0;
  transition: opacity 1s;
}
div.ftrWrap.scroll{
  opacity: 1;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  width: calc(100% / 12 * 8);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav{
  width: calc(100% / 5 - 10px);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  font-size: 12px;
  line-height: 20px;
  color: #666;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li:nth-child(1){
  font-weight: 700;
  line-height: 40px;
  color: #000;
  font-family: 웰컴체 Bold;
  font-size: 13px;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  width: calc(100% / 12 * 4);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation{
  color: #000;
  text-transform: uppercase;
  font-family: 웰컴체 Bold;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>h4{
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image{
  width: calc(100% / 2 - 20px);
  float: left;
  height: 33px;
  text-align: left;
  cursor: pointer;
}

div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i1{
  background-image: url('./images/footer/footer_bnr1.jpg');
  background-size: contain;
  background-position: -10px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i2{
  background-image: url('./images/footer/footer_bnr2.jpg');
  background-size: contain;
  background-position: -23px 0px;
  background-repeat: no-repeat;

}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i3{
  background-image: url('./images/footer/footer_bnr3.jpg');
  background-size: contain;
  background-position: -24px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i4{
  background-image: url('./images/footer/footer_bnr4.jpg');
  background-size: contain;
  background-position: -6px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  width: calc(100% / 12 * 3 - 20px);
  float: left;
  background-image: url('./images/main/main_clogo.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  line-height: 80px;
  height: 25px;
}

div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  width: calc(100% / 12 * 9 - 20px);
  float: left;
  margin: 0 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate{
  width: calc(100% / 3 + 10px);
  float: left;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>h5{
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time{
  width: calc(100% / 3 + 10px);
  float: left;
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>h5{
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call{
  width: calc(100% / 3 - 20px);
  float: left;
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>h5{
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}

