/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
  width: 90%;
  max-width: 420px;
}

/* 메인 */
div.mainWrap{
  height: 200px;
  margin-top: -40px;
}
div.mainWrap>div.main>i{
  padding-top: 130px;
  font-size: 20px;
}
div.mainWrap>div.main>div.videoBox{
  height: 200px;
}
div.mainWrap>div.main>div.videoBox>video{
  margin-top: -47px;
  margin-left: -50px;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 350px) / 2 + 15px);
  margin-top: 35px;
  height: 0;
  overflow: hidden;
}
div.topBox>div.box{
  width: 120px;
  height: 150px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -40px;
  text-align: right;
  top: 0;
  right: 60px;
}
div.topBox>ul>li{
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 4px;
  opacity: 1;
  cursor: pointer;
}


/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 30px;
}
div.cntWrap>div.content{
  width: 90%;
  max-width: 380px;
}
div.cntWrap>div.content>div.header>h2::before{
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

/* 컨텐츠1 */
div.cntWrap>div.content>div.header>h2{
  line-height: 35px;
  font-size: 12px;
}
div.cntWrap>div.content>div.section{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.images>div.image.i2{
  height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  font-size: 11px;
  line-height: 20px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  width: 100%;
  float: left;
  height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::before{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::after{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  width: 90%;
  font-size: 10px;
  line-height: 13px;
  height: 26px;
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns{
  width: 5%;
  float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns>div.btn{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btns>i{
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 50%;
  line-height: 11px;
  padding: 1px 1px;
  margin-left: auto;
}


/* 컨텐츠2 상설전시1*/
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images>div.image.i1{
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts{
  padding-top: 60px;
  margin-top: 0px;
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtTop>h3{
  font-size: 11px;
  line-height: 20px;
  text-align: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtTop>h5{
  width: 75%;
  font-size: 10px;
  line-height: 13px;
  text-align: left;
  margin-left: 0;
  margin-top: 7px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.image{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm{
  width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>p{
  font-size: 7px;
  line-height: 13px;
  height: 26px;
  text-align: left;
  margin-top: 20px;
}

/* 호버해제 */
div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts{
  padding-top: 60px;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts>div.image{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop:hover>div.article>div.texts>div.txtBtm>p{
  font-size: 7px;
  line-height: 13px;
  height: 26px;
  text-align: left;
  margin-top: 20px;
}


/* 컨텐츠2 상설전시2 */
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
  position: relative;
  float: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.images>div.image.i1{
  width: calc(100% / 2);
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts{
  height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtTop>h3{
  font-size: 11px;
  line-height: 20px;
  text-align: right;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtTop>h5{
  width: 75%;
  font-size: 10px;
  line-height: 13px;
  height: 26px;
  text-align: right;
  margin-left: auto;
  margin-top: 7px;
  margin-right: 0;
}

div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>p{
  display: none;
}

div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns{
  float: left;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns>div.btn{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>div.txtBtm>div.btns>i{
  margin-left: 3px;
  border: 1px solid #aaa;
  border-radius: 50%;
  line-height: 11px;
  padding: 1px 1px;
  margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.image{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
  width: calc(100% / 2);
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts{
  padding-top: 60px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm{
  width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>p{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns>div.btn{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns>i{
  border: 1px solid #aaa;
  border-radius: 50%;
  line-height: 11px;
  padding: 1px 1px;
  margin-top: 10px;
  float: right;
}

/* 호버해제 */
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts{
  padding-top: 60px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts>div.image{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm:hover>div.article>div.texts>div.txtBtm>p{
  display: none;
}

div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>div.txtBtm>div.btns:hover{
  color: #666;
  font-weight: 700;
  line-height: 20px;
}    

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h2::before{
  width: 15px;
  height: 15px;
}
div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h2{
  font-size: 12px;
  line-height: 35px;
}

div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h5{
  display: none;
  /* font-size: 10px;
  width: calc(100% / 2 - 23px);
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  font-weight: 700;
  color: #000; */
}
div.cntWrap>div.content.cnt03>div.header>div.hdrRight{
  display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  width: 100%;
  height: 200px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
  width: calc(100% / 4 * 2.5);
  font-size: 29px;
  line-height: 40px;
  margin-top: -80px;
  margin-right: 5px;
  opacity: 0.5;
}


/* 컨텐츠4 */
div.cntWrap>div.content.cnt04>div.section>div.article>div.image{
  height: 200px;
}
div.cntWrap:nth-child(6){
  margin-top: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.article{
  width: calc(100% / 5);
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>h3{
  font-size: 11px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt04>div.section>div.article:hover>div.texts{
  top: 90px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image.i5{
  background-image: url('./images/main/이용안내6.jpg');
  background-position: -150px;
}


/* 컨텐츠5 */
div.cntWrap>div.content.cnt05>div.section>div.article>div.image{
  height: 80px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt05>div.section>div.article>div.texts>h3{
  margin-top: 0px;
  font-size: 10px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt05>div.section>div.article>div.texts>h5{
  display: none;
}
div.cntWrap>div.content.cnt05>div.section>div.bars{
  height: 2px;
}
div.cntWrap>div.content.cnt05>div.section>div.bars>div.per{
  height: 4px;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 160px;
}
div.cntWrap>div.content.cnt05>div.section>div.btns{
  margin-top: -100px;
}
div.cntWrap>div.content.cnt05>div.section>div.btns>i{
  font-size: 20px;
  line-height: 40px;
  color: #CCC;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
  font-size: 10px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt05>div.section>div.artView>div.artGroup>div.article>div.texts>h5{
  display: none;
}



/* 배너 */
div.bnrWrap{
  margin-top: 40px;
  width: 90%;
  max-width: 420px;
}
div.bnrWrap>div.banner.bnr01{
  margin-top: 0px;
  width: 100%;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image{
  height: 40px;
  width: 55%;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.image.i3{
  background-position: 6px 8px;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts{
  width: 100%;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts>h3{
  font-size: 10px;
}
div.bnrWrap>div.banner.bnr01>div.icon>div.texts>p{
  display: none;
}


/* 배너2 */
div.bnrWrap>div.banner.bnr02>h2{
  font-size: 12px;
  line-height: 40px;
}
div.bnrWrap>div.banner.bnr02>div.view{
  margin-top: 0px;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgBtm{
  display: none;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group{
  width: 380%;
  height: 160px;
  overflow: hidden;
}
div.bnrWrap>div.banner.bnr02>div.view>div.group>div.images>div.imgTop>div.image{
  width: calc(100% / 9);
}

/* 풋터 */
div.ftrWrap>div.footer{
  margin-top: 40px;
  width: 90%;
  max-width: 420px;
}
div.ftrWrap>div.footer>div.ftrTop{
  display: none;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 20px;
  padding-bottom: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  height: 40px;
  margin: 0 auto;
  text-align: center;
  float: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  display: none;
}
