/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
  width: 90%;
  max-width: 420px;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 350px) / 2 + 15px);
  margin-top: 35px;
  height: 0;
  overflow: hidden;
}
div.topBox>div.box{
  width: 120px;
  height: 150px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -40px;
  text-align: right;
  top: 0;
  right: 60px;
}
div.topBox>ul>li{
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 4px;
  opacity: 1;
  cursor: pointer;
}


/* 메인 */
div.mainWrap{
  height: 200px;
  margin-top: -40px;
}
div.mainWrap>div.main>i{
  padding-top: 130px;
  font-size: 20px;
}
div.mainWrap>div.main>div.videoBox{
  height: 200px;
}
div.mainWrap>div.main>div.videoBox>video{
  margin-top: -47px;
  margin-left: -50px;
}


/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 30px;
}

div.cntWrap>div.content{
  width: 90%;
  max-width: 420px;
  margin-top: 0px;
}

div.cntWrap>div.content>div.header>h2::before{
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

div.cntWrap>div.content>div.header>h2{
  line-height: 35px;
  font-size: 12px;
}
div.cntWrap>div.content>div.section{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.images{
  width: calc(100% / 2);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.images>div.image.i1{
  height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
  width: calc(100% / 2 );
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{
  font-size: 12px;
  line-height: 20px;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.title{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.memo{
  width: 80%;
  margin-left: 0px;
  font-size: 11px;
  line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.table>ul.memo>li:nth-child(2)~li{
  display: none;
}

div.cntWrap>div.content.cnt01>div.section>div.artMid{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts{
  width: calc(100% / 2);
  padding-top: 60px;
  padding-bottom: 20px;
  height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.image{
  width: calc(100% / 2);
  height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>h3{
  font-size: 12px;
  line-height: 20px;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.title{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.memo{
  width: 90%;
  margin-left: 0px;
  font-size: 11px;
  line-height: 20px;
  text-align: right;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.memo>li{
  width: 101%;
}
div.cntWrap>div.content.cnt01>div.section>div.artMid>div.article>div.texts>div.table>ul.memo>li:nth-child(2)~li{
  display: none;
}

div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
  width: calc(100% / 4 * 2.5);
  margin-left: auto;
  height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
  width: calc(100% / 4 * 1.5);
  padding-left: 20px;
  padding-bottom: 20px;
  height: 160px;
}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm:hover>div.article>div.texts>h3{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3::after{
  width: 80%;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab{
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab>li{
  font-size: 10px;
  line-height: 20px;
  margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>ul.tab>li>i{
  margin-top: 6px;
}

/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.header>div.hdrLeft>h5{
  display: none;
}

/* 컨텐츠4 */
div.cntWrap:nth-child(6){
  margin-top: 40px;
}


/* 배너1 */
div.bnrWrap{
  margin-top: 30px;
}
div.bnrWrap>div.banner{
  width: 90%;
  max-width: 420px;
}
div.bnrWrap>div.banner>h2::before{
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
div.bnrWrap>div.banner>h2{
  line-height: 35px;
  font-size: 12px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons{
  margin-top: 0px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons>div.icon{
  width: calc(100% / 3 - 20px);
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.icons>div.icon>div.texts>h3{
  font-size: 9px;
  line-height: 20px;
}

/* 배너2 */
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.header{
  padding-left: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps{
  margin-top: 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts{
  width: calc(100% / 4 * 1.5);
  margin-left: auto;
  padding-top: 30px;
  background-color: #e3e3e3;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.header>h3{
  display: none;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.header>p{
  width: 85%;
  font-size: 10px;
  line-height: 13px;
  height: 39px;
  overflow: hidden;
  font-family: 웰컴체 Bold;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.images{
  width: calc(100% / 4 * 2.5);
  margin-right: auto;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.images{
  height: 240px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop{
  padding: 12px 10px;
  margin-top: 9px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtLeft{
  width: calc(100% / 4);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtLeft>i{
  line-height: 30px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight{
  width: calc(100% / 4 * 3);
  margin-left: 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight>h4{
  line-height: 15px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtRight>p{
  display: none;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid{
  padding: 12px 10px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtLeft{
  width: calc(100% / 4);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtTop>div.txtLeft>i{
  line-height: 30px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight{
  width: calc(100% / 4 * 3);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight>h4{
  line-height: 15px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtMid>div.txtRight>p{
  display: none;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm{
  padding: 12px 10px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtLeft{
  width: calc(100% / 4);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtLeft>i{
  line-height: 30px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight{
  width: calc(100% / 4 * 3);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight>h4{
  line-height: 15px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.maps>div.texts>div.txtBtm>div.txtRight>p{
  display: none;
}



/* 풋터 */
div.ftrWrap>div.footer{
  margin-top: 40px;
  width: 90%;
  max-width: 420px;
}
div.ftrWrap>div.footer>div.ftrTop{
  display: none;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 20px;
  padding-bottom: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  height: 40px;
  margin: 0 auto;
  text-align: center;
  float: none;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  display: none;
}
