@font-face {
  font-family: 웰컴체 Bold;
  src: url('./fonts/웰컴체\ Bold.ttf');
}
@font-face {
  font-family: swissko;
  src: url('./fonts/swissko.ttf');
}
@font-face {
  font-family: NanumGothic;
  src: url('./fonts/NanumGothic.otf');
}
@font-face {
  font-family: tway_air;
  src: url('./fonts/tway_air.ttf');
}
@font-face {
  font-family: BRUSHSCI;
  src: url('./fonts/BRUSHSCI.TTF');
}
body{
  overflow-x: hidden;
  font-family: NanumGothic;
}

/* 헤더 선택자 */
div.hdrWrap{
  position: relative;
  z-index: 99;
}
div.hdrWrap::before{
  content: '';
  display: block;
  height: 80px;
  width: 100%;
  /* background-color: #636e7a; */
  filter: opacity(0.5);
  position: absolute;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  line-height: 80px;
  height: 80px;
  color: #fff;
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;    
}
div.hdrWrap>div.header>div.logo{
  width: calc(100% / 12 * 2);
  float: left;
  background-image: url('./images/main/main_logo.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;
  margin-top: 20px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>div.logo>a{
  display: block;
  width: 100%;
  height: 100%;
}
div.hdrWrap>div.header>ul.nav{
  float: right;
  position: relative;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  font-size: 14px;
  margin: 0px 30px;
  font-family: 웰컴체 Bold;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>ul.nav>li>i{
  font-size: 20px;
  line-height: 80px;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}
div.hdrWrap>div.header>ul.nav>li:nth-child(7){
  display: none;
}

/* 햄버거버튼 탑메뉴 */
div.topBox{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  margin-right: calc((100vw - 1080px) / 2 + 15px);
  margin-top: 90px;
  height: 0px;
  overflow: hidden;
}
div.topBox>div.box{
  width: 180px;
  height: 400px;
  background-color: #000;
  opacity: 0.5;
}
div.topBox>ul{
  position: absolute;
  margin-right: -50px;
  text-align: right;
  top: 0;
  right: 85px;
  
}
div.topBox>ul>li{
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  z-index: 999;
  margin-top: 40px;
  opacity: 1;
  cursor: pointer;
}



/* 메인 선택자 */
div.mainWrap{
  margin-top: -80px;
  width: 100%;
  height: 800px;
}
div.mainWrap>div.main{
  position: relative;
}
div.mainWrap>div.main>div.videoBox{
  /* background-color: rgb(170, 9, 9); */
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

}
div.mainWrap>div.main>div.videoBox>video{
  width: 120%;
  margin-top: -300px;
  margin-left: -200px;
}
div.mainWrap>div.main>i{
  width: 100%;
  font-size: 40px;
  color: #fff;
  padding-top: 640px;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  animation-name: opacity;
  animation-duration: 1s;
  transition: opacity 1s;
}


/* 컨텐츠1 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header{
  opacity: 0;
  transition: opacity 1s;
}
div.cntWrap>div.content>div.header.scroll{
  opacity: 1;
}
div.cntWrap>div.content>div.header>h2::before{
  content: '';
  display: block;
  background-image: url('./images/mark.jpg');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  line-height: 60px;
  font-size: 23px;
  font-weight: 700;
  font-family: 웰컴체 Bold;
  text-align: center;

}
div.cntWrap>div.content>div.section{
  margin-top: 40px;
  opacity: 0;
  transition: opacity 1s;
}
div.cntWrap>div.content>div.section.scroll{
  opacity: 1;
}
div.cntWrap>div.content>div.section>div.article{}
div.cntWrap>div.content>div.section>div.article>div.image{
  width: 100%;
  height: 240px;
  background-color: #ccc;
  background-image: url('./images/sub2/temp_shrine5-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.texts{}
div.cntWrap>div.content>div.section>div.article>div.texts::after{
  content: '';
  display: block;
  clear: both; 
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt{
  width: calc(100% / 12 * 10);
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-left: calc(100% / 12);
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>h3{
  font-size: 17px;
  font-weight: 700;
  line-height: 80px;
  font-family: 웰컴체 Bold;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.bar{
  background-image: url('./images/main/diagonal-01-01.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>p{
  width: calc(100% / 10 * 9);
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  height: 140px;
  overflow: hidden;
  color: #666;
  margin-top: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt:hover>div.btns{
  opacity: 1;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns{
  width: calc(100% / 10 * 0.7);
  margin: 0 auto;
  color: #666;
  margin-top: 20px;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns>div.btn{
  font-size: 14px;
  line-height: 80px;
  float: left;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.leftTxt>div.btns>i{
  font-size: 14px;
  line-height: 80px;
  float: left;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.scrollBar{
  width: calc(100% / 12);
  float: right;
  margin-top: 160px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.scrollBar>div.bar{
  width: 2px;
  height: 200px;
  background-color: #ccc;
  float: right;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.scrollBar>div.per{
  width: 3px;
  height: 35px;
  background-color: #ccc;
  background-color: crimson;
  float: right;
  margin-right: -1.5px;
  cursor: pointer;
}



/* 배너1 */
div.bnrWrap{
  margin-top: 80px;
  opacity: 0;
  transition: opacity 1s;
}
div.bnrWrap.scroll{
  opacity: 1;
}
div.bnrWrap>div.banner{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.bnrWrap>div.banner::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner>div.menu{
  width: calc(100% / 4 - 20px);
  margin: 0 auto;
  float: left;
  margin: 0px 10px;
  cursor: pointer;
}
div.bnrWrap>div.banner>div.menu>div.image{
  height: 420px;
  background-color: #ccc;
  opacity: 0.5;
}

div.bnrWrap>div.banner>div.menu:hover>div.texts>div.btn>i{
  background-color: #56b8b7;
}
div.bnrWrap>div.banner>div.menu:hover>div.image{
  opacity: 1;
}

div.bnrWrap>div.banner>div.menu>div.image.i1{
  background-image: url('./images/sub2/menu1.jpg');
  background-size: 135%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner>div.menu>div.image.i2{
  background-image: url('./images/sub2/menu2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner>div.menu>div.image.i3{
  background-image: url('./images/sub2/33.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner>div.menu>div.image.i4{
  background-image: url('./images/sub2/menu4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.bnrWrap>div.banner>div.menu::after{
  content: '';
  display: block;
  clear: both;
}
div.bnrWrap>div.banner>div.menu>div.texts{
  width: 100%;
  float: left;
}
div.bnrWrap>div.banner>div.menu>div.texts>h4{
  font-size: 17px;
  font-family: 웰컴체 Bold;
  line-height: 40px;
  float: left;
  color: #000;

}
div.bnrWrap>div.banner>div.menu>div.texts>div.btn{
  float: right;
  line-height: 40px;
}
div.bnrWrap>div.banner>div.menu>div.texts>div.btn>i{
  background-color: #ccc;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  padding: 3px 3px;
  transition: all 0.2s;
}


/* 풋터 선택자 */
div.ftrWrap{
  opacity: 0;
  transition: opacity 1s;
}
div.ftrWrap.scroll{
  opacity: 1;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  width: calc(100% / 12 * 8);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav{
  width: calc(100% / 5 - 10px);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  font-size: 12px;
  line-height: 20px;
  color: #666;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li:nth-child(1){
  font-weight: 700;
  line-height: 40px;
  color: #000;
  font-family: 웰컴체 Bold;
  font-size: 13px;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  width: calc(100% / 12 * 4);
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation{
  color: #000;
  text-transform: uppercase;
  font-family: 웰컴체 Bold;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>h4{
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image{
  width: calc(100% / 2 - 20px);
  float: left;
  height: 33px;
  text-align: left;
  cursor: pointer;
}

div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i1{
  background-image: url('./images/footer/footer_bnr1.jpg');
  background-size: contain;
  background-position: -10px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i2{
  background-image: url('./images/footer/footer_bnr2.jpg');
  background-size: contain;
  background-position: -23px 0px;
  background-repeat: no-repeat;

}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i3{
  background-image: url('./images/footer/footer_bnr3.jpg');
  background-size: contain;
  background-position: -24px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>div.foundation>div.image.i4{
  background-image: url('./images/footer/footer_bnr4.jpg');
  background-size: contain;
  background-position: -6px 0px;
  background-repeat: no-repeat;
}
div.ftrWrap>div.footer>div.ftrBtm{
  margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>div.logo{
  width: calc(100% / 12 * 3 - 20px);
  float: left;
  background-image: url('./images/main/main_clogo.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  line-height: 80px;
  height: 25px;
}

div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight{
  width: calc(100% / 12 * 9 - 20px);
  float: left;
  margin: 0 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate{
  width: calc(100% / 3 + 10px);
  float: left;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>h5{
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.locate>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time{
  width: calc(100% / 3 + 10px);
  float: left;
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>h5{
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.time>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call{
  width: calc(100% / 3 - 20px);
  float: left;
  padding-left: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>h5{
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrBtm>div.ftrRight>div.call>p{
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}

