/* 헤더1 */
div.hdrWrap>div.header {
  width: 90%;
  max-width: 700px;
  padding: 0;
}
div.hdrWrap>div.header>h1{
  height: 80px;
}
div.hdrWrap>div.header>ul.nav{
  display: none;
}
div.hdrWrap>div.header>ul.menu{
  display: none;
}
div.hdrWrap>div.header>div.btn{
  display: block;
  font-size: 40px;
  line-height: 80px;
  float: right;
}

/* 배너 */
div.bnrWrap>div.banner{
  width: 90%;
  max-width: 700px;
}
div.bnrWrap>div.banner::before{
  height: 360px;
  margin-left:min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2))
}
div.bnrWrap>div.banner>div.texts{
  float: none;
  width: calc(100% / 8 * 6);
  margin: 0 auto;
  padding: 40px 0px
}
div.bnrWrap>div.banner>div.texts>p:nth-child(2){
  margin-top: 20px;
}
div.bnrWrap>div.banner>div.texts>p:nth-child(3){
  display: none;
}
div.bnrWrap>div.banner>div.image{
  float: none;
  width: calc(100% / 8 * 6);
  margin: 0 auto;
  height: 400px;
}

div.bnrWrap>div.banner>div.note{
  top: 650px;
  right: 64px;
}

/* 컨텐츠공통 */
div.cntWrap{
  margin-top: 40px;
}
div.cntWrap.content{
  width: 90%;
  max-width: 700px;
}

/* 컨텐츠1 */
div.cntWrap:nth-child(3){
  margin-top: 120px;
}

div.cntWrap>div.content.cnt01>div.section>div.article{
  width: calc(100% / 3 - 82px);
  min-width: 23%;
  
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.header>p{
  height: 40px;
  
}
div.cntWrap>div.content.cnt02>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
  float: left;
  width: calc(100% / 2 - 20px);
  margin: 0 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
  display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
  width: 100%;
}

/*컨텐츠3 */

div.cntWrap>div.content.cnt03>div.section div.article{
  width: calc(100% / 2 - 100px);
  margin: 0px 50px;
}

div.cntWrap>div.content.cnt03>div.section div.article:nth-child(2)~div.article{
  margin-top: 40px;
}

/* 푸터 */
div.ftrWrap{
  margin-top: 40px;
}
div.ftrWrap>div.footer{
  width: 90%;
  max-width: 700px;
  padding-bottom: 80px;
}
div.ftrWrap>div.footer>div.ftrLeft{
  width: 100%;
  text-align: center;
  float: none;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
  display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
  font-size: 25px;
}
div.ftrWrap>div.footer>div.ftrLeft>h4:nth-last-child(2){
  display: none;
}
div.ftrWrap>div.footer>div.ftrLeft>h4{
  margin-top: 60px;
  font-size: 12px;
}
div.ftrWrap>div.footer>div.ftrRight{
  width: 100%;
  text-align: center;
  float: none;
  margin-top: -70px;
}
div.ftrWrap>div.footer>div.ftrRight>select{
  display: none;
}