@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');
body{
    overflow-x: hidden;
}
/* 헤더 */

div.hdrWrap{
    width: 100vw;
    position: relative;
    z-index: 2;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrLeft{}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/BMW-Logo-PNG-Images-HD.png');
    height: 60px;
    width: calc(100% / 12 - 20px);
    float: left;
    margin: 10px 100px 0 0;
    cursor: pointer;
    min-width: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li{
    float: left;
    font-size: 16px;
    margin-right: 40px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    transition: all 0.1s;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight{
    float: right;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu{
    position: relative;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    float: right;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(2){
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(3){
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
    transition: all 0.1s;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li>i{}

.nav_bar{
    opacity: 0;
    transition: width .5s;
}

/* 메인 */
div.mainWrap{
    margin-top: -120px;
}
div.mainWrap>div.main{
    height: 680px;
    width: 100vw;
    background-image: url('./images/service/main_pic01_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
    float: left;
    width: calc(50% - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.image{
    height: 280px;
    background-image: url('./images/service/cnt01_pic01_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.texts{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.texts>h4{
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight{
    float: left;
    width: calc(50% - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.image{
    height: 280px;
    background-image: url('./images/service/cnt01_pic02_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.texts{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.texts>h3{
    font-size: 18px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.texts>h4{
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight>div.texts>a{
    font-size: 12px;
    color: #0065b1;
}

/* 영상 */
div.vedioWrap{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
}
div.vedioWrap>video{
    width: 100%;
    height: 400px;  
}

/* 배너1 */
div.bnrWrap{
    width: 100vw;   
    margin-top: 120px; 
}
div.bnrWrap>div.banner.bnr01{}
div.bnrWrap>div.banner.bnr01>div.image{
    height: 440px;
    background-image: url('./images/service/bnr01_pic01_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.image>div.texts{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Noto Sans KR';
}
div.bnrWrap>div.banner.bnr01>div.image>div.texts>h3{
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    padding-top: 40px;
    letter-spacing: 0.0025em;
}
div.bnrWrap>div.banner.bnr01>div.image>div.texts>h5{
    font-size: 14px;
    line-height: 40px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{
    line-height: 40px;
    font-size: 34px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt02>div.header>p{
    font-size: 12px;
    line-height: 20px;
    height: 100px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 440px;
    background-image: url('./images/service/cnt02_pic01_pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content.cnt03>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts{
    float: left;
    margin-left: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
}
div.cntWrap>div.content.cnt03>div.section>div.artLeft>div.article>div.icon{
    float: right;
    background-image: url('./images/service/cnt03_pic01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 40px;
    margin-right: 30px;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.artMid{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.artMid>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.artMid>div.article>div.texts{
    float: left;
    margin-left: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.artMid>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'roboto';
}
div.cntWrap>div.content.cnt03>div.section>div.artMid>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;    
    margin-top: 15px;
}
div.cntWrap>div.content.cnt03>div.section>div.artMid>div.article>div.icon{
    float: right;
    background-image: url('./images/service/cnt03_pic02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 40px;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight{
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts{
    float: left;
    margin-left: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;    
    margin-top: 15px;
}
div.cntWrap>div.content.cnt03>div.section>div.artRight>div.article>div.icon{
    float: right;
    background-image: url('./images/service/cnt03_pic03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 40px;
    margin-top: 20px;
}
div.content.cnt03>div.section h5{
    letter-spacing: 0.002em;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
    background-color: #eaeaea;
    width: 100vw;
}
div.ftrWrap>div.footer{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
    font-family: 'Noto Sans KR';
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: left;
    padding: 120px 0;
    width: calc(100% / 12 * 2.5);
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    font-size: 24px;
    line-height: 40px;
    font-family: 'Roboto';
}
div.ftrWrap>div.footer>div.ftrMid{
    float: left;
    width: calc(100% / 12 * 5.5);
    padding-top: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu{
    line-height: 20px;
    font-size: 16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    line-height: 40px;
    position: relative;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: #8a8a8a;
    position: absolute;
    top: 14px;
    right: -16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li:nth-child(3):before{
    display: none;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info{
    font-size: 14px;
    color: #656565;
    line-height: 40px;
    height: 40px;
    padding-top: 30px;
    height: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li{
    float: left;
    letter-spacing: -25;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(1){
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(2){
    margin-right: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrRight{
    float: right;
    width: calc(100% / 12 * 2.5);
    padding: 120px 0;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin: 0 10px;
    float: left;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.youtube{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic01.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.facebook{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic02.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.insta{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic03.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.kakao{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic04.png');
    width: 35px;
    height: 35px;
}