/* 공통 */
div.cntWrap{
    margin-top: 40px;
}
div.cntWrap>div.content{
    margin: 0 auto;
    width: 90%;
    max-width: 440px;
}
div.bnrWrap.bnrWrap01{
    margin-top: 40px;
}
div.bnrWrap>div.banner{
    width: 90%;
    max-width: 440px;
}

/* 헤더 */
div.hdrWrap>div.header{
    width: 90%;
    max-width: 440px;
}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    min-width: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav{
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu{
    line-height: 80px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(2){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(3){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:hover::after{
    display: none;
}
.hdrRight{
    position: relative;
}
.nav_bar{
    line-height: 60px;
    color: #000;
    font-weight: 700;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Noto Sans KR';    
    margin-top: 80px;
    position: absolute;
    right: -5vw;
    top: 0;
    width: 25vw;
    transition: all .5s;
    display: block;
}
.nav_bar div{
    outline: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav_bar .article{
    position: relative;
}
.nav_bar i{
    line-height: 60px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 30px;
}
.nav_bar a{
    display: block;
    width: 100vw;
    padding-left: 30px;
}
/* 메인 */
div.mainWrap>div.main>div.texts{
    padding: 140px 0 40px 10px;
}
div.mainWrap>div.main>div.texts>h5{
    line-height: 20px;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 30px;
    line-height: 40px;
}
div.mainWrap>div.main>div.texts>div.M>div.image{
    width: calc(100% / 4 * 0.1);
    height: 10px;
    margin-top: 5px;
}
div.mainWrap>div.main>div.texts>div.M>h4{
    font-size: 15px;
    line-height: 20px;
    margin-left: 5px;
}
div.mainWrap>div.main>div.texts>div.btn{
    width: calc(100% / 5 * 0.5);
    min-width: 160px;
}
/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header>h2{
    font-size: 18px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.header>h5{
    line-height: 20px;
    height: 40px;
    width: calc(100% / 5 * 4);
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic01_mobile.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic03_mobile.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image{
    height: 200px;
    width: calc(100% / 4);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image.i2{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic02_mobile.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image.i4{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic04_mobile.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid{
    margin-left: min(calc((100vw - 440px) / -2),calc((100vw - 90vw) / -2));
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    font-size: 16px;
}

div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 4 * 1.8);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts{
    margin-top: 0px;
}v
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid{
    padding: 40px 0;
    margin-left: min(calc((100vw - 440px) / -2),calc((100vw - 90vw) / -2));
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>div.btn{
    width: calc(100% / 4 * 1.8);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>h3{
    font-size: 16px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts::after{
    background-color: #171717;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts::after{
    background-color: #171717;
}

/* 배너1 */
div.bnrWrap{
    margin: 40px 0px;
}
div.bnrWrap.bnrWrap01{
    height: 320px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01{
    width: 90%;
    max-width: 440px;
    height: 320px;    
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView{
    height: 240px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>ul.btn{
    padding: 280px 0 0 calc(100% / 4 - 10px);
}
div.bnrWrap>ul.paging{
    bottom: 20px;
    left: 20%;
}
div.bnrWrap>ul.paging>li{
    width: 12px;
    height: 12px;
    margin: 0 10px;
}
div.bnrWrap>ul.paging>li.show{
    width: 40px;
}
/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
    margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
    font-size: 18px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article{
    height: 160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article:hover>div.texts{
    margin-top: -160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.image{
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic01_mobile.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.image:nth-child(1)~div.image{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts{
    margin-top: -160px;
    padding: 20px 0 0 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts::after{
    height: 160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>h3{
    font-size: 14px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>div.btn{
    margin-top: 50px;
    width: calc(100% / 4);
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article{
    height: 160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts{
    margin-top: -160px;
    padding: 20px 0 0 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>h3{
    font-size: 14px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>div.btn{
    margin-top: 50px;
    width: calc(100% / 4);
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article:hover>div.texts{
    margin-top: -160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.image.i1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic02_mobile.png');
    height: 160px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.image.i2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic03_mobile.png');
    height: 160px;
}   

/* 배너2 */
div.bnrWrap>div.banner.bnr02>div.boxes{
    width: calc(100% / 2 - 20px);
    height: 200px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.image{
    height: 160px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>h5{
    display: none;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>div.btn{
    display: none;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts{
    margin: 0px;   
    padding-left: 0px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>h3{
    font-size: 12px;
    color: #000;
    line-height: 40px;
    text-align: center;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 40px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 440px;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: none;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
    width: 100%;
    margin-left: 0;
}
div.ftrWrap>div.footer>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.ftrMid{
    float: none;
    display: block;
    width: 100%;
    padding: 0;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    font-size: 12px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(3){
    line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    margin-left: 0;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    top: 5px;
}