@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');
body{
    overflow-x: hidden;
}
/* 헤더 */

div.hdrWrap{
    width: 100vw;
    position: relative;
    z-index: 2;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrLeft{}
div.hdrWrap>div.header>div.hdrLeft>div.logo{}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/BMW-Logo-PNG-Images-HD.png');
    height: 60px;
    width: calc(100% / 12 - 20px);
    float: left;
    margin: 10px 100px 0 0;
    cursor: pointer;
    min-width: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    width: 60px;
    height: 60px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li{
    float: left;
    font-size: 16px;
    margin-right: 40px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    transition: all 0.1s;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight{
    float: right;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu{}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    float: right;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
    transition: all 0.1s;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li>i{}

.nav_bar{
    opacity: 0;
    transition: width .5s;
}


/* 메인 */
div.mainWrap{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/main_pic01.jpg');
    height: 100%;
    width: auto;
    position: relative;
    margin-top: -120px;
    z-index: 1;
}
div.mainWrap>div.main{
    color: white;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.mainWrap>div.main>div.texts{
    padding: 280px 0 80px;
    font-family: 'Roboto';
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 18px;
    line-height: 40px;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
}
div.mainWrap>div.main>div.texts>div.M{}
div.mainWrap>div.main>div.texts>div.M::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.texts>div.M>div.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/main_m_pic01.png');
    height: 23px;
    width: calc(100% / 12 * 0.9);
    float: left;
    margin-top: 10px;
}
div.mainWrap>div.main>div.texts>div.M>h4{
    float: left;
    font-size: 24px;
    margin-left: 10px;
    line-height: 40px;
    font-weight: 700;
}
div.mainWrap>div.main>div.texts>div.btn{
    width: calc(100% / 12 * 2);
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 400px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #333;
    font-family: 'Noto Sans KR'; 
    color: #000;   
}
div.mainWrap>div.main>div.texts>div.btn:hover{
    background-color: #0166b1;
    color: #fff;
}


/* 영상 */
div.vedioWrap{}
div.vedioWrap>video{
    width: 100vw;
    height: auto;  
}


/* 배너공통 */
div.bnrWrap{
    margin-top: 120px;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
}


/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header h2{
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}
div.cntWrap>div.content>div.section div.texts{}


/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{
    font-family: 'Roboto';
}
div.cntWrap>div.content.cnt01>div.header>h5{
    font-size: 12px;
    width: calc(100% / 12 * 4.1);
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    margin-top: 0px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 12 * 8);
    height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic01_pc.png');
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic03_pc.png');
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    float: left;
    padding-top: 120px;
    width: calc(100% / 12 * 4);
    padding-left: calc(100% / 12);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{    
    font-size: 30px;
    line-height: 60px;
    color: #0166b1;
    font-weight: 700;
    font-family: 'Roboto';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{
    line-height: 20px;
    font-size: 12px;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 4 * 2.5);
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #333;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn:hover{
    background-color: #0166b1;
    color: #fff;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid{
    width: 100vw;
    max-width: none;
    background-color: #eaeaea;
    margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2));
    padding: 80px 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid{
    width: 80%;
    max-width: 1080px;
    margin-left: calc((100vw - 1080px) / 2);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image{
    width: calc(100% / 12 * 8);
    height: 280px;
    float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image.i2{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic02_pc.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.image.i4{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt01_pic04_pc.png');
    float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts{
    float: left;
    padding-top: 120px;
    width: calc(100% / 12 * 4);
    padding-right: calc(100% / 12);
    text-align: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>h3{
    font-size: 30px;
    line-height: 60px;
    color: #0166b1;
    font-weight: 700;
    font-family: 'Roboto';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>h5{
    line-height: 20px;
    font-size: 12px;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>div.btn{
    width: calc(100% / 4 * 2.5);
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #333;
    margin-left: calc(100% / 4 * 1.5);
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.ovrGrid>div.inGrid>div.texts>div.btn:hover{
    background-color: #0166b1;
    color: #fff;
}


/* 배너1 */
div.bnrWrap{
    position: relative; 
    max-width: 1920px;
}
div.bnrWrap>div.banner.bnr01{}
div.bnrWrap>div.banner.bnr01>div.bnrGroup{
    width: 500vw;
    transition: margin-left .5s;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView{
    width: 20%;
    height: 640px;
    float: left;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView:nth-child(1){
    background-image: url('./images/main/bnr01_pic01_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView:nth-child(2){
    background-image: url('./images/main/bnr01_pic02_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView:nth-child(3){
    background-image: url('./images/main/bnr01_pic03_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView:nth-child(4){
    background-image: url('./images/main/bnr01_pic04_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.bnrGroup>div.indexView:nth-child(5){
    background-image: url('./images/main/bnr01_pic05_pc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>ul.paging{
    position: absolute;
    left: 43%;
    bottom: 30px;
    margin: auto;
}
div.bnrWrap>ul.paging::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>ul.paging>li{
    width: 15px;
    height: 15px;
    margin: 0px 15px;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    transition: all .5s;
    cursor: pointer;
}
div.bnrWrap>ul.paging>li.show{
    width: 60px;
}





/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft{
    float: left;
    width: calc(50% - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article{
    height: 520px;
    overflow: hidden;    
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article:hover>div.texts{
    margin-top: -520px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic01_pc.png');
    height: 520px;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts{
    color: white;
    padding: 40px 0 0 40px;
    margin-top: 520px;
    transition: margin-top 0.8s;
    position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts::after{
    content: '';
    display: block;
    height: 520px;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Roboto';
    position: relative;
    z-index: 5;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Noto Sans KR';
    position: relative;
    z-index: 5;
    color: #e0e0e0;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>div.btn{
    margin-top: 380px;
    padding-bottom: 40px;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    width: calc(100% / 7);
    z-index: 5;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>div.btn::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #0166b1;
    position: absolute;
    transition: all 1s;
}
div.cntWrap>div.content.cnt02>div.section>div.artLeft>div.article>div.texts>div.btn:hover::after{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: #0166b1;
    position: absolute;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight{
    float: left;
    width: calc(50% - 20px);
    margin:0 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article{
    height: 250px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article:nth-child(2){
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article:hover>div.texts{
    color: #fff;    
    margin-top: -250px;
    height: 250px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.image{
    height: 250px;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.image.i1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic02_pc.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.image.i2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/cnt02_pic03_pc.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts::after{
    content: '';
    display: block;
    background-color: #000;
    opacity: 0.7;
    height: 520px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts{
    padding: 20px 0 0 40px;
    position: relative;
    transition: margin-top 0.5s;
    color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Roboto';
    position: relative;
    z-index: 5;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    font-family: 'Noto Sans KR';
    position: relative;
    z-index: 5;
    color: #e0e0e0;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts:nth-child(3)>h5{
    font-family: 'Roboto';
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>div.btn{
    margin-top: 140px;
    line-height: 20px;
    width: calc(100% / 7);
    font-size: 12px;
    cursor: pointer;
    position: relative;
    font-family: 'Noto Sans KR';
    z-index: 5;
    
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>div.btn::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #0166b1;
    position: absolute;
    transition: all 1s;
}
div.cntWrap>div.content.cnt02>div.section>div.artRight>div.article>div.texts>div.btn:hover::after{
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: #0166b1;
    position: absolute;
}


/* 배너2 */
div.bnrWrap>div.banner.bnr02{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
}
div.bnrWrap>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr02>div.boxes{
    float: left;
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    height: 320px;
    transition: all 0.5s;
    box-shadow: 2px 2px 4px #333;
    font-family: 'Noto Sans KR';
}
div.bnrWrap>div.banner.bnr02>div.boxes:hover{
    transform: scale(1.1);
}

div.bnrWrap>div.banner.bnr02>div.boxes>div.image{
    background-color: #000;
    height: 320px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.image.i1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/bnr02_pic01_pc.png');
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.image.i2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/bnr02_pic02_pc.png');
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.image.i3{    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/bnr02_pic03_pc.png');
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.image.i4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/main/bnr02_pic04_pc.png');
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts{
    color: white;
    margin-top: -320px;
    padding-left: 30px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 80px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
    height: 60px;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>div.btn{
    font-size: 12px;
    margin-top: 140px;
    cursor: pointer;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>div.btn::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: #0166b1;
    transition: all 1.5s;
}
div.bnrWrap>div.banner.bnr02>div.boxes>div.texts>div.btn:hover::after{
    content: '';
    display: block;
    width: calc(100% / 3.4);
    height: 1px;
    background-color: #0166b1;
}


/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
    background-color: #eaeaea;
    width: 100vw;
}
div.ftrWrap>div.footer{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
    font-family: 'Noto Sans KR';
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: left;
    padding: 120px 0;
    width: calc(100% / 12 * 2.5);
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    font-size: 24px;
    line-height: 40px;
    font-family: 'Roboto';
}
div.ftrWrap>div.footer>div.ftrMid{
    float: left;
    width: calc(100% / 12 * 5.5);
    padding-top: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu{
    line-height: 20px;
    font-size: 16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    line-height: 40px;
    position: relative;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: #8a8a8a;
    position: absolute;
    top: 14px;
    right: -16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li:nth-child(3):before{
    display: none;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info{
    font-size: 14px;
    color: #656565;
    line-height: 40px;
    height: 40px;
    padding-top: 30px;
    height: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li{
    float: left;
    letter-spacing: -25;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(1){
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(2){
    margin-right: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrRight{
    float: right;
    width: calc(100% / 12 * 2.5);
    padding: 120px 0;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin: 0 10px;
    float: left;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.youtube{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/pc_ftr_pic01.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.facebook{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/pc_ftr_pic02.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.insta{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/pc_ftr_pic03.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.kakao{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/pc_ftr_pic04.png');
    width: 35px;
    height: 35px;
}