/* 헤더 */
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    margin-right: calc(100% / 12 - 20px);
    min-width: 60px;
}
.nav_bar{
    display: none;
}
/* 메인 */
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}
/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
/* 컨텐츠1 */
div.cntWrap>div.content.cnt01>div.header>h5{
    width: 100%;
    text-align: center;
    margin: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(50% - 20px);
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(3){
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.slideBar{
    left: 300px;
}
div.cntWrap>div.content.cnt01>div.ovrGrid{
    margin-left: min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2));
}
/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: 100%;
    float: none;
    margin: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(1)~div.article{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: calc(50% - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    width: calc(50% - 20px);    
    margin: 0 10px;
    float: left;
    padding: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    line-height: 40px;
    margin-top: 120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    margin-top: 40px;
    width: 97%;
    letter-spacing: -0.025em;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    width: calc(100% / 8 * 5 - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    width: calc(100% / 8 * 3 - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h2{
    font-size: 24px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    width: calc(100% / 3 * 4);
    letter-spacing: -25;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 3 * 2);
}
/* 푸터 */
div.ftrWrap{
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    font-size: 16px;
    margin-left: 10px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    font-size: 12px;
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    height: 12px;
    right: -9px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info{
    font-size: 12px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 8 * 2.6);
    padding-top: 40px;
    min-width: 222px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin: 0 10px;
    line-height: 80px;
}
div.ftrWrap>div.footer>div.ftrMid{
    width: calc(100% / 8 * 3.5);
    padding-top: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 8 * 1.5);
    padding: 80px 0;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(3){
    margin-left: 0;
}