@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');
body{
    overflow-x: hidden;
}
/* 헤더 */

div.hdrWrap{
    width: 100vw;
    position: relative;
    z-index: 2;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrLeft{}
div.hdrWrap>div.header>div.hdrLeft>div.logo>a{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./Images/BMW-Logo-PNG-Images-HD.png');
    height: 60px;
    width: calc(100% / 12 - 20px);
    float: left;
    margin: 10px 100px 0 0;
    cursor: pointer;
    min-width: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li{
    float: left;
    font-size: 16px;
    margin-right: 40px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    transition: all 0.1s;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight{
    float: right;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu{}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    float: right;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li::after{
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
    transition: all 0.1s;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0065b1;
    border-radius: 10px;
    margin-top: -20px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li>i{}

.nav_bar{
    opacity: 0;
    transition: width .5s;
    display: block;
}

/* 메인 */
div.mainWrap{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/main_pic01_pc.png');
    height: 680px;
    width: 100vw;
    position: relative;
    margin-top: -120px;
    z-index: 1;
}
div.mainWrap>div.main{
    color: white;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header h2{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content>div.header h5{
    font-size: 14px;
    font-family: 'Noto Sans KR';
    line-height: 40px;
    text-align: center;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content>div.section div.article div.image{
    background-color: #ccc;
}
div.cntWrap>div.content>div.section div.article div.texts>h3{
    font-size: 18px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article div.texts{
    font-family: 'Noto Sans KR';
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>h5{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    float: left;
    height: 420px;
    overflow: hidden;
    cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.article:hover>div.texts{
    margin-top: -360px;    
}

div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 360px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt01_pic01_pc.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt01_pic02_pc.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt01_pic03_pc.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    color: white;
    transition: all 0.5s;  
    position: relative;
    z-index: 2;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::after{
    content: '';
    display: block;
    width: 100%;
    height: 440px;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    padding: 15px 0 0 20px;
    position: relative;
    z-index: 5;
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{
    padding: 20px 0 0 20px;
    position: relative;
    z-index: 5;
    font-family: 'Noto Sans KR';
    font-size: 24px;
    line-height: 40px;
    height: 120px;
    margin-top: 40px;
    font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    margin: 180px 0 30px 30px;
    font-size: 14px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    width: calc(100% / 4 * 0.9);
    font-family: 'Noto Sans KR';
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #0166b1;
    transition: all 1.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0166b1;
}
div.cntWrap>div.content.cnt01>div.section>div.slideBar{    
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.slideBar::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.slideBar>div.left{
    float: left;
    font-size: 34px;
    line-height: 40px;
    margin-right: 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.slideBar>div.right{
    float: left;
    font-size: 34px;
    line-height: 40px;
    margin-left: 15px;
}
div.cntWrap>div.content.cnt01>div.ovrGrid{
    background-color: #eaeaea;
    width: 100vw;
    height: 480px;
    margin-top: -360px;
    margin-left: min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2))
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>h5{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2){
    margin-top: 120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 360px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt02_pic01_pc.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt02_pic02_pc.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt02_pic03_pc.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding: 0 0 0 30px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    line-height: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    font-size: 14px;
    color: #7c7c7c;
    line-height: 20px;
    height: 150px;
    width: calc(100% / 4 * 3.9);
    padding-left: 0px;
    text-align: left;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    float: left;
    width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    float: left;
    height: 480px;
    width: calc(100% / 12 * 7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/experience/cnt03_pic01_pc.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    float: right;
    width: calc(100% / 12 * 4.3);
    font-family: 'Noto Sans KR';
    margin-left: calc(100% / 12 - 30px);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h2{
    font-size: 34px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 40px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    margin-top: 80px;
    width: calc(100% / 5 * 4);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 5 * 2);
    line-height: 40px;
    background-color: #000;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 80px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #333;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn:hover{
    background-color: #0166b1;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
    background-color: #eaeaea;
    width: 100vw;
}
div.ftrWrap>div.footer{
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
    font-family: 'Noto Sans KR';
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: left;
    padding: 120px 0;
    width: calc(100% / 12 * 2.5);
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    font-size: 24px;
    line-height: 40px;
    font-family: 'Roboto';
}
div.ftrWrap>div.footer>div.ftrMid{
    float: left;
    width: calc(100% / 12 * 5.5);
    padding-top: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu{
    line-height: 20px;
    font-size: 16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    line-height: 40px;
    position: relative;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: #8a8a8a;
    position: absolute;
    top: 14px;
    right: -16px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li:nth-child(3):before{
    display: none;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info{
    font-size: 14px;
    color: #656565;
    line-height: 40px;
    height: 40px;
    padding-top: 30px;
    height: 80px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li{
    float: left;
    letter-spacing: -25;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(1){
    width: 100%;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(2){
    margin-right: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrRight{
    float: right;
    width: calc(100% / 12 * 2.5);
    padding: 120px 0;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    margin: 0 10px;
    float: left;
    cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.youtube{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic01.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.facebook{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic02.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.insta{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic03.png');
    width: 35px;
    height: 35px;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>div.kakao{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/pc_ftr_pic04.png');
    width: 35px;
    height: 35px;
}