@font-face {
  font-family: 'nsBold';
  src: url('./fonts/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: 'nsLight';
  src: url('./fonts/NotoSansKR-Light.otf');
}
@font-face {
  font-family: 'nsMdeium';
  src: url('./fonts/NotoSansKR-Medium.otf');
}
@font-face {
  font-family: 'nsRegular';
  src: url('./fonts/NotoSansKR-Regular.otf');
}

/* 헤더 */
div.hdrWrap{
  margin-top: 40px;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #0056a4;
  font-size: 18px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: 'nsMdeium';
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>div.menu{
  float: left;
  width: calc(100% / 12 * 2);
  cursor: pointer;
}
div.hdrWrap>div.header>div.menu>i{
  font-size: 20px;
}
div.hdrWrap>div.header>div.menu>span{
  margin-left: 20px;
}
div.hdrWrap>div.header>div.logo{
  float: left;
  width: calc(100% / 12 * 8);
  cursor: pointer;
}
div.hdrWrap>div.header>div.logo>div.image{
  width: calc(100% / 8 * 4 - 20px);
  margin: 0 auto;
  height: 80px;
  background-image: url('../images/logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.hdrWrap>div.header>div.logo>div.image>a{
  width: 100%;
  height: 100%;
  display: block;
}
div.hdrWrap>div.header>div.search{
  float: left;
  width: calc(100% / 12 * 2);
  text-align-last: right;
  cursor: pointer;
}
div.hdrWrap>div.header>div.search>span{
  margin-right: 20px;
}
div.hdrWrap>div.header>div.search>i{
  font-size: 20px;
}

/* 메뉴 네비게이션 박스 */
input#ch{
  display: none;
}
input#ch:checked+div.navBoxWrap{
  width: 100%;
  height: 280px;
  opacity: 1;
}
div.navBoxWrap{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
  height: 280px;
  opacity: 0;
  transition: all 0.5s;
  left: calc((100vw - 1080px) / 2.3);
}
div.navBoxWrap>div.navBox{
  width: 80%;
  max-width: 1080px;
  margin-left: 0;
}
div.navBoxWrap>div.navBox>ul.nav{
  width: calc(100% / 12 * 3.5);
  background-color: #043e73;
  padding: 40px 0px 40px 40px;
  text-transform: uppercase;
  color: #fff;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(1){
  font-size: 30px;
  text-align: right;
  margin-right: 40px;
}
div.navBoxWrap>div.navBox>ul.nav>li:nth-child(2){
  margin-top: 40px;
}
div.navBoxWrap>div.navBox>ul.nav>li{
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}
div.navBoxWrap>div.navBox>ul.nav>li:hover{
  color: #6393bd;
}
div.navBoxWrap>div.navBox>ul.nav>li>i{}

/* 검색 네비게이션 박스 */
input#ch01{
  display: none;
}
input#ch01:checked+div.scBoxWrap{
  width: calc(100% / 12 * 2.3);
  height: 280px;
  opacity: 1;
}
div.scBoxWrap{
  background-color: #043e73;
  width: calc(100% / 12 * 2.3);
  height: 0px;
  float: right;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 0px;
  right: calc((100vw - 1080px) / 2.1);
}
div.scBoxWrap>div.scBox{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0px 80px 0px;
  color: #fff;
}
div.scBoxWrap>div.scBox>ul.search{
  cursor: pointer;
}
div.scBoxWrap>div.scBox>ul.search>li{
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 10px;
}
div.scBoxWrap>div.scBox>ul.search>li:hover{
  color: #6393bd;
}
div.scBoxWrap>div.scBox>form>input{
  width: calc(100% / 3.5 * 3.2);
  line-height: 40px;
  height: 40px;
  margin-top: 60px;
  margin-left: 10px;
  padding-left: 20px;
  background-color: #fff; 
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 20px;
  line-height: 40px;
}
div.scBoxWrap>div.scBox>form>input::placeholder{
  color: #043e73;
}

/* 메인 */
div.mainWrap{
  margin-top: 40px;
  background-image: url('../images/sub01_main_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.mainWrap>div.main{
  height: 680px;
}
div.mainWrap>div.main>div.texts{
  color: #fff;
  text-align: center;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 80px;
  text-transform: uppercase;
  line-height: 80px;
  padding-top: 240px;
  font-family: 'nsMdeium';
}
div.mainWrap>div.main>div.texts>h5{
  font-size: 14px;
  line-height: 40px;
  font-family: 'nsRegular';
}
div.mainWrap>div.main>div.texts>h4{
  font-size: 40px;
  line-height: 80px;
  padding-top: 80px;
  font-family: 'nsMdeium';
}
div.mainWrap>div.main>div.texts>h4::after{
  content: '';
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: -90px;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap div.content>div.header>h2{
  font-size: 24px;
  color: #0056a4;
  text-transform: uppercase;
  font-family: 'nsBold';
  text-align: center;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
  width: calc(100% / 5 - 70px);
  height: 360px;
  float: left;
  margin: 0px 35px;
  cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article:hover>div.image{
  background-size: contain;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article:hover::after{
  content: '';
  display: block;
  background-image: url('../images/sub01_cnt01_top_icon.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 360px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt01_top_img01.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt01_top_img02.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i3{
  background-image: url('../images/sub01_cnt01_top_img03.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i4{
  background-image: url('../images/sub01_cnt01_top_img04.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i5{
  background-image: url('../images/sub01_cnt01_top_img05.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  margin-top: 80px;
  height: 400px;
  border: 1px solid #666;
  overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt01_btm_img01.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt01_btm_img02.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i3{
  background-image: url('../images/sub01_cnt01_btm_img03.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i4{
  background-image: url('../images/sub01_cnt01_btm_img04.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i5{
  background-image: url('../images/sub01_cnt01_btm_img05.jpg');
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
  width: calc(50% - 20px);
  margin: 0px 10px;
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 560px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt02_img01.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt02_img02.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{}

/* 컨텐츠3 */
div.cntWrap.cntWrap03{
 height: 680px;
 margin-top: -200px;
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 background-image: url('../images/sub01_cnt03_bg.jpg');
}
div.cntWrap.cntWrap03>div.content.cnt03{}
div.cntWrap.cntWrap03>div.content.cnt03>div.header{
 padding-top: 240px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section{}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop{}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article{}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.image{}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts{
  text-align: center;
  margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts>h3{
  font-size: 30px;
  font-family: 'nsBold';
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artTop>div.article>div.texts>p{
  font-size: 24px;
  line-height: 40px;
  height: 80px;
  margin-top: 30px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm{
  width: calc(100% / 12 * 11);
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article{
  width: calc(100% / 6 - 20px);
  margin: 0px 10px;
  float: left;
  cursor: pointer;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  color: transparent;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt03_img01.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt03_img02.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i3{
  background-image: url('../images/sub01_cnt03_img03.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i4{
  background-image: url('../images/sub01_cnt03_img04.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i5{
  background-image: url('../images/sub01_cnt03_img05.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.image.i6{
  background-image: url('../images/sub01_cnt03_img06.png');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.artBtm>div.article>div.texts{
  display: none;
}

/* 컨텐츠4 */
/* 애니메이션 키프레임 */
@-webkit-keyframes name66 {
  0%,
   100% {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
     -webkit-transform-origin: 0 50%;
             transform-origin: 0 50%;
   }
   10% {
     -webkit-transform: rotate(2deg);
             transform: rotate(2deg);
   }
   20%,
   40%,
   60% {
     -webkit-transform: rotate(-4deg);
             transform: rotate(-4deg);
   }
   30%,
   50%,
   70% {
     -webkit-transform: rotate(4deg);
             transform: rotate(4deg);
   }
   80% {
     -webkit-transform: rotate(-2deg);
             transform: rotate(-2deg);
   }
   90% {
     -webkit-transform: rotate(2deg);
             transform: rotate(2deg);
   }
}
div.cntWrap>div.content.cnt04{}
div.cntWrap>div.content.cnt04>div.header{}
div.cntWrap>div.content.cnt04>div.section{}
div.cntWrap>div.content.cnt04>div.section>div.artTop{
  width: calc(100% -70px);
}
div.cntWrap>div.content.cnt04>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article{
  width: calc(100% / 4 - 80px);
  margin: 0px 40px;
  float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image{
  height: 320px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image:hover{
  animation-name: name66;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image.i1{
  background-image: url('../images/sub01_cnt04_img01.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image.i2{
  background-image: url('../images/sub01_cnt04_img02.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image.i3{
  background-image: url('../images/sub01_cnt04_img03.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.image.i4{
  background-image: url('../images/sub01_cnt04_img04.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article>div.texts{
 display: none;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid{
  margin-top: 30px;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article{}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.image{
  width: calc(100% / 12 * 2);
  margin-left: 40px;
  height: 320px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  color: transparent;
  cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.image:hover{
  animation-name: name66;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.image.i5{
 background-image: url('../images/sub01_cnt04_img05.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts{
 width: calc(100% / 12 * 7);
 margin: 80px 110px;
 color: #333;
 text-align: center;
 float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts>h3{
  font-size: 24px;
  line-height: 40px;
  font-family: 'nsBold';
}
div.cntWrap>div.content.cnt04>div.section>div.artMid>div.article>div.texts>p{
  font-size: 19px;
  line-height: 30px;
  height: 80px;
  margin-top: 40px;
  font-family: 'nsRegular';
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm{
  width: 100%;
  margin-top: 30px;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm::after{
 content: '';
 display: block;
 clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article{
 width: calc(100% / 4 - 80px);
 margin: 0px 40px;
 float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image:hover{
 animation-name: name66;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}

div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image{
 height: 320px;
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
 color: transparent;
 cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i6{
 background-image: url('../images/sub01_cnt04_img06.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i7{
 background-image: url('../images/sub01_cnt04_img07.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i8{
  background-image: url('../images/sub01_cnt04_img08.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.image.i9{
  background-image: url('../images/sub01_cnt04_img09.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artBtm>div.article>div.texts{
  display: none;
}

/* 푸터 */
div.ftrWrap{
  margin: 80px 0px;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
div.ftrWrap>div.footer>div.logo{
  font-size: 45px;
  text-transform: uppercase;
  color: #0056a4;
  line-height: 40px;
  font-family: 'nsBold';
  cursor: pointer;
}
div.ftrWrap>div.footer>h3{
  font-size: 18px;
  color: #333;
  line-height: 40px;
  font-family: 'nsRegular';
}
div.ftrWrap>div.footer>form{}
div.ftrWrap>div.footer>form>input{
  width: calc(100% / 12 * 3.5);
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  margin: 10px 0px;
  border: 1px solid #0056a4;
}
div.ftrWrap>div.footer>form>::placeholder{
  color: #0056a4;
  font-size: 14px;
  font-family: 'nsRegular';
}
div.ftrWrap>div.footer>h4{
  font-size: 11px;
  color: #999;
  line-height: 40px;
  font-family: 'nsRegular';
}

/* 투탑 */
div.totop{
  width: 60px;
  height: 60px;
  background-color: #0056a4;
  color: #fff;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-family: 'nsLight';
  cursor: pointer;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes move{
  0%{
    opacity: 1;
    bottom: 50px;
  }
  50%{
    opacity: 0.7;
    bottom: 60px;
  }
  100%{
    opacity: 1;
    bottom: 50px;
  }
}
div.totop:hover{
  background-color: #fc0;
  color: #fff;
}
