/* 헤더 */
div.hdrWrap{
  background-color: #000;
  height: 40px;
}
div.hdrWrap>div.header{
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  height: 40px;
  overflow: hidden;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
  display: block;
  font-size: 28px;
}
div.hdrWrap>div.header>div.hdrTop>h1{
  font-size: 35px;
}
div.hdrWrap>div.header>div.hdrTop>ul.btn{
  font-size: 28px;
}
/* 메인 */
div.mnWrap>div.main{
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 320px 0px 160px;
}
div.mnWrap>div.main>div.texts>h2{
  font-size: 35px;
  line-height: 40px;
  height: 80px;
}
/* 컨텐츠공통 */
div.cntWrap>div.content{
  width: 90%;
  max-width: 1024px;
}
div.cntWrap>div.content>div.section div.design1{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup{
  opacity: 100%;
  margin-top: 0px;
}

/* 컨텐츠 1*/
div.cntWrap>div.content.cnt01>div.header>h2{
  background-color: #e1e0d8;
  box-shadow: none;
  color: #3b415b;
  font-size: 35px;
}
div.cntWrap>div.content.cnt01>div.header>div.design{
  display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop{
  border-top: 5px solid #3b415b;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup::before{
  content: 'part';
  display: block;
  color: #3b415b;
  font-size: 25px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 15px;
}
div.cntWrap>div.content.cnt01>div.section div.artBtm>div.artGroup::before{
  content: 'genre';
  position: absolute;
  bottom: 15px;
  right: 70px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup{
  top: 0px;
  left: 5%;
  padding: 80px 0px;
  position: inherit;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.image{
  background-color: #e1e0d8;
  height: 140px;
}
div.cntWrap>div.content.cnt01>div.section div.artGroup>div.article>div.texts{
  color: #3b415b;
  font-size: 24px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i1{
  background-image: url(../image/artist/artist03_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i2{
    background-image: url(../image/artist/artist07_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i3{
    background-image: url(../image/artist/artist02_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.artGroup>div.article>div.image.i4{
    background-image: url(../image/artist/artist08_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
  border-top: 5px solid #3b415b;
  border-bottom: 5px solid #3b415b;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i1{
  background-image: url(../image/artist/artist04_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i2{
    background-image: url(../image/artist/artist01_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i3{
    background-image: url(../image/artist/artist05_2.png);
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.artGroup>div.article>div.image.i4{
    background-image: url(../image/artist/artist06_2.png);
}
/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.header>div.design{
  display: none;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  background-color: #e1e0d8;
  box-shadow: none;
  color: #3b415b;
  font-size: 35px;
  top: 10PX;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
  width: 480%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
  opacity: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)~div.article>div.image{
  height: 400px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)>div.image{
  height: 450px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article:nth-child(2)>div.image{
  border: 10px solid #3b415b;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
  width: 100%;
  position: initial;
  height: 620px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
  color: #3b415b;
  font-size: 24px;
}

/* 푸터 */
div.ftrWrap>div.footer{
  padding: 80px 0px 40px;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu{
  display: none;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country{
  margin-top: 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country>li{
  font-size: 20px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>p{
  font-size: 13.5px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  font-size: 13.5px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li>h4{
  height: 40px;
  right: 50px;
}
/* 네비박스 */
div.navBox{
  display: block;
  width: 0vw;
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5;
  color: #fff;
  left: 0;
  overflow: hidden;
  transition: width 0.5s;
}
div.navBox>div.top{
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 60px;
}
div.navBox>div.top::after{
  content: '';
  display: block;
  clear: both;
}
div.navBox>div.top>div.logo{
  text-transform: uppercase;
  float: left;
  font-weight: 700;
  width: calc(100% / 8 * 4);
  text-align: center;
}
div.navBox>div.top>div.btn{
  float: left;
  line-height: 40px;
  width: calc(100% / 8 * 2);
  line-height: 60px;
}
div.navBox>div.top>div.btn:nth-child(1){
  text-align: left;
}
div.navBox>div.top>div.btn:nth-last-child(1){
  float: right;
  text-align: right;
}
div.navBox>div.bottom{
  border: 30px solid #301B3F;
  height: 96vh;
}
div.navBox>div.bottom>ul.nav{
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  line-height: 200px;
}
