body{
  position: relative;
}
/* 헤더 */
div.hdrWrap{
  background-color:rgba( 000, 000, 000, 0.6 );
  position: relative;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  color: #fff;
}
div.hdrWrap>div.header>div.hdrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>div.hdrTop{
  text-align: center;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
  float: left;
  font-size: 30px;
  line-height: 40px;
  width: calc(100% / 12);
  cursor: pointer;
}
div.hdrWrap>div.header>div.hdrTop>h1{
  text-transform: uppercase;
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  float: left;
  width: calc(100% / 12 * 10);

}
div.hdrWrap>div.header>div.hdrTop>ul.btn{
  font-size: 30px;
  line-height: 40px;
  float: right;
  width: calc(100% / 12);
}
div.hdrWrap>div.header>div.hdrTop>ul.btn>i{
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}
div.hdrWrap>div.header>ul.nav{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  line-height: 40px;
}
div.hdrWrap>div.header>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  width: calc(100% / 3 );
  line-height: 40px;
}

/* 메인 */
div.mnWrap{
  background-color: black;
  margin-top: -80px;
  position: relative;
  height: 980px;
  overflow: hidden;
}
div.mnWrap>video{
  height: 1175px;
  width: 100%;
}
div.mnWrap>div.main{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.mnWrap>div.main>div.texts{
  position: absolute;
  bottom: 200px;
  height: 100px;
  width: 50%;
}
div.mnWrap>div.main>div.texts>h2{
  font-size: 60px;
  height: 120px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
}
div.mnWrap>div.main>div.texts>div.btn{
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 160px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
div.mnWrap>div.main>div.texts>div.btn:hover{
  background-color: #fff;
  color: #000;
}

/* 컨텐츠공통 */
div.cntWrap{
  background-color: #e1e0d8;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 80px;
}
div.cntWrap>div.content div.image{
  background-color: pink;
}
div.cntWrap>div.content div.texts>h3{
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 80px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
  padding: 120px 0px 240px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr::after{
  content: '';
  display: block;
  width: 80px;
  height: 200px;
  background-color: #301B3F;
  position: absolute;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.imageGr::after{
  right: -100px;
  top: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.imageGr::after{
  left: -100px;
  bottom: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr{
  width: calc(100% / 2 - 10px);
  float: right;
  position: relative;
  box-shadow: 2px 2px 8px #222;
  color: transparent;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.imageGr{
  margin-top: -40px;

}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.imageGr{
  float: left;
  margin-top: -200px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.image{
  width: 100%;
  height: 600px;
  z-index: 2;
  position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.image.i1{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../image/main/content01_2.jpg);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.image.i2{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../image/main/content01.jpg);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.imgBg{
  position: absolute;
  background-color: #301B3F;
  width: calc(100% / 6 * 5);
  height: 600px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.imgBg.i1{
  top: -40px;
  right: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.imageGr>div.imgBg.i2{
  left: -40px;
  bottom: -40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  float: left;
  width: calc(100% / 2 - 10px);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  text-transform: uppercase;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)>div.texts>h3{
  margin-left: calc(100% / 6 * 3.5);
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts>h3{
  margin-left: calc(100% / 6 );
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  margin: 40px 60px 0px;
  line-height: 20px;
  font-size: 12px;
  width: calc(100% / 6 * 4.5);
  height: 160px;
  font-weight: 700;
}

/* 컨텐츠2 */
div.cntWrap.cntWrap02{
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02{
  color: #fff;
  position: relative;
  padding: 120px 0px 160px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.header{
  position: relative;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.header>h2{
  text-align: center;
  text-shadow: 4px 4px 8px #000;
  position: absolute;
  top: -200px;
  width: calc(100% / 12 * 4.5);
  background-color: #301B3F;
}
/* section */
div.cntWrap.cntWrap02>div.content.cnt02>div.section{
  position: relative;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view{
  width: 100%;
  overflow: hidden;
  height: 400px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup{
  width: 200%;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article{
  float: left;
  width: calc(100% / 6 - 20px);
  margin: 0 10px;
  border-top: 4px solid rgb(58, 40, 40);
  border-radius: 30px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a2{
  margin-top: 40px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a4{
  margin-top: 40px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a6{
  margin-top: 40px;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article>div.image{
  height: 380px;
  margin: 25px 0px;
  box-shadow: 4px 4px 8px #222;
  color: transparent;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a1>div.image.i1{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/pianist01.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a2>div.image.i2{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/pianist02.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a3>div.image.i3{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../image/main/hornist.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a4>div.image.i4{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../image/main/soprano.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a5>div.image.i5{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../image/main/sopriano01.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article.a6>div.image.i6{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url('../image/main/image_5209236591625447349089.png');
  background-color: #301B3F;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article>div.texts{
  margin-top: -400px;
  padding-bottom: 300px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article>div.texts>h3{
  text-shadow: 4px 4px 8px #000;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.view>div.artGroup>div.article>div.texts>h5{
  text-shadow: 4px 4px 8px #000;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.btns{
  width: 100%;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  height: 50px;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: 2px 2px 6px #000;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.btns>div.btn:nth-child(1){
  float: left;
}
div.cntWrap.cntWrap02>div.content.cnt02>div.section>div.btns>div.btn:nth-child(2){
  float: right;
}

/* 컨텐츠3 */
div.cntWrap.cntWrap03{
  background-color: #3C415C;
}
div.cntWrap.cntWrap03>div.content.cnt03{
  color: #fff;
  padding: 120px 0px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.header{
  position: relative;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.header>h2{
  text-align: center;
  text-shadow: 4px 4px 8px #000;
  background-color: #3C415C;
  width: calc(100% / 12 * 4.5);
  position: absolute;
  top: -200px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section{
  position: relative;
  height: 340px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view{
  overflow: hidden;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup{
  width: 200%;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article{
  float: left;
  width: calc(100% / 6 - 10px);
  margin: 0px 5px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image{
  height: 300px;
  box-shadow: 4px 4px 8px #222;
  border-radius: 20px;
  margin-top: 45px;
  color: transparent;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article:nth-child(3)>div.image{
  height: 400px;
  margin-top: 0px;
  border: 3px solid #222;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i1{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist01.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i2{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist02.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i3{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist03.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i3{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist4.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i4{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist5.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i5{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist6.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.image.i6{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../image/main/artist7.PNG');
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article>div.texts>h3{
  text-align: center;
  line-height: 40px;
  opacity: 0%;
  margin-top: -40px;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.view>div.artGroup>div.article:nth-child(3)>div.texts>h3{
  text-align: center;
  opacity: 100%;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.btns{
  width: 100%;
  position: relative;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  height: 50px;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: 2px 2px 6px #000;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.btns>div.btn:nth-child(1){
  height: 50px;
  width: 100px;
  left: 0;
  position: absolute;
}
div.cntWrap.cntWrap03>div.content.cnt03>div.section>div.btns>div.btn:nth-child(2){
  height: 50px;
  width: 50px;
  right: 0;
  position: absolute;
}


/* 배너 */
div.bnrWrap{
    background-color: #e1e0d8;
}
div.bnrWrap>div.banner{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding: 120px 0px;
}
div.bnrWrap>div.banner>h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  top: 30px;
  position: absolute;
}

div.bnrWrap>div.banner>h3:hover{
  text-shadow: 2px 2px 6px #666;
}
div.bnrWrap>div.banner>h3{
  font-size: 30px;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  cursor: pointer;
}


/* 푸터 */
div.ftrWrap{
  background-color: #000;
  color: #fff;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 120px 0px 40px;
}
div.ftrWrap>div.footer{
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
}
div.ftrWrap>div.footer>div.ftrTop::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
  float: left;
  width: calc(100% / 12 * 8);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: calc(100% / 12);
  line-height: 40px;
  height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li:hover:after{
  width: 100%;
  left: 0;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li::after{
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  transition: 0.5s;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.menu>li{
  float: left;
  margin-right: 30px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  left: 5px;
  top: 0;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country{
  margin-top: 80px;
  margin-left: calc(100% / 12);
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country>li:nth-child(1){
  color: #ccc;
  opacity: 80%;
  font-weight: normal;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.country>li{
  float: left;
  font-size: 15px;
  padding-right: 20px;
  font-weight: 700;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>p{
  font-size: 12px;
  line-height: 40px;
  margin-left: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav{
  font-size: 12px;
  line-height: 40px;
  margin-left: calc(100% / 12);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  margin-right: 20px;
  cursor: pointer;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>ul.nav>li{
  float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
  float: right;
  width: calc(100% / 12 * 4);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns{
  line-height: 40px;
  text-align: right;
  cursor: pointer;
  margin-right: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li:hover>h4{
  height: 40px;
  right: 50px;
  transition: 0.5s;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li{
  position: relative;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li>h4{
  font-size: 12px;
  position: absolute;
  right: 0px;
  height: 0px;
  overflow: hidden;
  line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li>i{
  font-size: 40px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul.sns>li:nth-child(1)~li{
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>h1{
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
div.navBox{
  display: none;
}